.publicbenefit {
  width: 100%;
  background: #ffffff;
  padding-bottom: 40px; }
  .publicbenefit .content_title h2 {
    color: #333333; }
  .publicbenefit .content_title section {
    color: #666666; }
  .publicbenefit .publicbenefit_down {
    padding: 0;
    display: flex; }
    .publicbenefit .publicbenefit_down li {
      margin-right: 20px;
      width: 386px;
      height: 450px;
      background: #ffffff;
      border: 1px solid #d7e7ff;
      border-radius: 10px;
      box-shadow: 0 0 5px 0px rgba(0, 110, 255, 0.15); }
      .publicbenefit .publicbenefit_down li img {
        width: 386px;
        height: 240px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin-bottom: 12px; }
      .publicbenefit .publicbenefit_down li div {
        text-align: center; }
        .publicbenefit .publicbenefit_down li div h3 {
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          color: #333333; }
        .publicbenefit .publicbenefit_down li div p {
          font-size: 18px;
          font-weight: 400;
          text-align: left;
          color: #999999;
          padding: 0 15px;
          margin-top: 30px; }
        .publicbenefit .publicbenefit_down li div div {
          width: 60px;
          height: 4px;
          background: #ffffff;
          display: none; }
        .publicbenefit .publicbenefit_down li div button {
          display: none;
          color: #ffffff;
          background-color: rgba(255, 255, 255, 0);
          border: 1px solid #ffffff;
          padding: 5px 20px;
          margin-left: 20px;
          font-size: 10px; }
          .publicbenefit .publicbenefit_down li div button a {
            color: #ffffff;
            text-decoration: none; }
          .publicbenefit .publicbenefit_down li div button a:hover {
            color: #ffffff; }
    .publicbenefit .publicbenefit_down li:hover {
      background: #006eff;
      border: 1 solid #006eff;
      box-shadow: 5px 5px 27px 0px rgba(0, 110, 255, 0.5); }
      .publicbenefit .publicbenefit_down li:hover div h3 {
        color: #ffffff; }
      .publicbenefit .publicbenefit_down li:hover div p {
        display: none; }
      .publicbenefit .publicbenefit_down li:hover div div {
        display: inline-block; }
      .publicbenefit .publicbenefit_down li:hover div button {
        display: block;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #ffffff;
        padding: 5px 20px;
        margin-top: 20px;
        margin-left: 130px;
        font-size: 18px; }
    .publicbenefit .publicbenefit_down li:nth-child(3) {
      margin-right: none; }

@media (max-width: 1200px) {
  .publicbenefit {
    padding-bottom: 40px; }
    .publicbenefit .publicbenefit_down {
      padding: 0;
      display: block; }
      .publicbenefit .publicbenefit_down li {
        display: flex;
        margin-right: 0;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 20px;
        height: 180px;
        background: #ffffff;
        border: 1px solid #d7e7ff;
        border-radius: 10px;
        box-shadow: 0 0 5px 0px rgba(0, 110, 255, 0.15); }
        .publicbenefit .publicbenefit_down li img {
          width: 30%;
          height: 178px;
          border-radius: 10px 0 0 10px; }
        .publicbenefit .publicbenefit_down li div {
          text-align: center; }
          .publicbenefit .publicbenefit_down li div h3 {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #333333; }
          .publicbenefit .publicbenefit_down li div p {
            font-size: 18px;
            font-weight: 400;
            text-align: left;
            color: #999999;
            padding: 0 15px;
            margin-top: 30px; }
          .publicbenefit .publicbenefit_down li div div {
            width: 60px;
            height: 4px;
            background: #ffffff;
            display: none; }
          .publicbenefit .publicbenefit_down li div button {
            display: none; }
            .publicbenefit .publicbenefit_down li div button a {
              color: #ffffff;
              text-decoration: none; }
            .publicbenefit .publicbenefit_down li div button a:hover {
              color: #ffffff; }
      .publicbenefit .publicbenefit_down li:hover {
        background: #ffffff;
        border: 1px solid #d7e7ff;
        box-shadow: 0 0 5px 0px rgba(0, 110, 255, 0.15); }
        .publicbenefit .publicbenefit_down li:hover div h3 {
          color: #333333; }
        .publicbenefit .publicbenefit_down li:hover div p {
          display: block; }
        .publicbenefit .publicbenefit_down li:hover div button {
          display: none; }
      .publicbenefit .publicbenefit_down li:nth-child(3) {
        margin-right: none; } }
@media (max-width: 1200px) {
  .publicbenefit {
    padding-bottom: 40px; }
    .publicbenefit .publicbenefit_down {
      padding: 0;
      display: block; }
      .publicbenefit .publicbenefit_down li {
        display: flex;
        margin-right: 0;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 20px;
        height: 120px;
        background: #ffffff;
        border: 1px solid #d7e7ff;
        border-radius: 10px;
        box-shadow: 0 0 5px 0px rgba(0, 110, 255, 0.15); }
        .publicbenefit .publicbenefit_down li img {
          width: 30%;
          height: 118px;
          border-radius: 10px 0 0 10px; }
        .publicbenefit .publicbenefit_down li div h3 {
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          color: #333333; }
        .publicbenefit .publicbenefit_down li div p {
          margin-top: 10px;
          font-size: 12px; } }

/*# sourceMappingURL=publicbenefit.css.map */
