<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 样式抹平 -->
    <link rel="stylesheet" href="../statics/css/troweling.css">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../statics/css/bootstrap.min.css" rel="stylesheet">

    <!--swiper  -->
    <link rel="stylesheet" href="../statics/css/swiper-bundle.min.css">

    <!-- 主要样式 -->
    <link rel="stylesheet" href="../statics/css/about/index.css">
    <title>about</title>
</head>

<body>
    <!-- 关于我们 -->
    <!-- 导航栏 开始 -->
    <nav class="navbar navbar-default navbar-fixed-top nav_index" role="navigation">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-text navbar-right navbar_phone">
                        <button type="button" class="btn btn-default nav_right_ontrial">
                            <a href="./ontrial.html">免费试用</a>
                        </button>
                    </p>
                    <button type="button" class="navbar-toggle navbar_switch" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img class="nav_logo" alt="Brand" src="../statics/images/logo.png">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="./index.html">首页</a></li>
                        <li><a href="./peonycode.html">牡丹码</a></li>
                        <li><a href="./solution.html">解决方案</a></li>
                        <li><a href="./customercase.html">客户案例</a></li>
                        <li class="is_true_Underline"><a href="./about.html">关于我们</a></li>
                    </ul>
                    <p class="navbar-text navbar-right">
                        <span>4008-654-655</span>
                        <button type="button" class="btn btn-default">
                            <a href="./ontrial.html">免费试用</a>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <!-- 导航栏 结束 -->

    <!-- 轮播 开始 -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../statics/images/banner/banner1_bg.png" alt="...">
                <div class="carousel-caption">
                    <!-- 123 -->
                </div>
            </div>
            <div class="item">
                <img src="../statics/images/banner/banner1_bg.png" alt="...">
                <div class="carousel-caption">
                    <!-- 456 -->
                </div>
            </div>
            <div class="item">
                <img src="../statics/images/banner/banner1_bg.png" alt="...">
                <div class="carousel-caption">
                    <!-- 789 -->
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- 轮播 结束 -->

    <!-- 公司简介 开始 -->
    <div class="brief">
        <div class="container">
            <div class="content_title">
                <h1>公司简介</h1>
            </div>
            <div class="brief_down row">
                <div class="brief_left col-md-6 col-sm-6 col-xs-12">
                    <h1>洛阳智网网络科技有限公司</h1>
                    <p>牡丹码一物一码智能营销系统致力于为传统中小快消品企业提供专业的一物一码全套解决方案。</p>
                    <p>公司现有于国家级信息产业园区洛阳信息科技城，是由互补从业十六年的互联网高级开发运营团队组成的，公司现有现有员工300余名，拥有技术研发型人才三十余名，研发实验室占地800㎡，软件研发测试设备30余台。
                    </p>
                    <p>目前拥有1项新型发明专利，2个注册商标，17项软件著作权。</p>
                    <p>合作品牌客户遍布全国三十余省级行政区域的千百余个城市合作商，包括华彬快消品集团，碧桂园，王府井，红星美凯龙，中国黄金，苏宁国美，海尔，农商银行，税务局等品牌企业及政府机构。</p>
                    <p> 公司始终秉持“尊重市场，客户第一”的价值观，以专业，高效，诚信，务实的标准为代理商和门店客户提供优质的产品和服务，在不远的将来，让我们一起携手智网，共创辉煌！</p>
                </div>
                <div class="brief_right col-md-6 col-sm-6 col-xs-12">
                    <img src="../statics/images/about/brief_bg.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- 公司简介 结束 -->

    <!-- 公司资质 开始 -->
    <div class="qualifications">
        <div class="container">
            <div class="content_title">
                <h1>公司资质</h1>
                <section>智网拥有17项软件著作权</section>
            </div>
            <div class="two row">
                <div class="swiper-container col-md-12 col-sm-12 col-xs-10">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>

        </div>
    </div>
    <!-- 公司资质 结束 -->

    <!-- 团队风采 开始 -->
    <div class="team">
        <div class="container">
            <div class="content_title">
                <h1>团队风采</h1>
                <section>智网大家庭集体出游合影留念</section>
            </div>
            <div id="certify" class="row">
                <div class="swiper-container col-md-12 col-sm-12 col-xs-10">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../statics/images/about/team/team_bg1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../statics/images/about/team/team_bg2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../statics/images/about/team/team_bg3.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../statics/images/about/team/team_bg4.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../statics/images/about/team/team_bg5.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <!-- <div class="swiper-pagination"></div> -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <!-- 团队风采 结束 -->

    <!-- 公益活动 开始 -->
    <div class="publicbenefit">
        <div class="container">
            <div class="content_title">
                <h1>公益活动</h1>
                <section>智网网络公益在行动</section>
            </div>
            <ul class="publicbenefit_down">
                <li>
                    <img src="../statics/images/about/publicbenefit/icon_1.png" alt="">
                    <div>
                        <h3>宜阳县上观乡梨树沟小学</h3>
                        <p>这是内容，这是内容这是内容这是内容，这是内容这是内容，这是内容，这是内容。这是内容。</p>
                        <div></div>
                        <button type="button" class="btn btn-default nav_right_ontrial">
                            <a href="">查看详情</a>
                        </button>
                    </div>
                </li>
                <li>
                    <img src="../statics/images/about/publicbenefit/icon_1.png" alt="">
                    <div>
                        <h3>宜阳县上观乡梨树沟小学</h3>
                        <p>这是内容，这是内容这是内容这是内容，这是内容这是内容，这是内容，这是内容。这是内容。</p>
                        <div></div>
                        <button type="button" class="btn btn-default nav_right_ontrial">
                            <a href="">查看详情</a>
                        </button>
                    </div>
                </li>
                <li>
                    <img src="../statics/images/about/publicbenefit/icon_1.png" alt="">
                    <div>
                        <h3>宜阳县上观乡梨树沟小学</h3>
                        <p>这是内容，这是内容这是内容这是内容，这是内容这是内容，这是内容，这是内容。这是内容。</p>
                        <div></div>
                        <button type="button" class="btn btn-default nav_right_ontrial">
                            <a href="">查看详情</a>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 公益活动 结束 -->

    <!-- 位置 开始 -->
    <div class="position">
        <div class="container">
            <div class="row">
                <div class=" position_map col-md-6 col-sm-6 col-xs-10">
                    <div id="position_map"></div>
                </div>
                <div class="position_contact col-md-6 col-sm-6 col-xs-10">
                    <div>
                        <section>电话咨询</section>
                        <span>4008-654-655</span>
                    </div>
                    <div>
                        <section>QQ咨询</section>
                        <span>44861444</span>
                    </div>
                    <div>
                        <section>邮箱咨询</section>
                        <span>44861444@qq.com</span>
                    </div>
                    <div>
                        <section>公司地址</section>
                        <span>洛阳市王城大道与纱厂西路洛阳信息科技城3079号</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- 位置 结束 -->


    <!-- 底部 开始 -->
    <div class="footer">
        <div class="container">
            <div class="footer_tit">
                <img src="../statics/images/logo.png" alt="">
                <div>一物一码智能营销系统</div>
            </div>
            <div class="row footer_contenr">
                <div class="footer_contenr_left col-md-3">
                    <p>客服咨询热线</p>
                    <h3>135-2459-1185</h3>
                    <button type="button" class="btn btn-default">在线咨询</button>
                </div>
                <div class="footer_contenr_center col-md-6">
                    <ul>
                        <li><a href="">友情链接</a></li>
                        <li><a href="">智网网络</a></li>
                        <li><a href="">拓客来</a></li>
                        <li><a href="">码上拓客</a></li>
                        <li><a href="">拓客多多</a></li>
                    </ul>
                    <ul>
                        <li><a href="">解决方案</a></li>
                        <li><a href="">酒水行业</a></li>
                        <li><a href="">快销行业</a></li>
                        <li><a href="">食品行业</a></li>
                        <li><a href="">母婴行业</a></li>
                    </ul>
                    <ul>
                        <li><a href=""> </a></li>
                        <li><a href="">饮料行业</a></li>
                        <li><a href="">日化行业</a></li>
                        <li><a href="">美妆行业</a></li>
                        <li><a href="">其他行业</a></li>
                    </ul>
                    <ul>
                        <li><a href="">产品中心</a></li>
                        <li><a href="">防伪系统</a></li>
                        <li><a href="">溯源系统</a></li>
                        <li><a href="">红包促销</a></li>
                        <li><a href="">积分商城</a></li>
                        <li><a href="">防窜预报</a></li>
                        <li><a href="">大数据分析</a></li>
                    </ul>
                    <ul>
                        <li><a href="">关于我们</a></li>
                        <li><a href="">公司简介</a></li>
                        <li><a href="">团队风采</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>
                <div class="footer_contenr_right col-md-3">
                    <div class="footer_contenr_right_left">
                        <p>客服咨询热线</p>
                        <h3>135-2459-1185</h3>
                    </div>
                    <div class="footer_contenr_right_right">
                        <img src="../statics/images/code.png" alt="">
                        <p>添加客服微信</p>
                        <p>立即获取数字化营销方案</p>
                    </div>

                </div>

            </div>
            <div class="footer_last">
                <section>版权所有洛阳智网网络科技有限公司豫ICP备12039819号-2</section>
                <section>豫公网安备11010502038687号</section>
            </div>
        </div>
    </div>
    <!-- 底部 结束 -->

    <!-- 侧边栏 开始 -->
    <div id="scroll-nav" class="hidden-xs scroll-nav">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="bg_WeChat">
                <a href="javascript:void(0)">
                    <img src="../statics/images/contact/wechat_side.png" alt="" srcset="" />
                    <div>微信咨询</div>
                </a>
                <div class="qrCodeImg">
                    <img src="../statics/images/wexin.jpg" alt="" srcset="" />
                </div>
            </li>
            <li role="presentation" class="bg_officialaccount">
                <a href="javascript:void(0)">
                    <img src="../statics/images/contact/public_side.png" alt="" srcset="" />
                    <div>公众号</div>
                </a>
                <div class="qrCodeImg">
                    <img src="../statics/images/code.png" alt="" srcset="" />
                </div>
            </li>
            <li role="presentation" class="phone_side bg_phone">
                <a href="javascript:void(0)">
                    <img src="../statics/images/contact/phone_side.png" alt="" srcset="" />
                    <div>电话咨询</div>
                </a>
                <div class="phone">135-2459-1185</div>
            </li>
            <li role="presentation" class="top_side">
                <a href="javascript:void(0)" id="back-to-top">
                    <img src="../statics/images/contact/top_side.png" alt="" srcset="" />
                    <div>返回顶部</div>
                </a>
            </li>
        </ul>
    </div>
    <!-- 侧边栏  结束 -->



    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../statics/js/jquery-2.1.4.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../statics/js/bootstrap.min.js"></script>

    <!-- swiper插件 -->
    <script src="../statics/js/swiper-bundle.min.js"></script>

    <!-- 轮播-->
    <script>
        var thisWidth = $(window).width(); //浏览器当前窗口可视区域宽度
        var thisDocumentWidth = $(document).width(); //浏览器当前窗口文档对象宽度
        var thisBodyWidth = $(document.body).width(); //浏览器当前窗口文档body的宽度
        var totalBodyWidth = $(document.body).outerWidth(true); //浏览器当前窗口文档body的总宽度 包括border padding margin
        if (thisWidth < 768) {
            var swiper = new Swiper('.two .swiper-container', {
                autoplay: {
                    delay: 10, // 几秒切换一次
                    disableOnInteraction: false,
                }, // 可选选项自动滑动
                freeMode: true,
                // autoplay: 1, //自动滚动
                loop: true, //循环
                speed: 5000, //滚动速度
                slidesPerView: 3, //slide可见数量
                spaceBetween: 10 //slide之间的距离（单位px）
            });
        } else {
            var swiper = new Swiper('.two .swiper-container', {
                autoplay: {
                    delay: 10, // 几秒切换一次
                    disableOnInteraction: false,
                }, // 可选选项自动滑动
                freeMode: true,
                // autoplay: 1, //自动滚动
                loop: true, //循环
                speed: 5000, //滚动速度
                slidesPerView: 4, //slide可见数量
                spaceBetween: 10 //slide之间的距离（单位px）
            });
        }
    </script>

    <!-- 层叠轮播 -->
    <script>
        var mySwiper = new Swiper('#certify .swiper-container', {
            effect: 'coverflow',
            centeredSlides: true, // 设定为true时，active slide会居中，而不是默认状态下的居左。
            watchSlidesProgress: true,
            slidesPerView: 'auto',
            loop: true,
            loopedSlides: 5,
            // speed: 5000, //滚动速度
            autoplay: true,
            autoplay: {
                delay: 3000, // 3秒切换一次
                disableOnInteraction: false,
            }, // 可选选项自动滑动
            // 轮播效果
            coverflowEffect: {
                rotate: 0, // slide做3d旋转时Y轴的旋转角度
                stretch: 100, // 每个slide之间的拉伸值，越大slide靠得越紧。5.3.6 后可使用%百分比
                depth: 500, // slide的位置深度。值越大z轴距离越远，看起来越小。
                modifier: 1, // depth和rotate和stretch的倍率，相当于depth*modifier、rotate*modifier、stretch*modifier，值越大这三个参数的效果越明显。
                slideShadows: true, // 是否开启slide阴影
            },
            // 指示器
            pagination: {
                el: '.swp-pagination-honor',
            },
            // 前后键
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        })
    </script>

    <script type="text/javascript"
        src="https://api.map.baidu.com/api?v=1.0&&type=webgl&ak=LWa5yGT95ehEtUf5sdXcmogqGv9AzjRD"></script>
    <script>
        // 百度地图
        var map = new BMapGL.Map("position_map");
        var point = new BMapGL.Point(112.427371, 34.688424);
        map.centerAndZoom(point, 16);
        map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放
        var content = "洛阳智网网络有限公司";
        var label = new BMapGL.Label(content, { // 创建文本标注
            position: point, // 设置标注的地理位置
            offset: new BMapGL.Size(-10, -20) // 设置标注的偏移量
        })
        map.addOverlay(label); // 将标注添加到地图中
        label.setStyle({ // 设置label的样式
            color: '#000',
            fontSize: '20px',
            border: '2px solid #1E90FF'
        })
    </script>

    <!-- 通用 导航 滚动 -->
    <script src="../statics/js/index.js"></script>
</body>

</html>