<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 样式抹平 -->
    <link rel="stylesheet" href="../statics/css/troweling.css">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../statics/css/bootstrap.min.css" rel="stylesheet">

    <!--swiper  -->
    <link rel="stylesheet" href="../statics/css/swiper-bundle.min.css">

    <!-- 主要样式 -->
    <link rel="stylesheet" href="../statics/css/about/index.css">
    <title>about</title>
</head>

<body>
    <!-- 关于我们 -->
    <!-- 导航栏 开始 -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img class="nav_logo" alt="Brand" src="../statics/images/logo.png">
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="./index.html">首页</a></li>
                    <li><a href="./peonycode.html">牡丹码</a></li>
                    <li><a href="./solution.html">解决方案</a></li>
                    <li><a href="./customercase.html">客户案例</a></li>
                    <li class="is_true_Underline"><a href="./about.html">关于我们</a></li>
                </ul>
                <p class="navbar-text navbar-right">
                    <span>4008-654-655</span>
                    <!-- <button class="nav_right_ontrial">免费试用</button> -->
                    <button type="button" class="btn btn-default nav_right_ontrial">
                        <a href="./ontrial.html">免费试用</a>
                    </button>
                </p>
            </div>
        </div>
    </nav>
    <!-- 导航栏 结束 -->

    <!-- 轮播 开始 -->
    <div class="one">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../statics/images/banner/banner1_bg.png" alt="">
                    <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
                </div>
                <div class="swiper-slide">
                    <img src="../statics/images/banner/banner1_bg.png" alt="">
                    <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
                </div>
                <div class="swiper-slide">
                    <img src="../statics/images/banner/banner1_bg.png" alt="">
                    <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
                </div>
                <div class="swiper-slide">
                    <img src="../statics/images/banner/banner1_bg.png" alt="">
                    <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>

            <!-- 如果需要导航按钮 -->
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->

            <!-- 如果需要滚动条 -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </div>

    <!-- 公司简介 开始 -->
    <div class="brief">
        <div class="container fixed_width">
            <div class="brief_tit">公司简介</div>
            <div class="brief_down row">
                <div class="brief_left col-md-6">
                    <h1>洛阳智网网络科技有限公司</h1>
                    <p>牡丹码一物一码智能营销系统致力于为传统中小快消品企业提供专业的一物一码全套解决方案。</p>
                    <p>公司现有于国家级信息产业园区洛阳信息科技城，是由互补从业十六年的互联网高级开发运营团队组成的，公司现有现有员工300余名，拥有技术研发型人才三十余名，研发实验室占地800㎡，软件研发测试设备30余台。
                    </p>
                    <p>目前拥有1项新型发明专利，2个注册商标，17项软件著作权。</p>
                    <p>合作品牌客户遍布全国三十余省级行政区域的千百余个城市合作商，包括华彬快消品集团，碧桂园，王府井，红星美凯龙，中国黄金，苏宁国美，海尔，农商银行，税务局等品牌企业及政府机构。</p>
                    <p> 公司始终秉持“尊重市场，客户第一”的价值观，以专业，高效，诚信，务实的标准为代理商和门店客户提供优质的产品和服务，在不远的将来，让我们一起携手智网，共创辉煌！</p>
                </div>
                <div class="brief_right col-md-6">
                    <img src="../statics/images/about/brief_bg.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- 公司简介 结束 -->

    <!-- 公司资质 开始 -->
    <div class="qualifications">
        <div class="container fixed_width">
            <div class="qualifications_tit">
                <h2>公司资质</h2>
                <section>智网拥有17项软件著作权</section>
            </div>
            <div class="two">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- <div class="swiper-slide">
                            <ul class="swiper_item">
                                <li><img src="../statics/images/about/qualifications/icon_1.png" alt=""></li>
                                <li><img src="../statics/images/about/qualifications/icon_1.png" alt=""></li>
                                <li><img src="../statics/images/about/qualifications/icon_1.png" alt=""></li>
                                <li><img src="../statics/images/about/qualifications/icon_1.png" alt=""></li>
                            </ul>
                        </div> -->
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                        <div class="swiper-slide"><img src="../statics/images/about/qualifications/icon_1.png" alt="">
                        </div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>

        </div>
    </div>
    <!-- 公司资质 结束 -->

    <!-- 团队风采 开始 -->
    <div class="team">
        <!-- container fixed_width -->
        <div class="container fixed_width">
            <div class="team_tit">
                <h2>团队风采</h2>
                <section>智网大家庭集体出游合影留念</section>
            </div>
            <div id="certify">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../statics/images/about/team/team_bg1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../statics/images/about/team/team_bg2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../statics/images/about/team/team_bg3.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../statics/images/about/team/team_bg4.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../statics/images/about/team/team_bg5.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <!-- <div class="swiper-pagination"></div> -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <!-- 团队风采 结束 -->

    <!-- 公益活动 开始 -->
    <div class="publicbenefit">
        <div class="container fixed_width">
            <div class="publicbenefit_tit">
                <h2>公益活动</h2>
                <section>智网网络公益在行动</section>
            </div>
            <ul class="publicbenefit_down">
                <li>
                    <img src="../statics/images/about/publicbenefit/icon_1.png" alt="">
                    <div>
                        <h3>宜阳县上观乡梨树沟小学</h3>
                        <p>这是内容，这是内容这是内容这是内容，这是内容这是内容，这是内容，这是内容。这是内容。</p>
                        <div></div>
                        <button type="button" class="btn btn-default nav_right_ontrial">
                            <a href="">查看详情</a>
                        </button>
                    </div>
                </li>
                <li>
                    <img src="../statics/images/about/publicbenefit/icon_1.png" alt="">
                    <div>
                        <h3>宜阳县上观乡梨树沟小学</h3>
                        <p>这是内容，这是内容这是内容这是内容，这是内容这是内容，这是内容，这是内容。这是内容。</p>
                        <div></div>
                        <button type="button" class="btn btn-default nav_right_ontrial">
                            <a href="">查看详情</a>
                        </button>
                    </div>
                </li>
                <li>
                    <img src="../statics/images/about/publicbenefit/icon_1.png" alt="">
                    <div>
                        <h3>宜阳县上观乡梨树沟小学</h3>
                        <p>这是内容，这是内容这是内容这是内容，这是内容这是内容，这是内容，这是内容。这是内容。</p>
                        <div></div>
                        <button type="button" class="btn btn-default nav_right_ontrial">
                            <a href="">查看详情</a>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 公益活动 结束 -->

    <!-- 位置 开始 -->
    <div class="position">
        <div class="container fixed_width">
            <div class="row">
                <div class=" position_map col-md-6">
                    <div id="position_map"></div>
                </div>
                <div class="position_contact col-md-6">
                    <div>
                        <section>电话咨询</section>
                        <span>4008-654-655</span>
                    </div>
                    <div>
                        <section>QQ咨询</section>
                        <span>44861444</span>
                    </div>
                    <div>
                        <section>邮箱咨询</section>
                        <span>44861444@qq.com</span>
                    </div>
                    <div>
                        <section>公司地址</section>
                        <span>洛阳市王城大道与纱厂西路洛阳信息科技城3079号</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- 位置 结束 -->


    <!-- 底部 开始 -->
    <div class="footer">
        <div class="container">
            <div class="footer_tit">
                <img src="../statics/images/logo.png" alt="">
                <div>一物一码智能营销系统</div>
            </div>
            <div class="footer_contenr">
                <div class="footer_contenr_left">
                    <p>客服咨询热线</p>
                    <h3>135-2459-1185</h3>
                    <button type="button" class="btn btn-default">在线咨询</button>
                </div>
                <div class="footer_contenr_center">
                    <table>
                        <thead>
                            <tr>
                                <th>友情链接</th>
                                <th>解决方案</th>
                                <th></th>
                                <th>产品中心</th>
                                <th>关于我们</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="">智网网络</a></td>
                                <td><a href="">酒水行业</a></td>
                                <td><a href="">饮料行业</a></td>
                                <td><a href="">防伪系统</a></td>
                                <td><a href="">公司简介</a></td>
                            </tr>
                            <tr>
                                <td><a href="">拓客来</a></td>
                                <td><a href="">拓客来</a></td>
                                <td><a href="">日化行业</a></td>
                                <td><a href="">溯源系统</a></td>
                                <td><a href="">团队风采</a></td>
                            </tr>
                            <tr>
                                <td><a href="">码上拓客</a></td>
                                <td><a href="">食品行业</a></td>
                                <td><a href="">美妆行业</a></td>
                                <td><a href="">红包促销</a></td>
                                <td><a href="">联系我们</a></td>
                            </tr>
                            <tr>
                                <td><a href="">拓客多多</a></td>
                                <td><a href="">母婴行业</a></td>
                                <td><a href="">其他行业</a></td>
                                <td><a href="">积分商城</a></td>
                                <td><a href=""></a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href="">防窜预报</a></td>
                                <td><a href=""></a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href="">大数据分析</a></td>
                                <td><a href=""></a></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="footer_contenr_right">
                    <img src="../statics/images/code.png" alt="">
                    <p>添加客服微信</p>
                    <p>立即获取数字化营销方案</p>
                </div>

            </div>
            <div class="footer_laster">
                <section>版权所有洛阳智网网络科技有限公司豫ICP备12039819号-2</section>
                <section>豫公网安备11010502038687号</section>
            </div>
        </div>
    </div>
    <!-- 底部 结束 -->

    <script type="text/javascript"
        src="https://api.map.baidu.com/api?v=1.0&&type=webgl&ak=LWa5yGT95ehEtUf5sdXcmogqGv9AzjRD"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../statics/js/jquery-2.1.4.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../statics/js/bootstrap.min.js"></script>

    <!-- swiper插件 -->
    <script src="../statics/js/swiper-bundle.min.js"></script>
    <!-- 轮播 1-->
    <script>
        // 轮播 1
        var mySwiper = new Swiper('.one .swiper-container', {
            // direction: 'vertical', // 垂直切换选项
            // loop: true, // 循环模式选项
            autoplay: {
                delay: 3000, // 3秒切换一次
                disableOnInteraction: false,
            }, // 可选选项自动滑动
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            // 如果需要前进后退按钮
            // navigation: {
            //     nextEl: '.swiper-button-next',
            //     prevEl: '.swiper-button-prev',
            // },

            // 如果需要滚动条
            // scrollbar: {
            //     el: '.swiper-scrollbar',
            // },
        })
    </script>
    <!-- 轮播 2-->
    <script>
        // 轮播
        var swiper = new Swiper('.two .swiper-container', {
            autoplay: {
                delay: 10, // 几秒切换一次
                disableOnInteraction: false,
            }, // 可选选项自动滑动
            freeMode: true,
            // autoplay: 1, //自动滚动
            loop: true, //循环
            speed: 5000, //滚动速度
            slidesPerView: 4, //slide可见数量
            spaceBetween: 10 //slide之间的距离（单位px）
        });
    </script>
    <!-- 层叠轮播 -->
    <script>
        var mySwiper = new Swiper('#certify .swiper-container', {
            effect: 'coverflow',
            centeredSlides: true, // 设定为true时，active slide会居中，而不是默认状态下的居左。
            watchSlidesProgress: true,
            slidesPerView: 'auto',
            loop: true,
            loopedSlides: 5,
            // speed: 5000, //滚动速度
            autoplay: true,
            autoplay: {
                delay: 3000, // 3秒切换一次
                disableOnInteraction: false,
            }, // 可选选项自动滑动
            // 轮播效果
            coverflowEffect: {
                rotate: 0, // slide做3d旋转时Y轴的旋转角度
                stretch: 100, // 每个slide之间的拉伸值，越大slide靠得越紧。5.3.6 后可使用%百分比
                depth: 500, // slide的位置深度。值越大z轴距离越远，看起来越小。
                modifier: 1, // depth和rotate和stretch的倍率，相当于depth*modifier、rotate*modifier、stretch*modifier，值越大这三个参数的效果越明显。
                slideShadows: true, // 是否开启slide阴影
            },
            // 指示器
            pagination: {
                el: '.swp-pagination-honor',
            },
            // 前后键
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        })
    </script>
    <script>
        // 百度地图
        // var map = new BMapGL.Map("position_map");
        // var point = new BMapGL.Point(112.427371, 34.688424);
        // map.centerAndZoom(point, 16);
        // map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放
        // var content = "洛阳智网网络有限公司";
        // var label = new BMapGL.Label(content, { // 创建文本标注
        //     position: point, // 设置标注的地理位置
        //     offset: new BMapGL.Size(-10, -20) // 设置标注的偏移量
        // })
        // map.addOverlay(label); // 将标注添加到地图中
        // label.setStyle({ // 设置label的样式
        //     color: '#000',
        //     fontSize: '20px',
        //     border: '2px solid #1E90FF'
        // })
    </script>

    <script src="../statics/js/index.js"></script>
</body>

</html>