<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 样式抹平 -->
    <link rel="stylesheet" href="../statics/css/troweling.css">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../statics/css/bootstrap.min.css" rel="stylesheet">

    <!--swiper  -->
    <link rel="stylesheet" href="../statics/css/swiper-bundle.min.css">

    <!-- 主要样式 -->
    <link rel="stylesheet" href="../statics/css/customercase/index.css">
    <title>customercase</title>
</head>

<body>
    <!-- 客户案例 -->
    <!-- 导航栏 开始 -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img class="nav_logo" alt="Brand" src="../statics/images/logo.png">
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="./index.html">首页</a></li>
                    <li><a href="./peonycode.html">牡丹码</a></li>
                    <li><a href="./solution.html">解决方案</a></li>
                    <li class="is_true_Underline"><a href="./customercase.html">客户案例</a></li>
                    <li><a href="./about.html">关于我们</a></li>
                </ul>
                <p class="navbar-text navbar-right">
                    <span>4008-654-655</span>
                    <!-- <button class="nav_right_ontrial">免费试用</button> -->
                    <button type="button" class="btn btn-default nav_right_ontrial">
                        <a href="./ontrial.html">免费试用</a>
                    </button>
                </p>
            </div>
        </div>
    </nav>
    <!-- 导航栏 结束 -->

    <!-- 轮播 开始 -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../statics/images/banner/banner1_bg.png" alt="">
                <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
            </div>
            <div class="swiper-slide">
                <img src="../statics/images/banner/banner1_bg.png" alt="">
                <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
            </div>
            <div class="swiper-slide">
                <img src="../statics/images/banner/banner1_bg.png" alt="">
                <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
            </div>
            <div class="swiper-slide">
                <img src="../statics/images/banner/banner1_bg.png" alt="">
                <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <!-- 如果需要滚动条 -->
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>

    <!-- 案例 开始 -->
    <div class="case">
        <div class="container fixed_width">
            <!--  -->
            <div class="case_nav">
                <ul id="case_nav">
                    <li class="active">
                        <img class="select" src="../statics/images/customercase/select/icon_1.png" alt="">
                        <img class="unchecked" src="../statics/images/customercase/unchecked/icon_1.png" alt="">
                        <section>酒水行业</section>
                    </li>
                    <li>
                        <img class="select" src="../statics/images/customercase/select/icon_1.png" alt="">
                        <img class="unchecked" src="../statics/images/customercase/unchecked/icon_1.png" alt="">
                        <section>快销行业</section>
                    </li>
                    <li>
                        <img class="select" src="../statics/images/customercase/select/icon_1.png" alt="">
                        <img class="unchecked" src="../statics/images/customercase/unchecked/icon_1.png" alt="">
                        <section>饮料行业</section>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <!--  -->
            <div class="case_content">
                <div id="case_box" class="case_box">
                    <ul>
                        <li>
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <button type="button" class="btn btn-default nav_right_ontrial">查看详情</button>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </li>
                        <li>
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <button type="button" class="btn btn-default nav_right_ontrial">查看详情</button>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                    <ul>
                        <li>2</li>
                        <li>2</li>
                        <li>2</li>
                        <li>2</li>
                        <li>2</li>
                        <!--数量自己定义,只要总宽度跟content的宽度一样就好-->
                    </ul>
                    <ul>
                        <li>3</li>
                        <li>3</li>
                        <li>3</li>
                        <li>3</li>
                        <li>3</li>
                        <!--数量自己定义,只要总宽度跟content的宽度一样就好-->
                    </ul>
                </div>
            </div>
            <!-- 分页 -->
            <div class="paging">
                <form id="form1" runat="server">
                    <div>
                    </div>
                    <div>
                        <ul class="pagination" id="pagination">
                        </ul>
                        <input type="hidden" id="PageCount" runat="server" />
                        <input type="hidden" id="PageSize" runat="server" value="8" />
                        <input type="hidden" id="countindex" runat="server" value="10" />
                        <!--设置最多显示的页码数 可以手动设置 默认为7-->
                        <input type="hidden" id="visiblePages" runat="server" value="7" />
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- case 结束 -->

    <!-- 底部 开始 -->
    <div class="footer">
        <div class="container">
            <div class="footer_tit">
                <img src="../statics/images/logo.png" alt="">
                <div>一物一码智能营销系统</div>
            </div>
            <div class="footer_contenr">
                <div class="footer_contenr_left">
                    <p>客服咨询热线</p>
                    <h3>135-2459-1185</h3>
                    <button type="button" class="btn btn-default">在线咨询</button>
                </div>
                <div class="footer_contenr_center">
                    <table>
                        <thead>
                            <tr>
                                <th>友情链接</th>
                                <th>解决方案</th>
                                <th></th>
                                <th>产品中心</th>
                                <th>关于我们</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="">智网网络</a></td>
                                <td><a href="">酒水行业</a></td>
                                <td><a href="">饮料行业</a></td>
                                <td><a href="">防伪系统</a></td>
                                <td><a href="">公司简介</a></td>
                            </tr>
                            <tr>
                                <td><a href="">拓客来</a></td>
                                <td><a href="">拓客来</a></td>
                                <td><a href="">日化行业</a></td>
                                <td><a href="">溯源系统</a></td>
                                <td><a href="">团队风采</a></td>
                            </tr>
                            <tr>
                                <td><a href="">码上拓客</a></td>
                                <td><a href="">食品行业</a></td>
                                <td><a href="">美妆行业</a></td>
                                <td><a href="">红包促销</a></td>
                                <td><a href="">联系我们</a></td>
                            </tr>
                            <tr>
                                <td><a href="">拓客多多</a></td>
                                <td><a href="">母婴行业</a></td>
                                <td><a href="">其他行业</a></td>
                                <td><a href="">积分商城</a></td>
                                <td><a href=""></a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href="">防窜预报</a></td>
                                <td><a href=""></a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href="">大数据分析</a></td>
                                <td><a href=""></a></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="footer_contenr_right">
                    <img src="../statics/images/code.png" alt="">
                    <p>添加客服微信</p>
                    <p>立即获取数字化营销方案</p>
                </div>

            </div>
            <div class="footer_laster">
                <section>版权所有洛阳智网网络科技有限公司豫ICP备12039819号-2</section>
                <section>豫公网安备11010502038687号</section>
            </div>
        </div>
    </div>
    <!-- 底部 结束 -->

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../statics/js/jquery-2.1.4.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../statics/js/bootstrap.min.js"></script>

    <!-- swiper -->
    <script src="../statics/js/swiper-bundle.min.js"></script>
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            // direction: 'vertical', // 垂直切换选项
            loop: true, // 循环模式选项
            autoplay: {
                delay: 3000, // 3秒切换一次
                disableOnInteraction: false,
            }, // 可选选项自动滑动
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            // 如果需要前进后退按钮
            // navigation: {
            //     nextEl: '.swiper-button-next',
            //     prevEl: '.swiper-button-prev',
            // },

            // 如果需要滚动条
            // scrollbar: {
            //     el: '.swiper-scrollbar',
            // },
        })
    </script>

    <script src="../statics/js/index.js"></script>
    <script src="../statics/js/case.js"></script>


    <script src="../statics/js/jqPaginator.min.js"></script>
    <script>
        function loadData(num) {
            $("#PageCount").val("89");
        }

        function exeData(num, type) {
            loadData(num);
            loadpage();
        }

        function loadpage() {
            var myPageCount = parseInt($("#PageCount").val());
            var myPageSize = parseInt($("#PageSize").val());
            var countindex = myPageCount % myPageSize > 0 ? (myPageCount / myPageSize) + 1 : (myPageCount / myPageSize);
            $("#countindex").val(countindex);

            $.jqPaginator('#pagination', {
                totalPages: parseInt($("#countindex").val()),
                visiblePages: parseInt($("#visiblePages").val()),
                currentPage: 1,
                first: '<li class="first"><a href="javascript:;">首页</a></li>',
                prev: '<li class="prev"><a href="javascript:;"><i class="arrow arrow2"></i>上一页</a></li>',
                next: '<li class="next"><a href="javascript:;">下一页<i class="arrow arrow3"></i></a></li>',
                last: '<li class="last"><a href="javascript:;">末页</a></li>',
                page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                onPageChange: function (num, type) {
                    if (type == "change") {
                        exeData(num, type);
                    }
                }
            });
        }
        $(function () {
            loadData(1);
            loadpage();
        });
    </script>

</body>

</html>