<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 样式抹平 -->
    <link rel="stylesheet" href="../statics/css/troweling.css">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../statics/css/bootstrap.min.css" rel="stylesheet">

    <!--  -->
    <!-- <link rel="stylesheet" href="../statics/css/pagination.css"> -->

    <!-- 主要样式 -->
    <link rel="stylesheet" href="../statics/css/customercase/index.css">
    <title>customercase</title>
</head>

<body>
    <!-- 客户案例 -->
    <!-- 导航栏 开始 -->
    <nav class="navbar navbar-default navbar-fixed-top nav_index" role="navigation">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-text navbar-right navbar_phone">
                        <button type="button" class="btn btn-default nav_right_ontrial">
                            <a href="./ontrial.html">免费试用</a>
                        </button>
                    </p>
                    <button type="button" class="navbar-toggle navbar_switch" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img class="nav_logo" alt="Brand" src="../statics/images/logo.png">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="./index.html">首页</a></li>
                        <li><a href="./peonycode.html">牡丹码</a></li>
                        <li><a href="./solution.html">解决方案</a></li>
                        <li class="is_true_Underline"><a href="./customercase.html">客户案例</a></li>
                        <li><a href="./about.html">关于我们</a></li>
                    </ul>
                    <p class="navbar-text navbar-right">
                        <span>4008-654-655</span>
                        <button type="button" class="btn btn-default">
                            <a href="./ontrial.html">免费试用</a>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <!-- 导航栏 结束 -->

    <!-- 轮播 开始 -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../statics/images/banner/banner1_bg.png" alt="...">
                <div class="carousel-caption">
                    <!-- 123 -->
                </div>
            </div>
            <div class="item">
                <img src="../statics/images/banner/banner1_bg.png" alt="...">
                <div class="carousel-caption">
                    <!-- 456 -->
                </div>
            </div>
            <div class="item">
                <img src="../statics/images/banner/banner1_bg.png" alt="...">
                <div class="carousel-caption">
                    <!-- 789 -->
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- 轮播 结束 -->

    <!-- 案例 开始 -->
    <div class="case">
        <div class="container">
            <!--  -->
            <div class="case_handle">
                <div id="case_nav" class="row case_nav">
                    <ul class="col-md-12 col-sm-12 col-xs-12">
                        <li class="active">
                            <img class="select" src="../statics/images/customercase/select/icon_1.png" alt="">
                            <img class="unchecked" src="../statics/images/customercase/unchecked/icon_1.png" alt="">
                            <section>酒水行业</section>
                        </li>
                        <li>
                            <img class="select" src="../statics/images/customercase/select/icon_1.png" alt="">
                            <img class="unchecked" src="../statics/images/customercase/unchecked/icon_1.png" alt="">
                            <section>酒水行业</section>
                        </li>
                        <li>
                            <img class="select" src="../statics/images/customercase/select/icon_1.png" alt="">
                            <img class="unchecked" src="../statics/images/customercase/unchecked/icon_1.png" alt="">
                            <section>酒水行业</section>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="case_content" class="case_content">
                <ul class="row on">
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                </ul>
                <ul class="row">
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                </ul>
                <ul class="row">
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="case_content_item">
                            <img src="../statics/images/customercase/commodity/commodity_1.jpg" alt="">
                            <h3>红牛</h3>
                            <div></div>
                            <div class="case_content_item_btn">
                                <button type="button" class="btn btn-default">
                                    <a href="./information.html">查看详情</a>
                                </button>
                            </div>
                            <p>红牛(RedBull)是全球较早推出且较成功的功能饮料品牌之一。1966年,红牛维生素功能饮料诞生于泰国,迄今已有近半个世纪的发展历史。</p>
                        </div>
                    </li>
                </ul>
                
            </div>

        </div>
    </div>
    <!-- case 结束 -->

    <!-- 底部 开始 -->
    <div class="footer">
        <div class="container">
            <div class="footer_tit">
                <img src="../statics/images/logo.png" alt="">
                <div>一物一码智能营销系统</div>
            </div>
            <div class="row footer_contenr">
                <div class="footer_contenr_left col-md-3">
                    <p>客服咨询热线</p>
                    <h3>135-2459-1185</h3>
                    <button type="button" class="btn btn-default">在线咨询</button>
                </div>
                <div class="footer_contenr_center col-md-6">
                    <ul>
                        <li><a href="">友情链接</a></li>
                        <li><a href="">智网网络</a></li>
                        <li><a href="">拓客来</a></li>
                        <li><a href="">码上拓客</a></li>
                        <li><a href="">拓客多多</a></li>
                    </ul>
                    <ul>
                        <li><a href="">解决方案</a></li>
                        <li><a href="">酒水行业</a></li>
                        <li><a href="">快销行业</a></li>
                        <li><a href="">食品行业</a></li>
                        <li><a href="">母婴行业</a></li>
                    </ul>
                    <ul>
                        <li><a href=""> </a></li>
                        <li><a href="">饮料行业</a></li>
                        <li><a href="">日化行业</a></li>
                        <li><a href="">美妆行业</a></li>
                        <li><a href="">其他行业</a></li>
                    </ul>
                    <ul>
                        <li><a href="">产品中心</a></li>
                        <li><a href="">防伪系统</a></li>
                        <li><a href="">溯源系统</a></li>
                        <li><a href="">红包促销</a></li>
                        <li><a href="">积分商城</a></li>
                        <li><a href="">防窜预报</a></li>
                        <li><a href="">大数据分析</a></li>
                    </ul>
                    <ul>
                        <li><a href="">关于我们</a></li>
                        <li><a href="">公司简介</a></li>
                        <li><a href="">团队风采</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>
                <div class="footer_contenr_right col-md-3">
                    <div class="footer_contenr_right_left">
                        <p>客服咨询热线</p>
                        <h3>135-2459-1185</h3>
                    </div>
                    <div class="footer_contenr_right_right">
                        <img src="../statics/images/code.png" alt="">
                        <p>添加客服微信</p>
                        <p>立即获取数字化营销方案</p>
                    </div>

                </div>

            </div>
            <div class="footer_last">
                <section>版权所有洛阳智网网络科技有限公司豫ICP备12039819号-2</section>
                <section>豫公网安备11010502038687号</section>
            </div>
        </div>
    </div>
    <!-- 底部 结束 -->
    <!-- 侧边栏 开始 -->
    <div id="scroll-nav" class="hidden-xs scroll-nav">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="bg_WeChat">
                <a href="javascript:void(0)">
                    <img src="../statics/images/contact/wechat_side.png" alt="" srcset="" />
                    <div>微信咨询</div>
                </a>
                <div class="qrCodeImg">
                    <img src="../statics/images/wexin.jpg" alt="" srcset="" />
                </div>
            </li>
            <li role="presentation" class="bg_officialaccount">
                <a href="javascript:void(0)">
                    <img src="../statics/images/contact/public_side.png" alt="" srcset="" />
                    <div>公众号</div>
                </a>
                <div class="qrCodeImg">
                    <img src="../statics/images/mdm.jpg" alt="" srcset="" />
                </div>
            </li>
            <li role="presentation" class="phone_side bg_phone">
                <a href="javascript:void(0)">
                    <img src="../statics/images/contact/phone_side.png" alt="" srcset="" />
                    <div>电话咨询</div>
                </a>
                <div class="phone">135-2459-1185</div>
            </li>
            <li role="presentation" class="top_side">
                <a href="javascript:void(0)" id="back-to-top">
                    <img src="../statics/images/contact/top_side.png" alt="" srcset="" />
                    <div>返回顶部</div>
                </a>
            </li>
        </ul>
    </div>
    <!-- 侧边栏  结束 -->

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../statics/js/jquery-2.1.4.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../statics/js/bootstrap.min.js"></script>

    <!-- 通用 导航 滚动 -->
    <script src="../statics/js/index.js"></script>

    <!--  -->
    <script src="../statics/js/case.js"></script>

</body>

</html>