<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 样式抹平 -->
    <link rel="stylesheet" href="../statics/css/troweling.css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../statics/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/ontrial.css">
    <title>ontrial</title>

</head>

<body>
    <div class="ontrial">
        <img class="ontrial_bg" src="../statics/images/ontrial/ontrial_bg.png" alt="">
        <div class=" container ontrial_content">
            <div class="ontrial_left">
                <h1>全国限量100家 免费体验</h1>
                <p>提交信息，码上开启数字新营销</p>
                <img src="../statics/images/ontrial/left_bg.png" alt="">
            </div>
            <div class="ontrial_right">
                <h2>欢迎试用</h2>
                <form action="">
                    <div class="form-group">
                        <img src="../statics/images/ontrial/icon/icon_1.png" alt="">
                        <input type="name" class="form-control" id="exampleInputEmail1" placeholder="请输入您的姓名">
                    </div>
                    <div class="form-group">
                        <img src="../statics/images/ontrial/icon/icon_2.png" alt="">
                        <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="请输入您的联系方式">
                    </div>
                    <div class="form-group">
                        <img src="../statics/images/ontrial/icon/icon_3.png" alt="">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="请输入您的所在城市">
                    </div>
                    <div class="form-group">
                        <img src="../statics/images/ontrial/icon/icon_4.png" alt="">
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入您的所在行业">
                    </div>
                    <div class="form-group">
                        <img src="../statics/images/ontrial/icon/icon_5.png" alt="">
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入您的公司名称">
                    </div>
                    <button type="button" class="btn btn-default">立即申请</button>
                </form>
            </div>
        </div>
        <div class="ontrial_down">温馨提示：收到您的申请信息，我们会安排客户经理尽快与您联系，依据您的具体营销需求（如活动类型，码量）为您开通后台系统。</div>

        <div class="result">
            <div class="pop">
                <img class="pop_bg" src="../statics/images/ontrial/pop.png" alt="">
                <p>【温馨提示】收到您的申请信息, 我们 会安排客户经理尽快与您联系。</p>
                <button type="button" class="btn btn-default ">我知道了</button>
            </div>
        </div>
    </div>


    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../statics/js/jquery-2.1.4.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../statics/js/bootstrap.min.js"></script>

    <!--  -->
    <script>
        $('.ontrial_right .btn').on('click', function () {
            $('.result').addClass("on");
        })
        $('.result .btn').on('click', function () {
            $('.result').removeClass("on");
        })
    </script>
</body>

</html>