<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 样式抹平 -->
    <link rel="stylesheet" href="../statics/css/troweling.css">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../statics/css/bootstrap.min.css" rel="stylesheet">

    <!--swiper  -->
    <link rel="stylesheet" href="../statics/css/swiper-bundle.min.css">
    <!--  -->
    <link rel="stylesheet" href="../statics/css/solution/index.css">
    <title>solution</title>
</head>

<body>
    <!-- 解决方案 -->
    <!-- 导航栏 开始 -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img class="nav_logo" alt="Brand" src="../statics/images/logo.png">
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="./index.html">首页</a></li>
                    <li><a href="./peonycode.html">牡丹码</a></li>
                    <li  class="is_true_Underline"><a href="./solution.html">解决方案</a></li>
                    <li><a href="./customercase.html">客户案例</a></li>
                    <li><a href="./about.html">关于我们</a></li>
                </ul>
                <p class="navbar-text navbar-right">
                    <span>4008-654-655</span>
                    <!-- <button class="nav_right_ontrial">免费试用</button> -->
                    <button type="button" class="btn btn-default nav_right_ontrial">
                        <a href="./ontrial.html">免费试用</a>
                    </button>
                </p>
            </div>
        </div>
    </nav>
    <!-- 导航栏 结束 -->

    <!-- 轮播 开始 -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../statics/images/banner/banner1_bg.png" alt="">
                <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
            </div>
            <div class="swiper-slide">
                <img src="../statics/images/banner/banner1_bg.png" alt="">
                <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
            </div>
            <div class="swiper-slide">
                <img src="../statics/images/banner/banner1_bg.png" alt="">
                <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
            </div>
            <div class="swiper-slide">
                <img src="../statics/images/banner/banner1_bg.png" alt="">
                <button type="button" class="btn btn-default swiper_btn">了解详情 >></button>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <!-- 如果需要滚动条 -->
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>
    <!-- 轮播 结束 -->

    <!-- 解决企业痛点 开始 -->
    <div class="solve">
        <div class="container">
            <div class="solve_tit">
                <h2>解决企业痛点</h2>
                <section>传统企业营销的六大痛点</section>
            </div>
        </div>
        <div class="container">
            <ul class="solve_down">
                <li>
                    <section>01</section>
                    <div>活动参与率低</div>
                    <img src="../statics/images/solution/solve/icon_1.png" alt="">
                </li>
                <li>
                    <section>02</section>
                    <div>活动参与率低</div>
                    <img src="../statics/images/solution/solve/icon_2.png" alt="">
                </li>
                <li>
                    <section>03</section>
                    <div>活动参与率低</div>
                    <img src="../statics/images/solution/solve/icon_3.png" alt="">
                </li>
                <li>
                    <section>04</section>
                    <div>活动参与率低</div>
                    <img src="../statics/images/solution/solve/icon_4.png" alt="">
                </li>
                <li>
                    <section>05</section>
                    <div>活动参与率低</div>
                    <img src="../statics/images/solution/solve/icon_5.png" alt="">
                </li>
                <li>
                    <section>06</section>
                    <div>活动参与率低</div>
                    <img src="../statics/images/solution/solve/icon_6.png" alt="">
                </li>
            </ul>
        </div>
    </div>
    <!-- 解决企业痛点 结束 -->

    <!-- 模式 红包模式 开始 -->
    <div class="pattern_one">
        <div class="container">
            <div class="pattern_one_left">
                <h1>红包模式</h1>
                <p>活动发码量30万，带动近720万销售额；沁小宝通过一盖一码，扫码赢红包的方式，扩大了消费者对产品的认知度，这一点对于新上市的产品来说尤为重要，增加了消费者对产品的喜爱，从而提升了市场份额；</p>
            </div>
            <div class="pattern_one_right">
                <img src="../statics/images/solution/pattern/redenvelopes.png" alt="">
            </div>
        </div>
    </div>
    <!-- 模式 结束 -->

    <!-- 模式 溯源模式 开始 -->
    <div class="pattern_two">
        <div class="container">
            <div class="pattern_two_left">
                <img src="../statics/images/solution/pattern/tracing.png" alt="">
            </div>
            <div class="pattern_two_right">
                <h1>溯源模式</h1>
                <p>活动发码量30万，带动近720万销售额；沁小宝通过一盖一码，扫码赢红包的方式，扩大了消费者对产品的认知度，这一点对于新上市的产品来说尤为重要，增加了消费者对产品的喜爱，从而提升了市场份额；</p>
            </div>
        </div>
    </div>
    <!-- 模式 结束 -->

    <!-- 模式 验真模式 开始 -->
    <div class="pattern_one">
        <div class="container">
            <div class="pattern_one_left">
                <h1>验真模式</h1>
                <p>活动发码量30万，带动近720万销售额；沁小宝通过一盖一码，扫码赢红包的方式，扩大了消费者对产品的认知度，这一点对于新上市的产品来说尤为重要，增加了消费者对产品的喜爱，从而提升了市场份额；</p>
            </div>
            <div class="pattern_one_right">
                <img src="../statics/images/solution/pattern/test.png" alt="">
            </div>
        </div>
    </div>
    <!-- 模式 结束 -->

    <!-- 模式 验真+红包模式 开始 -->
    <div class="pattern_two">
        <div class="container">
            <div class="pattern_two_left">
                <img src="../statics/images/solution/pattern/testandred.png" alt="">
            </div>
            <div class="pattern_two_right">
                <h1>验真+红包模式</h1>
                <p>活动发码量30万，带动近720万销售额；沁小宝通过一盖一码，扫码赢红包的方式，扩大了消费者对产品的认知度，这一点对于新上市的产品来说尤为重要，增加了消费者对产品的喜爱，从而提升了市场份额；</p>
            </div>
        </div>
    </div>
    <!-- 模式 结束 -->

    <!-- 模式 红包模式 开始 -->
    <div class="pattern_one">
        <div class="container">
            <div class="pattern_one_left">
                <h1>溯源+验真+红包模式</h1>
                <p>活动发码量30万，带动近720万销售额；沁小宝通过一盖一码，扫码赢红包的方式，扩大了消费者对产品的认知度，这一点对于新上市的产品来说尤为重要，增加了消费者对产品的喜爱，从而提升了市场份额；</p>
            </div>
            <div class="pattern_one_right">
                <img src="../statics/images/solution/pattern/all.png" alt="">
            </div>
        </div>
    </div>
    <!-- 模式 结束 -->


    <!-- 适用行业 开始 -->
    <div class="apply">
        <div class="container">
            <div class="apply_tit">适用行业</div>
            <ul class="apply_down">
                <li>
                    <img src="../statics/images/solution/apply/icon_1.png" alt="">
                    <section>酒水行业</section>
                </li>
                <li>
                    <img src="../statics/images/solution/apply/icon_2.png" alt="">
                    <section>快销行业</section>
                </li>
                <li>
                    <img src="../statics/images/solution/apply/icon_3.png" alt="">
                    <section>饮料行业</section>
                </li>
                <li>
                    <img src="../statics/images/solution/apply/icon_4.png" alt="">
                    <section>母婴行业</section>
                </li>
                <li>
                    <img src="../statics/images/solution/apply/icon_5.png" alt="">
                    <section>食品行业</section>
                </li>
                <li>
                    <img src="../statics/images/solution/apply/icon_6.png" alt="">
                    <section>美妆行业</section>
                </li>
                <li>
                    <img src="../statics/images/solution/apply/icon_7.png" alt="">
                    <section>日化行业</section>
                </li>
                <li>
                    <img src="../statics/images/solution/apply/icon_8.png" alt="">
                    <section>调味品行业</section>
                </li>
                <li>
                    <img src="../statics/images/solution/apply/icon_9.png" alt="">
                    <section>茶叶行业</section>
                </li>
                <li>
                    <img src="../statics/images/solution/apply/icon_10.png" alt="">
                    <section>五金行业</section>
                </li>
                <li>
                    <img src="../statics/images/solution/apply/icon_11.png" alt="">
                    <section>商超百货行业</section>
                </li>
                <li>
                    <img src="../statics/images/solution/apply/icon_12.png" alt="">
                    <section>其他行业</section>
                </li>
            </ul>

        </div>
    </div>
    <!-- 适用行业 结束 -->

    <!-- 底部 开始 -->
    <div class="footer">
        <div class="container">
            <div class="footer_tit">
                <img src="../statics/images/logo.png" alt="">
                <div>一物一码智能营销系统</div>
            </div>
            <div class="footer_contenr">
                <div class="footer_contenr_left">
                    <p>客服咨询热线</p>
                    <h3>135-2459-1185</h3>
                    <button type="button" class="btn btn-default">在线咨询</button>
                </div>
                <div class="footer_contenr_center">
                    <table>
                        <thead>
                            <tr>
                                <th>友情链接</th>
                                <th>解决方案</th>
                                <th></th>
                                <th>产品中心</th>
                                <th>关于我们</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="">智网网络</a></td>
                                <td><a href="">酒水行业</a></td>
                                <td><a href="">饮料行业</a></td>
                                <td><a href="">防伪系统</a></td>
                                <td><a href="">公司简介</a></td>
                            </tr>
                            <tr>
                                <td><a href="">拓客来</a></td>
                                <td><a href="">拓客来</a></td>
                                <td><a href="">日化行业</a></td>
                                <td><a href="">溯源系统</a></td>
                                <td><a href="">团队风采</a></td>
                            </tr>
                            <tr>
                                <td><a href="">码上拓客</a></td>
                                <td><a href="">食品行业</a></td>
                                <td><a href="">美妆行业</a></td>
                                <td><a href="">红包促销</a></td>
                                <td><a href="">联系我们</a></td>
                            </tr>
                            <tr>
                                <td><a href="">拓客多多</a></td>
                                <td><a href="">母婴行业</a></td>
                                <td><a href="">其他行业</a></td>
                                <td><a href="">积分商城</a></td>
                                <td><a href=""></a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href="">防窜预报</a></td>
                                <td><a href=""></a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href=""></a></td>
                                <td><a href="">大数据分析</a></td>
                                <td><a href=""></a></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="footer_contenr_right">
                    <img src="../statics/images/code.png" alt="">
                    <p>添加客服微信</p>
                    <p>立即获取数字化营销方案</p>
                </div>

            </div>
            <div class="footer_laster">
                <section>版权所有洛阳智网网络科技有限公司豫ICP备12039819号-2</section>
                <section>豫公网安备11010502038687号</section>
            </div>
        </div>
    </div>
    <!-- 底部 结束 -->



    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../statics/js/jquery-2.1.4.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../statics/js/bootstrap.min.js"></script>

    <!-- swiper -->
    <script src="../statics/js/swiper-bundle.min.js"></script>
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            // direction: 'vertical', // 垂直切换选项
            loop: true, // 循环模式选项
            autoplay: {
                delay: 3000, // 3秒切换一次
                disableOnInteraction: false,
            }, // 可选选项自动滑动
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            // 如果需要前进后退按钮
            // navigation: {
            //     nextEl: '.swiper-button-next',
            //     prevEl: '.swiper-button-prev',
            // },

            // 如果需要滚动条
            // scrollbar: {
            //     el: '.swiper-scrollbar',
            // },
        })
    </script>

    <script src="../statics/js/index.js"></script>
</body>

</html>