<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 样式抹平 -->
    <link rel="stylesheet" href="../statics/css/troweling.css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../statics/css/bootstrap.min.css" rel="stylesheet">

    <!--  -->
    <link rel="stylesheet" href="../statics/css/solution/index.css">
    <title>solution</title>
</head>

<body>
    <!-- 解决方案 -->
    <!-- 导航栏 开始 -->
    <nav class="navbar navbar-default navbar-fixed-top nav_index" role="navigation">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-text navbar-right navbar_phone">
                        <button type="button" class="btn btn-default nav_right_ontrial">
                            <a href="./ontrial.html">免费试用</a>
                        </button>
                    </p>
                    <button type="button" class="navbar-toggle navbar_switch" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img class="nav_logo" alt="Brand" src="../statics/images/logo.png">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="./index.html">首页</a></li>
                        <li><a href="./peonycode.html">牡丹码</a></li>
                        <li class="is_true_Underline"><a href="./solution.html">解决方案</a></li>
                        <li><a href="./customercase.html">客户案例</a></li>
                        <li><a href="./about.html">关于我们</a></li>
                    </ul>
                    <p class="navbar-text navbar-right">
                        <span>4008-654-655</span>
                        <button type="button" class="btn btn-default">
                            <a href="./ontrial.html">免费试用</a>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <!-- 导航栏 结束 -->

    <!-- 头部图片 开始 -->
    <div class="exhibition_tit">
        <div class="exhibition_tit_bottom">
            <img class="pc" src="../statics/images/solution/exhibition_tit_bottom_pc.png" alt="">
            <img class="phone" src="../statics/images/solution/exhibition_tit_bottom_phone.png" alt="">
        </div>
        <div class="exhibition_tit_middle">
            <img class="pc" src="../statics/images/solution/exhibition_tit_middle_pc.png" alt="">
            <img class="phone" src="../statics/images/solution/exhibition_tit_middle_phone.png" alt="">
        </div>
        <div class="container exhibition_tit_up">
            <h1>饮料行业一物一码解决方案</h1>
            <section> 为饮料企业提供基于一物一码场景下的整体营销、防伪溯源、防窜货、红包促销、大数据用户统计等服务。</section>
        </div>
    </div>

    <!-- 头部图片 结束 -->

    <!-- 解决企业痛点 开始 -->
    <div class="solve">
        <div class="container">
            <div class="content_title">
                <h1>解决企业痛点</h1>
                <section>传统企业营销的六大痛点</section>
            </div>
        </div>
        <div class="container">
            <ul class="solve_down row">
                <li class="col-md-2 col-sm-2 col-xs-4">
                    <div class="solve_item">
                        <section>01</section>
                        <div>活动参与率低</div>
                        <img src="../statics/images/solution/solve/icon_1.png" alt="">
                    </div>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-4">
                    <div class="solve_item">
                        <section>02</section>
                        <div>营销费用居高不下</div>
                        <img src="../statics/images/solution/solve/icon_2.png" alt="">
                    </div>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-4">
                    <div class="solve_item">
                        <section>03</section>
                        <div>赠品截留严重</div>
                        <img src="../statics/images/solution/solve/icon_3.png" alt="">
                    </div>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-4">
                    <div class="solve_item">
                        <section>04</section>
                        <div>活动形式单调乏味</div>
                        <img src="../statics/images/solution/solve/icon_4.png" alt="">
                    </div>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-4">
                    <div class="solve_item">
                        <section>05</section>
                        <div>促销复杂不易调整</div>
                        <img src="../statics/images/solution/solve/icon_5.png" alt="">
                    </div>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-4">
                    <div class="solve_item">
                        <section>06</section>
                        <div>假货泛滥窜货严重</div>
                        <img src="../statics/images/solution/solve/icon_6.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 解决企业痛点 结束 -->

    <!-- 方案优势 开始 -->
    <div class="program">
        <div class="container">
            <div class="content_title">
                <h1>方案优势</h1>
                <section>帮助企业快速营销</section>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="program_content col-md-12 col-sm-12 col-xs-12">
                    <div class="program_item">
                        <img src="../statics/images/solution/program/icon_1.png" alt="">
                        <h3>连接企业与消费者</h3>
                        <section>打破渠道壁垒，建立企业与消费者的直接联系，帮助企业快速了解消费者支持不同人群、地域等营销方式。</section>
                    </div>
                    <div class="program_item">
                        <img src="../statics/images/solution/program/icon_2.png" alt="">
                        <h3>个性化营销服务</h3>
                        <section>依托丰富的二维码营销行业经验，为企业活动提供更贴合市场的执行方案建议与精准数据画像服务。</section>
                    </div>
                    <div class="program_item">
                        <img src="../statics/images/solution/program/icon_3.png" alt="">
                        <h3>保护数据隐私安全</h3>
                        <section>为企业提供数据安全保障，部署在云端数据可避免服务器入侵、风险漏洞识别等一系列数据安全问题。</section>
                    </div>
                </div>
                <div class="program_bg"></div>
            </div>
        </div>
    </div>
    <!-- 方案优势 结束 -->

    <!-- 一物一码整体解决方案 开始 -->
    <!-- 赋码系统 -->
    <div class="template_one">
        <div class="container">
            <div class="content_title">
                <h1>一物一码整体解决方案</h1>
                <section>一物一码整体解决方案</section>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="left col-md-6 col-sm-12 col-xs-12">
                    <h2>赋码系统</h2>
                    <p>从码生成到生产赋码全程SOP安全管控，确保数据在生成、喷印、出厂、流通等各环节的安全。确保厂商核心数据不泄露。</p>
                </div>
                <div class="right col-md-6 col-sm-12 col-xs-12">
                    <img src="../statics/images/solution/solution/icon_1.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- 红包促销 -->
    <div class="template_two">
        <div class="container">
            <div class="row">
                <div class="left col-md-6 col-sm-12 col-xs-12">
                    <img src="../statics/images/solution/solution/icon_2.png" alt="">
                </div>
                <div class="right col-md-6 col-sm-12 col-xs-12">
                    <h2>红包促销</h2>
                    <p>用户通过扫码，通过多种红包玩法进行互动，以发放微信现金红包、积分、卡券等奖励形式吸引和方便用户参与，提高用户参与度，降低促销中间环节实施成本，让促销方式更简便。</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 防伪验真 -->
    <div class="template_one">
        <div class="container">
            <div class="row">
                <div class="left col-md-6 col-sm-12 col-xs-12">
                    <h2>防伪验真</h2>
                    <p>专业的二维码生产和识别能力，准确识别二维码所传递的产品及生产信息，每个二维码都是一个独立经过加密处理后的身份证号，提供各种商品的防伪服务服务。</p>
                </div>
                <div class="right col-md-6 col-sm-12 col-xs-12">
                    <img src="../statics/images/solution/solution/icon_3.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- 万能溯源 -->
    <div class="template_two">
        <div class="container">
            <div class="row">
                <div class="left col-md-6 col-sm-12 col-xs-12">
                    <img src="../statics/images/solution/solution/icon_4.png" alt="">
                </div>
                <div class="right col-md-6 col-sm-12 col-xs-12">
                    <h2>万能溯源</h2>
                    <p>通过赋予二维码产品信息，生产批次型号、生产过程等信息，实现消费者扫码即可追溯全过程信息，提升产品真实度。</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 渠道防窜 -->
    <div class="template_one">
        <div class="container">
            <div class="row">
                <div class="left col-md-6 col-sm-12 col-xs-12">
                    <h2>渠道防窜</h2>
                    <p>消费者通过微信扫码即可获知产品的真伪与销售区域信息，并且系统会自动获取终端消费者的扫码位置，有效助力品牌商阻止渠道窜货。</p>
                </div>
                <div class="right col-md-6 col-sm-12 col-xs-12">
                    <img src="../statics/images/solution/solution/icon_5.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- 大数据分析 -->
    <div class="template_two">
        <div class="container">
            <div class="row">
                <div class="left col-md-6 col-sm-12 col-xs-12">
                    <img src="../statics/images/solution/solution/icon_6.png" alt="">
                </div>
                <div class="right col-md-6 col-sm-12 col-xs-12">
                    <h2>大数据分析</h2>
                    <p>为企业提供整合的消费者大数据分析平台，跟踪收集消费者对产品的喜爱程度，分布区域，购买行为等销售数据。为企业二次营销提供针对消费人群的精准分析。</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 积分商城 -->
    <div class="template_one">
        <div class="container">
            <div class="row">
                <div class="left col-md-6 col-sm-12 col-xs-12">
                    <h2>积分商城</h2>
                    <p>用户可以使用获得的积分兑换相关商品（实物礼品、卡券、流量话费、微信红包等）。消费者购买产品后，扫码即可获得积分，关注公众号后即可随时查看积分，并可到积分商城进行兑换，简单方便。积分商城是提升用户活跃度、忠诚度和转化率的利器。
                    </p>
                </div>
                <div class="right col-md-6 col-sm-12 col-xs-12">
                    <img src="../statics/images/solution/solution/icon_7.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- 一物一码整体解决方案 结束 -->

    <!-- 标杆客户 开始 -->
    <div class="benchmarking">
        <div class="container">
            <div class="content_title">
                <h1>标杆客户</h1>
                <section>一物一码整体解决方案</section>
            </div>
        </div>
        <div class="container">
            <div class="benchmarking_content">
                <div class="benchmarking_item">
                    <img src="../statics/images/solution/benchmarking/icon_1.png" alt="">
                </div>
                <div class="benchmarking_item">
                    <img src="../statics/images/solution/benchmarking/icon_2.png" alt="">
                </div>
                <div class="benchmarking_item">
                    <img src="../statics/images/solution/benchmarking/icon_3.png" alt="">
                </div>
                <div class="benchmarking_item">
                    <img src="../statics/images/solution/benchmarking/icon_4.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- 标杆客户 开始 -->

    <!-- 底部 开始 -->
    <div class="footer">
        <div class="container">
            <div class="footer_tit">
                <img src="../statics/images/logo.png" alt="">
                <div>一物一码智能营销系统</div>
            </div>
            <div class="row footer_contenr">
                <div class="footer_contenr_left col-md-3">
                    <p>客服咨询热线</p>
                    <h3>135-2459-1185</h3>
                    <button type="button" class="btn btn-default">在线咨询</button>
                </div>
                <div class="footer_contenr_center col-md-6">
                    <ul>
                        <li><a href="">友情链接</a></li>
                        <li><a href="">智网网络</a></li>
                        <li><a href="">拓客来</a></li>
                        <li><a href="">码上拓客</a></li>
                        <li><a href="">拓客多多</a></li>
                    </ul>
                    <ul>
                        <li><a href="">解决方案</a></li>
                        <li><a href="">酒水行业</a></li>
                        <li><a href="">快销行业</a></li>
                        <li><a href="">食品行业</a></li>
                        <li><a href="">母婴行业</a></li>
                    </ul>
                    <ul>
                        <li><a href=""> </a></li>
                        <li><a href="">饮料行业</a></li>
                        <li><a href="">日化行业</a></li>
                        <li><a href="">美妆行业</a></li>
                        <li><a href="">其他行业</a></li>
                    </ul>
                    <ul>
                        <li><a href="">产品中心</a></li>
                        <li><a href="">防伪系统</a></li>
                        <li><a href="">溯源系统</a></li>
                        <li><a href="">红包促销</a></li>
                        <li><a href="">积分商城</a></li>
                        <li><a href="">防窜预报</a></li>
                        <li><a href="">大数据分析</a></li>
                    </ul>
                    <ul>
                        <li><a href="">关于我们</a></li>
                        <li><a href="">公司简介</a></li>
                        <li><a href="">团队风采</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>
                <div class="footer_contenr_right col-md-3">
                    <div class="footer_contenr_right_left">
                        <p>客服咨询热线</p>
                        <h3>135-2459-1185</h3>
                    </div>
                    <div class="footer_contenr_right_right">
                        <img src="../statics/images/code.png" alt="">
                        <p>添加客服微信</p>
                        <p>立即获取数字化营销方案</p>
                    </div>

                </div>

            </div>
            <div class="footer_last">
                <section>版权所有洛阳智网网络科技有限公司豫ICP备12039819号-2</section>
                <section>豫公网安备11010502038687号</section>
            </div>
        </div>
    </div>
    <!-- 底部 结束 -->

    <!-- 侧边栏 开始 -->
    <div id="scroll-nav" class="hidden-xs scroll-nav">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="bg_WeChat">
                <a href="javascript:void(0)">
                    <img src="../statics/images/contact/wechat_side.png" alt="" srcset="" />
                    <div>微信咨询</div>
                </a>
                <div class="qrCodeImg">
                    <img src="../statics/images/wexin.jpg" alt="" srcset="" />
                </div>
            </li>
            <li role="presentation" class="bg_officialaccount">
                <a href="javascript:void(0)">
                    <img src="../statics/images/contact/public_side.png" alt="" srcset="" />
                    <div>公众号</div>
                </a>
                <div class="qrCodeImg">
                    <img src="../statics/images/mdm.jpg" alt="" srcset="" />
                </div>
            </li>
            <li role="presentation" class="phone_side bg_phone">
                <a href="javascript:void(0)">
                    <img src="../statics/images/contact/phone_side.png" alt="" srcset="" />
                    <div>电话咨询</div>
                </a>
                <div class="phone">135-2459-1185</div>
            </li>
            <li role="presentation" class="top_side">
                <a href="javascript:void(0)" id="back-to-top">
                    <img src="../statics/images/contact/top_side.png" alt="" srcset="" />
                    <div>返回顶部</div>
                </a>
            </li>
        </ul>
    </div>
    <!-- 侧边栏  结束 -->

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../statics/js/jquery-2.1.4.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../statics/js/bootstrap.min.js"></script>

    <!-- 通用 导航 滚动 -->
    <script src="../statics/js/index.js"></script>
</body>

</html>