@import "https://common.zwwltkl.com/fonts/pingfang/pingfang.css";
.container {
  padding: 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

button {
  outline: none !important; }

.content_title {
  padding-top: 70px;
  padding-bottom: 40px; }
  .content_title h1 {
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #333333; }
  .content_title section {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-top: 20px; }

.container {
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.38px; }

@media (max-width: 992px) {
  .content_title {
    padding-top: 30px;
    padding-bottom: 20px; }
    .content_title h1 {
      font-size: 28px; }
    .content_title section {
      font-size: 18px;
      margin-top: 20px; } }
@media (max-width: 768px) {
  .content_title {
    padding-top: 26px;
    padding-bottom: 18px; }
    .content_title h1 {
      font-size: 22px;
      padding: 0 16%;
      line-height: 34px; }
    .content_title section {
      font-size: 14px;
      margin-top: 10px;
      padding: 0 16%; } }
* {
  padding: 0;
  margin: 0; }

.nav_index {
  font-size: 20px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: none; }
  .nav_index .container {
    padding: 0; }
    .nav_index .container .navbar-header .navbar_phone {
      display: none; }
    .nav_index .container .navbar-header .navbar-brand .nav_logo {
      width: 130px;
      height: auto; }
    .nav_index .container .navbar-collapse .navbar-nav {
      transform: translate(0, 11px); }
      .nav_index .container .navbar-collapse .navbar-nav li {
        padding-left: 0;
        padding-right: 0;
        margin-left: 24px; }
        .nav_index .container .navbar-collapse .navbar-nav li a {
          color: #ffffff;
          padding-left: 0;
          padding-right: 0; }
      .nav_index .container .navbar-collapse .navbar-nav li:hover {
        color: #ffffff; }
    .nav_index .container .navbar-collapse .navbar-text {
      color: #ffffff;
      transform: translate(-15px, 7px); }
      .nav_index .container .navbar-collapse .navbar-text span {
        display: inline-block;
        transform: translate(0, 4px); }
      .nav_index .container .navbar-collapse .navbar-text button {
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #ffffff;
        padding: 5px 20px;
        margin-left: 20px;
        font-size: 14px;
        border-radius: 5px; }
        .nav_index .container .navbar-collapse .navbar-text button a {
          color: #ffffff; }
      .nav_index .container .navbar-collapse .navbar-text button:hover {
        background-color: #ffffff;
        border: 1px solid #006eff; }
        .nav_index .container .navbar-collapse .navbar-text button:hover a {
          color: #006eff;
          text-decoration: none; }

@media (max-width: 992px) {
  .nav_index .navbar-text {
    display: none; } }
@media (max-width: 768px) {
  .nav_index,
  .navbar,
  .navbar-default,
  .navbar-fixed-top {
    height: 50px;
    border: none; }
    .nav_index .container,
    .navbar .container,
    .navbar-default .container,
    .navbar-fixed-top .container {
      position: relative; }
      .nav_index .container .navbar-header .navbar_phone,
      .navbar .container .navbar-header .navbar_phone,
      .navbar-default .container .navbar-header .navbar_phone,
      .navbar-fixed-top .container .navbar-header .navbar_phone {
        position: absolute;
        right: 70px;
        top: -7px;
        display: inline-block;
        color: #ffffff; }
        .nav_index .container .navbar-header .navbar_phone button,
        .navbar .container .navbar-header .navbar_phone button,
        .navbar-default .container .navbar-header .navbar_phone button,
        .navbar-fixed-top .container .navbar-header .navbar_phone button {
          height: 28px;
          line-height: 8px; }
        .nav_index .container .navbar-header .navbar_phone button:hover a,
        .navbar .container .navbar-header .navbar_phone button:hover a,
        .navbar-default .container .navbar-header .navbar_phone button:hover a,
        .navbar-fixed-top .container .navbar-header .navbar_phone button:hover a {
          text-decoration: none; }
      .nav_index .container .navbar-header .navbar_switch,
      .navbar .container .navbar-header .navbar_switch,
      .navbar-default .container .navbar-header .navbar_switch,
      .navbar-fixed-top .container .navbar-header .navbar_switch {
        border: none; }
        .nav_index .container .navbar-header .navbar_switch .icon-bar,
        .navbar .container .navbar-header .navbar_switch .icon-bar,
        .navbar-default .container .navbar-header .navbar_switch .icon-bar,
        .navbar-fixed-top .container .navbar-header .navbar_switch .icon-bar {
          background-color: #ffffff; }
      .nav_index .container .navbar-header .navbar-brand .nav_logo,
      .navbar .container .navbar-header .navbar-brand .nav_logo,
      .navbar-default .container .navbar-header .navbar-brand .nav_logo,
      .navbar-fixed-top .container .navbar-header .navbar-brand .nav_logo {
        width: 100px;
        height: auto;
        transform: translate(0, -7px); }
      .nav_index .container #example-navbar-collapse,
      .navbar .container #example-navbar-collapse,
      .navbar-default .container #example-navbar-collapse,
      .navbar-fixed-top .container #example-navbar-collapse {
        height: 230px;
        background-color: #ffffff; }
      .nav_index .container .navbar-collapse,
      .navbar .container .navbar-collapse,
      .navbar-default .container .navbar-collapse,
      .navbar-fixed-top .container .navbar-collapse {
        font-size: 16px; }
        .nav_index .container .navbar-collapse .navbar-nav li,
        .navbar .container .navbar-collapse .navbar-nav li,
        .navbar-default .container .navbar-collapse .navbar-nav li,
        .navbar-fixed-top .container .navbar-collapse .navbar-nav li {
          padding-left: 30px;
          margin-left: 0;
          border-bottom: 1px solid #cccccc; }
          .nav_index .container .navbar-collapse .navbar-nav li a,
          .navbar .container .navbar-collapse .navbar-nav li a,
          .navbar-default .container .navbar-collapse .navbar-nav li a,
          .navbar-fixed-top .container .navbar-collapse .navbar-nav li a {
            color: #333333; }
        .nav_index .container .navbar-collapse .navbar-nav li:hover,
        .navbar .container .navbar-collapse .navbar-nav li:hover,
        .navbar-default .container .navbar-collapse .navbar-nav li:hover,
        .navbar-fixed-top .container .navbar-collapse .navbar-nav li:hover {
          border-bottom: 1px solid #006eff !important; }
          .nav_index .container .navbar-collapse .navbar-nav li:hover a,
          .navbar .container .navbar-collapse .navbar-nav li:hover a,
          .navbar-default .container .navbar-collapse .navbar-nav li:hover a,
          .navbar-fixed-top .container .navbar-collapse .navbar-nav li:hover a {
            color: #006eff; }
          .nav_index .container .navbar-collapse .navbar-nav li:hover li:last-child,
          .navbar .container .navbar-collapse .navbar-nav li:hover li:last-child,
          .navbar-default .container .navbar-collapse .navbar-nav li:hover li:last-child,
          .navbar-fixed-top .container .navbar-collapse .navbar-nav li:hover li:last-child {
            border-bottom: none; }
        .nav_index .container .navbar-collapse .navbar-nav li:last-child,
        .navbar .container .navbar-collapse .navbar-nav li:last-child,
        .navbar-default .container .navbar-collapse .navbar-nav li:last-child,
        .navbar-fixed-top .container .navbar-collapse .navbar-nav li:last-child {
          border-bottom: none; } }
.nav_bg {
  background-color: #006eff !important; }

.is_true_Underline {
  border-bottom: 2px solid #ffffff !important; }

#carousel-example-generic .carousel-indicators li {
  width: 30px;
  height: 7px;
  opacity: 0.35;
  background-color: #ffffff; }
#carousel-example-generic .carousel-indicators .active {
  width: 57px;
  height: 7px;
  opacity: 1;
  transform: translate(0, -1px); }

#carousel-example-generic .carousel-inner .item .phone_pic {
  display: none; }

@media (max-width: 768px) {
  #carousel-example-generic .carousel-inner .item .pc_pic {
    display: none; }
  #carousel-example-generic .carousel-inner .item .phone_pic {
    display: block; } }
.footer {
  background-color: #1c1e2b;
  width: 100%;
  padding: 50px 0; }
  .footer .container {
    padding: 0; }
    .footer .container .footer_tit {
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 20px; }
      .footer .container .footer_tit img {
        width: 150px;
        height: auto; }
      .footer .container .footer_tit div {
        letter-spacing: 3px;
        height: 40px;
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        border-left: 1px solid #dfdfdf;
        margin-left: 20px;
        padding-left: 20px;
        transform: translate(0, 6px); }
    .footer .container .footer_contenr {
      margin-top: 10px; }
      .footer .container .footer_contenr .footer_contenr_left {
        padding-top: 20px; }
        .footer .container .footer_contenr .footer_contenr_left p {
          font-size: 14px;
          font-weight: 700;
          text-align: left;
          color: #ffffff;
          letter-spacing: 2px; }
        .footer .container .footer_contenr .footer_contenr_left h3 {
          font-size: 20px;
          font-weight: 700;
          text-align: left;
          color: #ffffff; }
        .footer .container .footer_contenr .footer_contenr_left button {
          display: none;
          color: #ffffff;
          background-color: rgba(255, 255, 255, 0);
          border: 1px solid #ffffff;
          padding: 5px 20px;
          font-size: 10px;
          border-radius: 5px;
          margin-top: 10px; }
        .footer .container .footer_contenr .footer_contenr_left button:hover {
          color: #006eff;
          background-color: #ffffff; }
      .footer .container .footer_contenr .footer_contenr_center {
        padding: 0;
        margin-top: 14px;
        display: flex; }
        .footer .container .footer_contenr .footer_contenr_center ul {
          width: 120px; }
          .footer .container .footer_contenr .footer_contenr_center ul li {
            margin-top: 4px; }
            .footer .container .footer_contenr .footer_contenr_center ul li a {
              color: #787b92;
              font-size: 12px;
              height: 24px; }
          .footer .container .footer_contenr .footer_contenr_center ul li:nth-child(1) {
            height: 30px; }
            .footer .container .footer_contenr .footer_contenr_center ul li:nth-child(1) a {
              letter-spacing: 2px;
              font-size: 14px;
              font-weight: 700;
              text-align: left;
              color: #ffffff;
              text-decoration: none; }
          .footer .container .footer_contenr .footer_contenr_center ul li:hover a {
            color: #ffffff; }
        .footer .container .footer_contenr .footer_contenr_center ul:nth-child(1) {
          margin-left: 14px; }
        .footer .container .footer_contenr .footer_contenr_center ul:nth-child(2) {
          width: 80px; }
      .footer .container .footer_contenr .footer_contenr_right {
        text-align: center;
        padding-top: 20px; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_left {
          display: none; }
          .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_left p {
            font-size: 14px;
            font-weight: 700;
            text-align: left;
            color: #ffffff; }
          .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_left h3 {
            font-size: 20px;
            font-weight: 700;
            text-align: left;
            color: #ffffff; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_right img {
          width: 90px;
          height: auto; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_right p {
          font-size: 12px;
          margin: 0;
          letter-spacing: 2px;
          margin-top: 10px;
          font-weight: 550;
          text-align: center;
          color: #ffffff; }
    .footer .container .footer_last {
      margin-top: 20px; }
      .footer .container .footer_last section {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #666666; }

@media (max-width: 992px) {
  .footer .container {
    padding: 0; }
    .footer .container .footer_contenr {
      padding: 0; }
      .footer .container .footer_contenr .footer_contenr_left {
        display: none; }
      .footer .container .footer_contenr .footer_contenr_right {
        display: flex;
        justify-content: center; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_left {
          display: inline-block;
          padding-top: 40px; }
          .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_left p {
            text-align: center; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_right img {
          width: 90px;
          height: auto; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_right p {
          font-size: 12px;
          margin: 0;
          margin-top: 10px;
          font-weight: 550;
          text-align: center;
          color: #ffffff; } }
@media (max-width: 768px) {
  .footer .container .footer_tit {
    padding-left: 5%; }
    .footer .container .footer_tit img {
      width: 80px;
      transform: translate(0, 6px); }
    .footer .container .footer_tit div {
      font-size: 16px;
      transform: translate(0, 12px);
      height: 20px;
      line-height: 8px;
      padding: 10px;
      margin: 0; }
  .footer .container .footer_contenr .footer_contenr_center {
    padding-left: 5%; }
    .footer .container .footer_contenr .footer_contenr_center ul:nth-child(1) {
      display: none; }
    .footer .container .footer_contenr .footer_contenr_center ul:nth-child(2) {
      width: 96px; } }
.scroll-nav {
  position: fixed;
  top: 20%;
  right: 0;
  width: 80px;
  background: #fff;
  z-index: 200; }
  .scroll-nav .nav-stacked li {
    height: 100px;
    font-size: 12px;
    text-align: center; }
    .scroll-nav .nav-stacked li a {
      color: #fff;
      padding: 22px 15px;
      border-radius: 0;
      background-color: initial; }
      .scroll-nav .nav-stacked li a img {
        width: 30px;
        margin-bottom: 10px; }
    .scroll-nav .nav-stacked li .qrCodeImg {
      display: none;
      height: 100px;
      position: relative;
      right: 105px;
      bottom: 101px; }
      .scroll-nav .nav-stacked li .qrCodeImg img {
        width: 101px;
        height: 101px; }
    .scroll-nav .nav-stacked li .phone {
      position: relative;
      bottom: 60px;
      left: 80px;
      color: white;
      font-size: 15px;
      text-align: left; }
  .scroll-nav .nav-stacked li:hover .qrCodeImg {
    display: block; }
  .scroll-nav .nav-stacked .phone_side {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    width: 190px;
    right: 0px; }
    .scroll-nav .nav-stacked .phone_side a {
      width: 80px; }
  .scroll-nav .nav-stacked .phone_side:hover {
    right: 110px; }
  .scroll-nav .nav-stacked .top_side {
    background: #ABABAB; }
  .scroll-nav .bg_WeChat {
    background: #5ad94c; }
  .scroll-nav .bg_officialaccount {
    background: #f5a623; }
  .scroll-nav .bg_phone {
    background: #4a90e2; }

.information {
  width: 100%;
  padding-bottom: 40px; }
  .information .container {
    padding: 0; }
    .information .container .content_title {
      padding-bottom: 0; }
      .information .container .content_title h1 {
        color: #333333; }
      .information .container .content_title section {
        color: #666666; }
    .information .container .information_time {
      width: inherit;
      height: 50px;
      margin-bottom: 30px;
      margin-top: 0;
      border-bottom: 1px solid #cecece;
      position: relative; }
      .information .container .information_time .information_time_right {
        position: absolute;
        right: 10px;
        top: 0;
        display: flex; }
        .information .container .information_time .information_time_right section {
          margin-left: 30px;
          font-size: 16px;
          font-weight: 400;
          text-align: left;
          color: #555555; }
    .information .container p {
      font-size: 18px;
      font-weight: Normal;
      text-align: left;
      color: #333333; }
    .information .container div {
      margin: 20px 0;
      text-align: center; }
      .information .container div img {
        width: 60%;
        height: auto; }

@media (max-width: 768px) {
  .information {
    padding-bottom: 20px; }
    .information .container .information_time {
      width: 90%;
      margin-left: 5%;
      height: 30px;
      margin-bottom: 10px;
      border-bottom: 1px solid #cecece; }
      .information .container .information_time .information_time_right {
        top: -10px; }
        .information .container .information_time .information_time_right section {
          font-size: 10px; }
    .information .container p {
      margin-left: 4%; }
    .information .container div {
      text-align: center; }
      .information .container div img {
        margin-left: 8%;
        width: 60%;
        height: auto; } }

/*# sourceMappingURL=information.css.map */
