.ontrial {
  width: 99.4vw;
  height: 98vh;
  position: relative;
  overflow: hidden;
  padding-top: 110px; }
  .ontrial .ontrial_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 99vh;
    z-index: -1; }
  .ontrial .ontrial_content {
    width: 1430px;
    height: 730px;
    display: flex; }
    .ontrial .ontrial_content .ontrial_left {
      width: 700px;
      height: 600px;
      padding-top: 50px; }
      .ontrial .ontrial_content .ontrial_left h1 {
        font-size: 40px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        letter-spacing: 4px;
        margin-bottom: 30px;
        margin-left: 30px; }
      .ontrial .ontrial_content .ontrial_left p {
        font-size: 38px;
        font-weight: 400;
        text-align: left;
        color: #ffffff;
        line-height: 40px;
        margin-left: 30px; }
      .ontrial .ontrial_content .ontrial_left img {
        margin-top: 100px;
        margin-left: 20px;
        width: 500px;
        height: auto; }
    .ontrial .ontrial_content .ontrial_right {
      padding-top: 40px;
      padding-left: 40px; }
      .ontrial .ontrial_content .ontrial_right h2 {
        font-size: 65px;
        font-weight: 700;
        text-align: center;
        color: #2882fe;
        margin-left: 100px; }
      .ontrial .ontrial_content .ontrial_right form {
        margin-left: 100px;
        margin-top: 40px; }
        .ontrial .ontrial_content .ontrial_right form .form-group {
          height: 50px;
          position: relative; }
          .ontrial .ontrial_content .ontrial_right form .form-group input {
            height: 50px;
            padding-left: 55px; }
          .ontrial .ontrial_content .ontrial_right form .form-group img {
            width: 21px;
            height: 26px;
            position: absolute;
            top: 10px;
            left: 20px; }
        .ontrial .ontrial_content .ontrial_right form button {
          width: 449px;
          height: 66px;
          background: linear-gradient(#33a1ff 0%, #33cdff 100%);
          border-radius: 10px;
          font-size: 32px;
          font-weight: 400;
          text-align: center;
          color: #ffffff;
          margin-top: 30px; }
  .ontrial .ontrial_down {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #ffffff; }
  .ontrial .result {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); }
    .ontrial .result .pop {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 389px;
      height: 439px; }
      .ontrial .result .pop .pop_bg {
        width: 389px;
        height: 439px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; }
      .ontrial .result .pop p {
        width: 256px;
        height: 47px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: #006eff;
        line-height: 30px;
        position: absolute;
        bottom: 130px;
        left: 60px; }
      .ontrial .result .pop button {
        width: 296px;
        height: 50px;
        background: linear-gradient(#33a1ff 0%, #33cdff 100%);
        border-radius: 25px;
        font-size: 19px;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
        position: absolute;
        bottom: 40px;
        left: 50px; }
  .ontrial .on {
    display: block; }

/*# sourceMappingURL=ontrial.css.map */
