.benchmarking {
    width: 100%;
    padding-bottom: 70px;
    background: #f4f7fe;

    .container {
        .content_title {
            h1 {
                color: #333333;
            }
            section {
                color: #666666;
            }
        }
        .benchmarking_content {
            padding: 0;
            display: flex;
            justify-content: space-between;
            .benchmarking_item {
                width: 22%;
                padding: 0;
                background-color: #ffffff;
                img {
                    width: 100%;
                    height: auto;
                    // border: 1px dashed #666666;
                    border: 1px solid #666666;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .benchmarking {
        padding-bottom: 40px;
        .container {
            .benchmarking_content {
                flex-wrap: wrap;
                padding: 0 5%;
                .benchmarking_item {
                    width: 48%;
                    margin-bottom: 20px;
                    img {}
                }
            }
        }
    }
}