

@import '../components/important.scss';
// 导航
@import '../components/nav.scss';
.navbar-default {
    .navbar-nav {
        li:nth-child(3){
            border-bottom: 2px solid #ffffff;
        }
    }
    .navbar-nav:hover{
        li{
            border: none;
        }
    }
}
@media (max-width: 768px) {
    .navbar-default {
        .navbar-nav {
            li:nth-child(3) {
                border-bottom: 1px solid #cccccc !important;
            }
        }

        .navbar-nav:hover {
            li {
                border-bottom: 1px solid #cccccc;
            }
        }
    }
}

// 轮播
@import '../components/swiper.scss';
#carousel-example-generic{
    .carousel-inner{
        .item{
            img{
                width: 100%;
                height: 600px;
            }
        }
    }
}

@media (max-width: 992px){
    #carousel-example-generic{
        .carousel-inner{
            .item{
                img{
                    height: auto;
                }
            }
        }
    }
}

// 解决企业痛点
@import './solve.scss';

// 模式一
@import './pattern_one.scss';

// 模式二
@import './pattern_two.scss';

// 适用
@import './apply.scss';



// 底部
@import '../components/footer.scss';

// 侧边栏
@import '../components/contact.scss';