

@import '../components/important.scss';
// 导航
@import '../components/nav.scss';
.navbar-default {
    .navbar-nav {
        li:nth-child(3){
            border-bottom: 2px solid #ffffff;
        }
    }
    .navbar-nav:hover{
        li{
            border: none;
        }
    }
}
@media (max-width: 768px) {
    .navbar-default {
        .navbar-nav {
            li:nth-child(3) {
                border-bottom: 1px solid #cccccc !important;
            }
        }

        .navbar-nav:hover {
            li {
                border-bottom: 1px solid #cccccc;
            }
        }
    }
}

// 头部图片
@import './exhibition_tit.scss';


// 解决企业痛点
@import './solve.scss';

// 方案优势
@import './program.scss';

// 模板一
@import './template_one.scss';
// 模板二
@import './template_two.scss';

// 标杆客户
@import './benchmarking.scss';


// 底部
@import '../components/footer.scss';

// 侧边栏
@import '../components/contact.scss';