// 模式
.pattern_two {
    width: 100vw;
    height: 700px;
    padding-top: 120px;
    position: relative;
    background: #ffffff;

    .container {
        display: flex;

        .pattern_two_left {
            img {
                width: 470px;
                height: auto;
            }

        }

        .pattern_two_right {
            margin-top: 60px;
            margin-left: 100px;

            h1 {
                font-size: 36px;
                font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
                font-weight: 700;
                text-align: left;
                color: #0754ff;
            }

            p {
                width: 456px;
                height: 176px;
                font-size: 24px;
                font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
                font-weight: 400;
                text-align: left;
                color: #333333;
                line-height: 38px;
            }
        }


    }
}