// 模式
.pattern_two {
    width: 100vw;
    height: 700px;
    position: relative;
    background: #ffffff;

    .pad {
        padding-top: 80px;

        .pattern_two_left {
            img {
                width: 500px;
                height: auto;
            }

        }

        .pattern_two_right {
            padding-left: 90px;
            padding-top: 50px;

            h1 {
                font-size: 34px;
                font-weight: 700;
                text-align: left;
                color: #0754ff;
            }

            p {
                margin-top: 20px;
                width: 456px;
                height: 176px;
                font-size: 20px;
                font-weight: 400;
                color: #333333;
                line-height: 38px;
            }
        }
    }



}