// 解决企业痛点
.solve {
    width: 100%;
    position: relative;
    padding-bottom: 70px;

    .container {
        .content_title {
            h1 {
                color: #333333;
            }

            section {
                color: #666666;
            }
        }

        .solve_down {
            li {
                text-align: center;
                padding: 0;

                .solve_item {
                    background: #ffffff;
                    border: 1px solid #d7e7ff;
                    box-shadow: 5px 5px 18px 0px #d8e7ff;
                    margin-left: 10%;
                    width: 90%;
                    padding-bottom: 40px;
                    padding-top: 20px;
                    text-align: center;

                    section {
                        width: 80%;
                        margin-left: 10%;
                        background: #eff5fe;
                        font-size: 22px;
                        font-weight: bold;
                        color: #006eff;
                    }

                    div {
                        margin-top: 30px;
                        font-size: 16px;
                        font-weight: 500;
                        color: #333333;
                        padding: 0 28%;
                    }

                    img {
                        margin-top: 30px;
                        width: 80px;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .solve {
        padding-bottom: 40px;

        .container {
            .solve_down {
                li {
                    .solve_item {
                        section {}

                        div {
                            padding: 0 24%;
                            margin-top: 20px;
                        }

                        img {
                            margin-top: 30px;
                            width: 60px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .solve {
        padding-bottom: 40px;

        .container {
            .solve_down {
                li {
                    .solve_item {
                        padding-bottom: 30px;

                        section {
                            font-size: 18px;
                        }

                        div {
                            font-size: 12px;
                        }

                        img {
                            margin-top: 30px;
                            width: 40px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 766px) {
    .solve {
        padding-bottom: 20px;

        .container {
            .solve_down {
                padding-left: 6%;
                padding-right: 8%;
                
                li {
                    margin-bottom: 10px;
                    .solve_item {
                        width: 90%;
                        padding-bottom: 30px;

                        section {
                            font-size: 16px;
                        }

                        div {
                            font-size: 16px;
                            padding: 0 28%;
                        }

                        img {
                            margin-top: 30px;
                            width: 38px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 610px) {
    .solve {


        .container {
            .solve_down {

                li {
                    .solve_item {

                        section {}

                        div {
                            font-size: 16px;
                            padding: 0 25%;
                        }

                        img {
                            margin-top: 30px;
                            width: 38px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .solve {
        .container {
            .solve_down {
                padding-left: 6%;
                padding-right: 8%;

                li {
                    .solve_item {
                        width: 90%;
                        padding-bottom: 20px;

                        section {
                            font-size: 16px;
                            margin-bottom: 20px;
                        }

                        div {
                            font-size: 10px;
                            padding: 0 28%;
                        }

                        img {
                            margin-top: 10px;
                            width: 38px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .solve {
        .container {
            .solve_down {
                li {
                    .solve_item {
                        section {
                            font-size: 16px;
                            margin-bottom: 20px;
                        }

                        div {
                            font-size: 10px;
                            padding: 0 24%;
                        }

                        img {}
                    }
                }
            }
        }
    }
}
@media (max-width: 414px) {
    .solve {
        .container {
            .solve_down {
                li {
                    .solve_item {
                        section {
                            font-size: 16px;
                            margin-bottom: 20px;
                        }

                        div {
                            font-size: 10px;
                            padding: 0 22%;
                        }

                        img {}
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .solve {
        .container {
            .solve_down {
                li {
                    .solve_item {
                        section {}

                        div {
                            font-size: 10px;
                            padding: 0 14%;
                        }

                        img {}
                    }
                }
            }
        }
    }
}