// 解决企业痛点
.solve {
    width: 100%;
    position: relative;
    padding-bottom: 40px;

    .container {
        padding: 0;

        .content_title {
            h2 {
                color: #333333;
            }

            section {
                color: #666666;
            }
        }

        .solve_down {
            li {
                text-align: center;
                padding: 0;
                // border: 1px solid red;
                margin-bottom: 10px;

                .solve_item {
                    background: #ffffff;
                    border: 1px solid #d7e7ff;
                    box-shadow: 5px 5px 18px 0px #d8e7ff;
                    margin-left: 10%;
                    width: 90%;
                    padding-bottom: 50px;
                    padding-top: 18px;
                    text-align: center;

                    section {
                        width: 80%;
                        margin-left: 10%;
                        background: #eff5fe;
                        font-size: 22px;
                        font-weight: 550;
                        color: #006eff;
                    }

                    div {
                        margin-top: 20px;
                        font-size: 14px;
                        font-weight: 500;
                        text-align: center;
                        color: #333333;
                    }

                    img {
                        margin-top: 50px;
                        width: 80px;
                        height: auto;
                    }
                }



            }
        }
    }
}

@media (max-width: 1200px) {
    .solve {
        padding-bottom: 40px;

        .container {
            .solve_down {
                li {
                    .solve_item {
                        section {}

                        div {}

                        img {
                            margin-top: 50px;
                            width: 60px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .solve {
        padding-bottom: 40px;

        .container {
            .solve_down {
                li {
                    .solve_item {
                        padding-bottom: 30px;

                        section {
                            font-size: 18px;
                        }

                        div {
                            font-size: 12px;
                        }

                        img {
                            margin-top: 30px;
                            width: 40px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .solve {
        padding-bottom: 40px;

        .container {
            .solve_down {
                li {
                    .solve_item {
                        width: 70%;
                        margin-left: 10%;

                        section {
                            font-size: 16px;
                        }

                        div {
                            font-size: 10px;
                        }

                        img {
                            margin-top: 30px;
                            width: 38px;
                            height: auto;
                        }
                    }
                }

                li:nth-child(1),
                li:nth-child(4) {
                    .solve_item {
                        margin-left: 20%;
                    }
                }
                li:nth-child(2),
                li:nth-child(5) {
                    .solve_item {
                        margin-left: 15%;
                    }
                }
            }
        }
    }
}