// 解决企业痛点
.solve {
    width: 100vw;
    height: 540px;
    position: relative;

    .solve_tit {
        margin-bottom: 30px;

        h2 {
            font-size: 34px;
            font-weight: 700;
            text-align: center;
            color: #333333;
        }

        section {
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            color: #666666;
            margin-top: 20px;
        }
    }

    .solve_down {
        display: flex;
        width: 1200px;
        transform: translate(-15px, 0);

        li {
            width: 200px;
            height: 280px;
            background: #ffffff;
            border: NaNpx solid #d7e7ff;
            box-shadow: 5px 5px 18px 0px #d8e7ff;
            margin-right: 20px;

            section {
                width: 147px;
                height: 36px;
                background: #eff5fe;
                text-align: center;
                line-height: 36px;
                font-size: 22px;
                font-weight: 550;
                color: #006eff;
                margin: 20px auto;
            }

            div {
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                color: #333333;
                margin-top: 20px;
            }

            img {
                margin-top: 70px;
                margin-left: 50px;
                width: 75px;
                height: auto;
            }
        }

        li:nth-child(6) {
            margin-right: 0;
        }

    }
}