@import "https://common.zwwltkl.com/fonts/pingfang/pingfang.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.38px; }

.container {
  padding: 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

button {
  outline: none !important; }

.content_title {
  padding-top: 70px;
  padding-bottom: 40px; }
  .content_title h1 {
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #333333; }
  .content_title section {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-top: 20px; }

.container {
  padding: 0; }

@media (max-width: 992px) {
  .content_title {
    padding-top: 30px;
    padding-bottom: 20px; }
    .content_title h1 {
      font-size: 28px; }
    .content_title section {
      font-size: 18px;
      margin-top: 20px; } }
@media (max-width: 768px) {
  .content_title {
    padding-top: 26px;
    padding-bottom: 18px; }
    .content_title h1 {
      font-size: 22px;
      padding: 0 16%;
      line-height: 34px; }
    .content_title section {
      font-size: 14px;
      margin-top: 10px;
      padding: 0 16%; } }
* {
  padding: 0;
  margin: 0; }

.nav_index {
  font-size: 20px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: none; }
  .nav_index .container {
    padding: 0; }
    .nav_index .container .navbar-header .navbar_phone {
      display: none; }
    .nav_index .container .navbar-header .navbar-brand .nav_logo {
      width: 130px;
      height: auto; }
    .nav_index .container .navbar-collapse .navbar-nav {
      transform: translate(0, 11px); }
      .nav_index .container .navbar-collapse .navbar-nav li {
        padding-left: 0;
        padding-right: 0;
        margin-left: 24px; }
        .nav_index .container .navbar-collapse .navbar-nav li a {
          color: #ffffff;
          padding-left: 0;
          padding-right: 0; }
      .nav_index .container .navbar-collapse .navbar-nav li:hover {
        color: #ffffff; }
    .nav_index .container .navbar-collapse .navbar-text {
      color: #ffffff;
      transform: translate(-15px, 7px); }
      .nav_index .container .navbar-collapse .navbar-text span {
        display: inline-block;
        transform: translate(0, 4px); }
      .nav_index .container .navbar-collapse .navbar-text button {
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #ffffff;
        padding: 5px 20px;
        margin-left: 20px;
        font-size: 14px;
        border-radius: 5px; }
        .nav_index .container .navbar-collapse .navbar-text button a {
          color: #ffffff; }
      .nav_index .container .navbar-collapse .navbar-text button:hover {
        background-color: #ffffff;
        border: 1px solid #006eff; }
        .nav_index .container .navbar-collapse .navbar-text button:hover a {
          color: #006eff;
          text-decoration: none; }

@media (max-width: 992px) {
  .nav_index .navbar-text {
    display: none; } }
@media (max-width: 766px) {
  .nav_index {
    height: 50px;
    border: none; }
    .nav_index .container {
      position: relative; }
      .nav_index .container .navbar-header .navbar_phone {
        position: absolute;
        right: 70px;
        top: -7px;
        display: inline-block;
        color: #ffffff; }
        .nav_index .container .navbar-header .navbar_phone button {
          height: 28px;
          line-height: 8px; }
        .nav_index .container .navbar-header .navbar_phone button:hover a {
          text-decoration: none; }
      .nav_index .container .navbar-header .navbar_switch {
        border: none; }
        .nav_index .container .navbar-header .navbar_switch .icon-bar {
          background-color: #ffffff; }
      .nav_index .container .navbar-header .navbar-brand .nav_logo {
        width: 100px;
        height: auto;
        transform: translate(0, -7px); }
      .nav_index .container #example-navbar-collapse {
        height: 230px;
        background-color: #ffffff; }
      .nav_index .container .navbar-collapse {
        font-size: 16px; }
        .nav_index .container .navbar-collapse .navbar-nav li {
          padding-left: 30px;
          margin-left: 0;
          border-bottom: 1px solid #cccccc; }
          .nav_index .container .navbar-collapse .navbar-nav li a {
            color: #333333; }
        .nav_index .container .navbar-collapse .navbar-nav li:hover {
          border-bottom: 1px solid #006eff !important; }
          .nav_index .container .navbar-collapse .navbar-nav li:hover a {
            color: #006eff; }
          .nav_index .container .navbar-collapse .navbar-nav li:hover li:last-child {
            border-bottom: none; }
        .nav_index .container .navbar-collapse .navbar-nav li:last-child {
          border-bottom: none; } }
.nav_bg {
  background-color: #006eff !important; }

.is_true_Underline {
  border-bottom: 2px solid #ffffff !important; }

.navbar-default .navbar-nav li:nth-child(2) {
  border-bottom: 2px solid #ffffff; }
.navbar-default .navbar-nav:hover li {
  border: none; }

@media (max-width: 768px) {
  .navbar-default .navbar-nav li:nth-child(2) {
    border-bottom: 1px solid #cccccc !important; }
  .navbar-default .navbar-nav:hover li {
    border-bottom: 1px solid #cccccc; } }
#carousel-example-generic .carousel-indicators li {
  width: 30px;
  height: 7px;
  opacity: 0.35;
  background-color: #ffffff; }
#carousel-example-generic .carousel-indicators .active {
  width: 57px;
  height: 7px;
  opacity: 1;
  transform: translate(0, -1px); }

#carousel-example-generic .carousel-inner .item img {
  width: 100%;
  height: 600px; }

@media (max-width: 992px) {
  #carousel-example-generic .carousel-inner .item img {
    height: auto; } }
.introduce {
  width: 100%;
  position: relative;
  padding-bottom: 50px; }
  .introduce .content_title h1 {
    color: #333333; }
  .introduce .content_title section {
    color: #666666; }
  .introduce .introduce_down {
    padding: 0; }
    .introduce .introduce_down .introduce_left div {
      width: 175px;
      height: 10px;
      background: #006eff; }
    .introduce .introduce_down .introduce_left h2 {
      font-size: 32px;
      font-weight: 700;
      text-align: left;
      color: #333333;
      margin-top: 30px;
      margin-bottom: 30px; }
    .introduce .introduce_down .introduce_left p {
      margin-top: 16px;
      width: 90%;
      font-size: 20px;
      font-weight: 400;
      text-align: left;
      color: #333333; }
    .introduce .introduce_down .introduce_left ul {
      display: flex;
      margin-top: 30px; }
      .introduce .introduce_down .introduce_left ul li {
        background: #ffffff;
        border: 1px solid #d7e7ff;
        border-radius: 1px;
        box-shadow: 5px 5px 18px 0px rgba(0, 110, 255, 0.3);
        margin-right: 20px;
        padding: 12px 10px;
        text-align: center; }
        .introduce .introduce_down .introduce_left ul li img {
          width: 44px;
          height: auto; }
        .introduce .introduce_down .introduce_left ul li section {
          font-size: 16px;
          font-weight: 400;
          text-align: center;
          color: #666666;
          margin-top: 8px; }
    .introduce .introduce_down .introduce_right {
      padding-top: 20px; }
      .introduce .introduce_down .introduce_right img {
        width: 550px;
        height: auto; }

@media (max-width: 1200px) {
  .introduce .introduce_down .introduce_right {
    padding-top: 60px; }
    .introduce .introduce_down .introduce_right img {
      width: 450px;
      height: auto; } }
@media (max-width: 992px) {
  .introduce .introduce_down .introduce_left div {
    width: 145px;
    height: 8px;
    margin-top: 50px; }
  .introduce .introduce_down .introduce_left h2 {
    font-size: 28px; }
  .introduce .introduce_down .introduce_left p {
    font-size: 16px; }
  .introduce .introduce_down .introduce_left ul li {
    padding: 8px 10px; }
    .introduce .introduce_down .introduce_left ul li img {
      width: 38px; }
    .introduce .introduce_down .introduce_left ul li section {
      font-size: 12px; }
  .introduce .introduce_down .introduce_right {
    padding-top: 60px; }
    .introduce .introduce_down .introduce_right img {
      width: 100%; } }
@media (max-width: 768px) {
  .introduce .introduce_down .introduce_left {
    padding-left: 5%; }
    .introduce .introduce_down .introduce_left div {
      width: 145px;
      height: 8px;
      margin-top: 20px; }
    .introduce .introduce_down .introduce_left h2 {
      font-size: 20px; }
    .introduce .introduce_down .introduce_left p {
      font-size: 14px;
      width: 98%; }
    .introduce .introduce_down .introduce_left ul li {
      padding: 8px 10px; }
      .introduce .introduce_down .introduce_left ul li img {
        width: 38px; }
      .introduce .introduce_down .introduce_left ul li section {
        font-size: 10px; }
  .introduce .introduce_down .introduce_right {
    padding-top: 60px; }
    .introduce .introduce_down .introduce_right img {
      width: 90%; } }
@media (max-width: 768px) {
  .introduce .introduce_down .introduce_right {
    padding-top: 60px; }
    .introduce .introduce_down .introduce_right img {
      width: 90%; } }
.highlights {
  width: 100%;
  position: relative;
  padding-bottom: 70px; }
  .highlights .highlights_bg {
    z-index: -1;
    width: inherit;
    height: 410px;
    position: absolute;
    top: 0;
    left: 0; }
  .highlights .container .content_title h1 {
    color: #ffffff; }
  .highlights .container .content_title section {
    color: #ffffff; }
  .highlights .container .highlights_down {
    padding: 0; }
    .highlights .container .highlights_down li {
      padding: 0;
      text-align: center; }
      .highlights .container .highlights_down li img {
        width: 50%;
        height: auto;
        padding: 15px;
        height: auto;
        background: #006eff;
        border-radius: 10px; }
      .highlights .container .highlights_down li section {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #ffffff; }

@media (max-width: 992px) {
  .highlights {
    padding-bottom: 40px; }
    .highlights .highlights_bg {
      height: 360px; }
    .highlights .container .highlights_down li section {
      font-size: 14px;
      margin-top: 5px; } }
@media (max-width: 768px) {
  .highlights {
    padding-bottom: 40px; }
    .highlights .container .content_title {
      padding-bottom: 0; }
    .highlights .container .highlights_down li {
      margin-top: 20px; }
      .highlights .container .highlights_down li img {
        width: 30%; } }
@media (max-width: 620px) {
  .highlights {
    padding-bottom: 20px; }
    .highlights .container .highlights_down li img {
      width: 40%; } }
@media (max-width: 460px) {
  .highlights {
    padding-bottom: 20px; }
    .highlights .container .highlights_down li img {
      width: 50%; } }
.pattern_one {
  width: 100%;
  position: relative;
  background: #f2f3fa;
  padding-bottom: 40px; }
  .pattern_one .pad {
    padding-top: 80px; }
    .pattern_one .pad .pattern_one_left {
      padding-top: 60px;
      padding-left: 40px; }
      .pattern_one .pad .pattern_one_left h1 {
        margin: 0;
        padding: 0;
        font-size: 32px;
        font-weight: 700;
        text-align: left;
        color: #0754ff; }
      .pattern_one .pad .pattern_one_left p {
        margin-top: 20px;
        width: 70%;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        color: #333333;
        line-height: 32px; }
    .pattern_one .pad .pattern_one_right {
      padding-left: 10px; }
      .pattern_one .pad .pattern_one_right img {
        width: 500px;
        height: auto; }

@media (max-width: 992px) {
  .pattern_one .pad .pattern_one_left {
    padding-left: 10%;
    padding-top: 10px; }
    .pattern_one .pad .pattern_one_left h1 {
      font-size: 30px; }
    .pattern_one .pad .pattern_one_left p {
      font-size: 16px; }
  .pattern_one .pad .pattern_one_right {
    text-align: center; }
    .pattern_one .pad .pattern_one_right img {
      width: 300px; } }
@media (max-width: 768px) {
  .pattern_one .pad .pattern_one_left h1 {
    font-size: 22px; }
  .pattern_one .pad .pattern_one_left p {
    width: 80%;
    font-size: 14px; }
  .pattern_one .pad .pattern_one_right {
    text-align: center; } }
.pattern_two {
  width: 100%;
  position: relative;
  background: #ffffff;
  padding-bottom: 70px; }
  .pattern_two .pad {
    padding-top: 80px; }
    .pattern_two .pad .pattern_two_left img {
      width: 500px;
      height: auto; }
    .pattern_two .pad .pattern_two_right {
      padding-left: 90px;
      padding-top: 50px; }
      .pattern_two .pad .pattern_two_right h1 {
        font-size: 34px;
        font-weight: 700;
        text-align: left;
        color: #0754ff; }
      .pattern_two .pad .pattern_two_right p {
        margin-top: 20px;
        width: 70%;
        font-size: 20px;
        font-weight: 400;
        color: #333333;
        line-height: 32px; }

@media (max-width: 992px) {
  .pattern_two .pad .pattern_two_left {
    text-align: center;
    transform: translate(0, 240px); }
    .pattern_two .pad .pattern_two_left img {
      width: 300px;
      height: auto; }
  .pattern_two .pad .pattern_two_right {
    transform: translate(0, -300px);
    padding-left: 10%;
    padding-top: 10px; }
    .pattern_two .pad .pattern_two_right h1 {
      font-size: 30px; }
    .pattern_two .pad .pattern_two_right p {
      font-size: 16px; } }
@media (max-width: 768px) {
  .pattern_two .pad .pattern_two_right h1 {
    font-size: 22px; }
  .pattern_two .pad .pattern_two_right p {
    width: 80%;
    font-size: 14px; } }
.propaganda {
  width: 100%;
  position: relative;
  background: #f8f8f8;
  padding-bottom: 70px; }
  .propaganda .content_title h1 {
    color: #333333; }
  .propaganda .content_title section {
    color: #666666; }
  .propaganda img {
    width: 1200px;
    height: auto; }

@media (max-width: 1200px) {
  .propaganda {
    padding-bottom: 40px; }
    .propaganda img {
      width: 1000px;
      height: auto; } }
@media (max-width: 992px) {
  .propaganda {
    padding-bottom: 40px; }
    .propaganda img {
      margin-left: 5%;
      width: 100%;
      height: auto; } }
.marketing {
  width: 100%;
  position: relative;
  padding-bottom: 40px; }
  .marketing .content_title h1 {
    color: #333333; }
  .marketing .content_title section {
    color: #666666; }
  .marketing .container {
    position: relative; }
    .marketing .container .marketing_bg {
      width: 100%;
      height: auto;
      margin-left: 5%; }

.footer {
  background-color: #1c1e2b;
  width: 100%;
  padding: 50px 0; }
  .footer .container {
    padding: 0; }
    .footer .container .footer_tit {
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 20px; }
      .footer .container .footer_tit img {
        width: 150px;
        height: auto; }
      .footer .container .footer_tit div {
        letter-spacing: 3px;
        height: 40px;
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        border-left: 1px solid #dfdfdf;
        margin-left: 20px;
        padding-left: 20px;
        transform: translate(0, 6px); }
    .footer .container .footer_contenr {
      margin-top: 10px; }
      .footer .container .footer_contenr .footer_contenr_left {
        padding-top: 20px; }
        .footer .container .footer_contenr .footer_contenr_left p {
          font-size: 14px;
          font-weight: 700;
          text-align: left;
          color: #ffffff;
          letter-spacing: 2px; }
        .footer .container .footer_contenr .footer_contenr_left h3 {
          font-size: 20px;
          font-weight: 700;
          text-align: left;
          color: #ffffff; }
        .footer .container .footer_contenr .footer_contenr_left button {
          display: none;
          color: #ffffff;
          background-color: rgba(255, 255, 255, 0);
          border: 1px solid #ffffff;
          padding: 5px 20px;
          font-size: 10px;
          border-radius: 5px;
          margin-top: 10px; }
        .footer .container .footer_contenr .footer_contenr_left button:hover {
          color: #006eff;
          background-color: #ffffff; }
      .footer .container .footer_contenr .footer_contenr_center {
        padding: 0;
        margin-top: 14px;
        display: flex; }
        .footer .container .footer_contenr .footer_contenr_center ul {
          width: 120px; }
          .footer .container .footer_contenr .footer_contenr_center ul li {
            margin-top: 4px; }
            .footer .container .footer_contenr .footer_contenr_center ul li a {
              color: #787b92;
              font-size: 12px;
              height: 24px; }
          .footer .container .footer_contenr .footer_contenr_center ul li:nth-child(1) {
            height: 30px; }
            .footer .container .footer_contenr .footer_contenr_center ul li:nth-child(1) a {
              letter-spacing: 2px;
              font-size: 14px;
              font-weight: 700;
              text-align: left;
              color: #ffffff;
              text-decoration: none; }
          .footer .container .footer_contenr .footer_contenr_center ul li:hover a {
            color: #ffffff; }
        .footer .container .footer_contenr .footer_contenr_center ul:nth-child(1) {
          margin-left: 14px; }
        .footer .container .footer_contenr .footer_contenr_center ul:nth-child(2) {
          width: 80px; }
      .footer .container .footer_contenr .footer_contenr_right {
        text-align: center;
        padding-top: 20px; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_left {
          display: none; }
          .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_left p {
            font-size: 14px;
            font-weight: 700;
            text-align: left;
            color: #ffffff; }
          .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_left h3 {
            font-size: 20px;
            font-weight: 700;
            text-align: left;
            color: #ffffff; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_right img {
          width: 90px;
          height: auto; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_right p {
          font-size: 12px;
          margin: 0;
          letter-spacing: 2px;
          margin-top: 10px;
          font-weight: 550;
          text-align: center;
          color: #ffffff; }
    .footer .container .footer_last {
      margin-top: 20px; }
      .footer .container .footer_last section {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #666666; }

@media (max-width: 992px) {
  .footer .container {
    padding: 0; }
    .footer .container .footer_contenr {
      padding: 0; }
      .footer .container .footer_contenr .footer_contenr_left {
        display: none; }
      .footer .container .footer_contenr .footer_contenr_right {
        display: flex;
        justify-content: center; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_left {
          display: inline-block;
          padding-top: 40px; }
          .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_left p {
            text-align: center; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_right img {
          width: 90px;
          height: auto; }
        .footer .container .footer_contenr .footer_contenr_right .footer_contenr_right_right p {
          font-size: 12px;
          margin: 0;
          margin-top: 10px;
          font-weight: 550;
          text-align: center;
          color: #ffffff; } }
@media (max-width: 768px) {
  .footer .container .footer_tit {
    padding-left: 5%; }
    .footer .container .footer_tit img {
      width: 80px;
      transform: translate(0, 6px); }
    .footer .container .footer_tit div {
      font-size: 16px;
      transform: translate(0, 12px);
      height: 20px;
      line-height: 8px;
      padding: 10px;
      margin: 0; }
  .footer .container .footer_contenr .footer_contenr_center {
    padding-left: 5%; }
    .footer .container .footer_contenr .footer_contenr_center ul:nth-child(1) {
      display: none; }
    .footer .container .footer_contenr .footer_contenr_center ul:nth-child(2) {
      width: 96px; } }
.scroll-nav {
  position: fixed;
  top: 20%;
  right: 0;
  width: 80px;
  background: #fff;
  z-index: 200; }
  .scroll-nav .nav-stacked li {
    height: 100px;
    font-size: 12px;
    text-align: center; }
    .scroll-nav .nav-stacked li a {
      color: #fff;
      padding: 22px 15px;
      border-radius: 0;
      background-color: initial; }
      .scroll-nav .nav-stacked li a img {
        width: 30px;
        margin-bottom: 10px; }
    .scroll-nav .nav-stacked li .qrCodeImg {
      display: none;
      height: 100px;
      position: relative;
      right: 105px;
      bottom: 101px; }
      .scroll-nav .nav-stacked li .qrCodeImg img {
        width: 101px;
        height: 101px; }
    .scroll-nav .nav-stacked li .phone {
      position: relative;
      bottom: 60px;
      left: 80px;
      color: white;
      font-size: 15px;
      text-align: left; }
  .scroll-nav .nav-stacked li:hover .qrCodeImg {
    display: block; }
  .scroll-nav .nav-stacked .phone_side {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    width: 190px;
    right: 0px; }
    .scroll-nav .nav-stacked .phone_side a {
      width: 80px; }
  .scroll-nav .nav-stacked .phone_side:hover {
    right: 110px; }
  .scroll-nav .nav-stacked .top_side {
    background: #ABABAB; }
  .scroll-nav .bg_WeChat {
    background: #5ad94c; }
  .scroll-nav .bg_officialaccount {
    background: #f5a623; }
  .scroll-nav .bg_phone {
    background: #4a90e2; }

/*# sourceMappingURL=index.css.map */
