.exhibition_tit {
  width: 100%;
  position: relative; }
  .exhibition_tit .exhibition_tit_bottom img {
    width: 100%;
    height: auto; }
  .exhibition_tit .exhibition_tit_bottom .pc {
    display: block; }
  .exhibition_tit .exhibition_tit_bottom .phone {
    display: none; }
  .exhibition_tit .exhibition_tit_middle {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0; }
    .exhibition_tit .exhibition_tit_middle img {
      width: 100%;
      height: auto; }
    .exhibition_tit .exhibition_tit_middle .pc {
      display: block; }
    .exhibition_tit .exhibition_tit_middle .phone {
      display: none; }
  .exhibition_tit .exhibition_tit_up {
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .exhibition_tit .exhibition_tit_up h1 {
      font-size: 80px;
      font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
      font-weight: 700;
      color: #ffffff;
      letter-spacing: 2px;
      text-align: center;
      margin: 0;
      padding: 0;
      padding-left: 20px;
      transform: translate(0, 50px); }
    .exhibition_tit .exhibition_tit_up section {
      font-size: 30px;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
      font-weight: 400;
      text-align: center;
      color: #ffffff;
      margin: 0;
      padding: 0 24%;
      transform: translate(0, 130px); }

@media (max-width: 1400px) {
  .exhibition_tit .exhibition_tit_bottom img {
    height: 400px; }
  .exhibition_tit .exhibition_tit_middle img {
    height: 400px; }
  .exhibition_tit .exhibition_tit_up h1 {
    font-size: 56px;
    transform: translate(0, 40px); }
  .exhibition_tit .exhibition_tit_up section {
    font-size: 22px;
    padding: 0 20%;
    transform: translate(0, 100px); } }
@media (max-width: 1200px) {
  .exhibition_tit .exhibition_tit_bottom img {
    height: 400px; }
  .exhibition_tit .exhibition_tit_middle img {
    height: 400px; }
  .exhibition_tit .exhibition_tit_up h1 {
    font-size: 46px;
    transform: translate(0, 40px); }
  .exhibition_tit .exhibition_tit_up section {
    font-size: 22px;
    padding: 0 20%;
    transform: translate(0, 100px); } }
@media (max-width: 992px) {
  .exhibition_tit .exhibition_tit_bottom img {
    height: 400px; }
  .exhibition_tit .exhibition_tit_middle img {
    height: 400px; }
  .exhibition_tit .exhibition_tit_up h1 {
    font-size: 40px;
    transform: translate(0, 40px); }
  .exhibition_tit .exhibition_tit_up section {
    font-size: 20px;
    padding: 0 16%;
    transform: translate(0, 100px); } }
@media (max-width: 768px) {
  .exhibition_tit .exhibition_tit_bottom img {
    height: 300px; }
  .exhibition_tit .exhibition_tit_middle img {
    height: 300px; }
  .exhibition_tit .exhibition_tit_up h1 {
    font-size: 30px;
    transform: translate(0, 30px); }
  .exhibition_tit .exhibition_tit_up section {
    font-size: 18px;
    transform: translate(0, 80px); } }
@media (max-width: 750px) {
  .exhibition_tit .exhibition_tit_bottom img {
    width: 100%;
    height: auto; }
  .exhibition_tit .exhibition_tit_bottom .pc {
    display: none; }
  .exhibition_tit .exhibition_tit_bottom .phone {
    display: block; }
  .exhibition_tit .exhibition_tit_middle img {
    width: 100%;
    height: auto; }
  .exhibition_tit .exhibition_tit_middle .pc {
    display: none; }
  .exhibition_tit .exhibition_tit_middle .phone {
    display: block; }
  .exhibition_tit .exhibition_tit_up h1 {
    font-size: 50px;
    padding: 0;
    transform: translate(0, 38px); }
  .exhibition_tit .exhibition_tit_up section {
    font-size: 20px;
    padding: 0 5%;
    transform: translate(0, 90px); } }
@media (max-width: 750px) {
  .exhibition_tit .exhibition_tit_up h1 {
    font-size: 40px;
    padding: 0;
    transform: translate(0, 38px); }
  .exhibition_tit .exhibition_tit_up section {
    font-size: 20px;
    padding: 0 5%;
    transform: translate(0, 76px); } }
@media (max-width: 550px) {
  .exhibition_tit .exhibition_tit_up h1 {
    font-size: 36px;
    padding: 0;
    transform: translate(0, 38px); }
  .exhibition_tit .exhibition_tit_up section {
    font-size: 18px;
    padding: 0 5%;
    transform: translate(0, 66px); } }
@media (max-width: 480px) {
  .exhibition_tit .exhibition_tit_up h1 {
    font-size: 30px;
    padding: 0;
    transform: translate(0, 28px); }
  .exhibition_tit .exhibition_tit_up section {
    font-size: 16px;
    padding: 0 5%;
    transform: translate(0, 56px); } }
@media (max-width: 430px) {
  .exhibition_tit .exhibition_tit_up h1 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    transform: translate(0, 24px); }
  .exhibition_tit .exhibition_tit_up section {
    padding: 0;
    margin: 0 5%;
    font-size: 14px;
    transform: translate(0, 52px); } }
@media (max-width: 414px) {
  .exhibition_tit .exhibition_tit_bottom .pc {
    display: none; }
  .exhibition_tit .exhibition_tit_bottom .phone {
    display: block; }
  .exhibition_tit .exhibition_tit_middle .pc {
    display: none; }
  .exhibition_tit .exhibition_tit_middle .phone {
    display: block; }
  .exhibition_tit .exhibition_tit_up {
    width: 100%; }
    .exhibition_tit .exhibition_tit_up h1 {
      padding: 0;
      font-size: 28px;
      margin: 0;
      transform: translate(0, 24px); }
    .exhibition_tit .exhibition_tit_up section {
      padding: 0;
      margin: 0 5%;
      font-size: 14px;
      transform: translate(0, 52px); } }
@media (max-width: 375px) {
  .exhibition_tit .exhibition_tit_bottom .pc {
    display: none; }
  .exhibition_tit .exhibition_tit_bottom .phone {
    display: block; }
  .exhibition_tit .exhibition_tit_middle .pc {
    display: none; }
  .exhibition_tit .exhibition_tit_middle .phone {
    display: block; }
  .exhibition_tit .exhibition_tit_up h1 {
    padding: 0;
    font-size: 24px;
    margin: 0;
    transform: translate(0, 22px); }
  .exhibition_tit .exhibition_tit_up section {
    padding: 0;
    margin: 0 5%;
    font-size: 12px;
    transform: translate(0, 48px); } }
@media (max-width: 320px) {
  .exhibition_tit .exhibition_tit_bottom .pc {
    display: none; }
  .exhibition_tit .exhibition_tit_bottom .phone {
    display: block; }
  .exhibition_tit .exhibition_tit_middle .pc {
    display: none; }
  .exhibition_tit .exhibition_tit_middle .phone {
    display: block; }
  .exhibition_tit .exhibition_tit_up h1 {
    padding: 0;
    font-size: 20px;
    margin: 0;
    transform: translate(0, 30px); }
  .exhibition_tit .exhibition_tit_up section {
    padding: 0;
    margin: 0 2%;
    font-size: 12px;
    transform: translate(0, 44px); } }

/*# sourceMappingURL=exhibition_tit.css.map */
