// 简介
.brief {
    width: 100vw;
    height: 700px;
    padding-top: 40px;

    .brief_tit {
        font-size: 36px;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-weight: 700;
        text-align: center;
        color: #333333;
    }

    .brief_down {
        display: flex;
        margin-top: 40px;
        .brief_left {
            h1 {
                font-size: 36px;
                font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
                font-weight: 700;
                text-align: left;
                color: #333333;
                margin-bottom: 20px;
            }

            p {
                width: 494px;
                font-size: 16px;
                font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
                font-weight: 400;
                text-align: left;
                color: #333333;
            }
        }

        .brief_right {
            margin-left: 100px;
            margin-top: 50px;
            img {
                width: 500px;
                height: auto;
            }
        }
    }
}