// 简介
.brief {
    width: 100%;
    padding-bottom: 40px;

    .container {
        .content_title {
            color: #333333;
        }

        .brief_down {
            .brief_left {
                h1 {
                    padding: 0;
                    margin: 0;
                    font-size: 34px;
                    font-weight: 700;
                    text-align: left;
                    color: #333333;
                    margin-bottom: 40px;
                }

                p {
                    width: 90%;
                    font-size: 16px;
                    font-weight: 400;
                    text-align: left;
                    color: #333333;
                    margin-bottom: 20px;
                }
            }

            .brief_right {
                padding: 0;
                padding-top: 20px;

                img {
                    width: 90%;
                    height: auto;
                }
            }
        }
    }

}

@media (max-width: 992px) {
    .brief {
        padding-bottom: 40px;
        .container {
            .brief_down {
                .brief_left {
                    h1 {}
                    p {}
                }
                .brief_right {
                    img {
                        width: 100%;
                    }
                }
            }
        }

    }
}
@media (max-width: 768px) {
    .brief {
        padding-bottom: 40px;
        .container {
            .brief_down {
                .brief_left {
                    padding-left: 10%;
                    h1 {
                        font-size: 24px;
                        margin-left: 5%;
                        margin-bottom: 20px;
                    }
                    p {
                        width: 95%;
                    }
                }
                .brief_right {
                    img {
                        padding-left: 10%;
                        width: 90%;
                    }
                }
            }
        }

    }
}