// 位置
.position {
    width: 100vw;
    height: 700px;
    background: #ffffff;

    .position_map {
        #position_map {
            width: 550px;
            height: 450px;
            border: 2px solid red;
        }
    }


    .position_contact {
        height: 450px;
        padding-top: 70px;
        padding-left: 40px;

        div {
            display: flex;

            section {
                font-size: 22px;
                font-weight: bold;
                color: #666666;
                width: 130px;
                margin-top: 10px;
            }

            span {
                display: inline-block;
                margin-left: 10px;
                width: 216px;
                margin-top: 10px;
                font-size: 18px;
                font-weight: 500;
                line-height: 34px;
            }
        }
    }
}