// 
.publicbenefit {
    width: 100vw;
    height: 700px;
    background: #ffffff;

    .publicbenefit_tit {
        h2 {
            font-size: 34px;
            font-weight: 700;
            text-align: center;
            color: #333333;
        }

        section {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            color: #666666;

        }
    }

    .publicbenefit_down {
        width: 1200px;
        transform: translate(-15px,0);
        display: flex;
        margin-top: 30px;
        li {
            margin-right: 20px;
            width: 386px;
            height: 450px;
            background: #ffffff;
            border: 1px solid #d7e7ff;
            border-radius: 10px;
            box-shadow: 0 0 5px 0px rgba(0, 110, 255, 0.15);
            img {
                width: 386px;
                height: 240px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                margin-bottom: 12px;
            }

            div {
                text-align: center;

                h3 {
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    color: #333333;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    text-align: left;
                    color: #999999;
                    padding: 0 15px;
                    margin-top: 30px;
                }

                div {
                    width: 60px;
                    height: 4px;
                    background: #ffffff;
                    display: none;
                }

                button {
                    display: none;
                    color: #ffffff;
                    background-color: rgba(255, 255, 255, 0);
                    border: 1px solid #ffffff;
                    padding: 5px 20px;
                    margin-left: 20px;
                    font-size: 10px;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                    }

                    a:hover {
                        color: #ffffff;
                    }
                }
            }
        }

        li:hover {
            background: #006eff;
            border: 1 solid #006eff;
            box-shadow: 5px 5px 27px 0px rgba(0, 110, 255, 0.5);

            img {}

            div {
                h3{
                    color: #ffffff;
                }
                p {
                    display: none;
                }

                div {
                    display: inline-block;
                }

                button {
                    display: block;
                    color: #ffffff;
                    background-color: rgba(255, 255, 255, 0);
                    border: 1px solid #ffffff;
                    padding: 5px 20px;
                    margin-top: 20px;
                    margin-left: 130px;
                    font-size: 18px;
                }
            }
        }
        li:nth-child(3){
            margin-right: none;
        }
    }
}