// 公司资质
.qualifications {
    width: 100%;
    background: #f4f7fe;
    padding-bottom: 40px;

    .content_title {
        h1 {
            color: #333333;
        }

        section {
            color: #666666;
        }
    }

    .swiper-container {
        .swiper-wrapper {
            transition-timing-function: linear;
            .swiper-slide {
                img {
                    // width: 260px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .qualifications {
        padding-bottom: 20px;
        .swiper-container {
            margin-left: 8%;
            .swiper-wrapper {
                .swiper-slide {
                    img {}
                }
            }
        }
    }
}