// 团队风采
.team {
    width: 100vw;
    background: #ffffff;

    .container {
        .team_tit {
            h2 {
                font-size: 34px;
                text-align: center;
                font-weight: 700;
                text-align: center;
                color: #333333;
            }

            section {
                margin-top: 20px;
                font-size: 22px;
                font-weight: 400;
                text-align: center;
                color: #666666;
            }
        }

        #certify {
            position: relative;
            transform: translate(-15px,0);
            width: 1200px;
            .swiper-container {
                transform: translate(-20px,0);
                margin-top: 30px;
                width: 1200px;
                height: 500px;
                .swiper-wrapper {
                    .swiper-slide {
                        width: 520px;
                        height: 408px;
                        background: #fff;
                        box-shadow: 0 8px 30px #ddd;
                        img {
                            display: block;
                            width: 587px;
                            height: 443px;
                        }
                    }
                }
            }
            .swiper-button-prev{
                transform: translate(-10px,0);
            }
            .swiper-button-next{
                transform: translate(10px,0);
            }
        }
    }



}