.case {
  width: 100%;
  padding-top: 40px; }
  .case .container .case_nav {
    width: inherit;
    padding: 0; }
    .case .container .case_nav ul {
      padding: 0;
      width: inherit;
      background: #ffffff;
      box-shadow: 0px 0px 20px 0px rgba(9, 85, 249, 0.2);
      display: flex;
      border-radius: 5px; }
      .case .container .case_nav ul li {
        padding: 18px 16px;
        text-align: center;
        cursor: pointer; }
        .case .container .case_nav ul li img {
          width: 45px;
          height: auto; }
        .case .container .case_nav ul li .select {
          display: none; }
        .case .container .case_nav ul li .unchecked {
          display: inline-block; }
        .case .container .case_nav ul li section {
          margin-top: 10px;
          font-size: 14px;
          font-weight: 400;
          color: #0075ff; }
      .case .container .case_nav ul .active {
        background: #0075ff;
        color: #ffffff; }
        .case .container .case_nav ul .active .select {
          display: inline-block; }
        .case .container .case_nav ul .active .unchecked {
          display: none; }
        .case .container .case_nav ul .active section {
          color: #ffffff; }
      .case .container .case_nav ul li:first-child {
        border-radius: 5px 0px 0px 5px; }
      .case .container .case_nav ul li:last-child {
        border-radius: 0px 5px 5px 0px; }
  .case .container .case_content {
    width: inherit; }
    .case .container .case_content ul {
      width: inherit;
      display: none;
      margin-top: 20px;
      border-radius: 5px; }
      .case .container .case_content ul li {
        padding: 0;
        text-align: center;
        margin-bottom: 20px; }
        .case .container .case_content ul li .case_content_item {
          width: 94%;
          margin-left: 3%;
          padding-top: 50px;
          padding-bottom: 30px;
          background: #ffffff;
          border: 2px solid #d7e7ff;
          border-radius: 5px; }
          .case .container .case_content ul li .case_content_item img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid #ccc;
            background-color: #ffffff; }
          .case .container .case_content ul li .case_content_item h3 {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            color: #333333; }
          .case .container .case_content ul li .case_content_item div {
            width: 24px;
            height: 4px;
            background: #333333;
            margin: 0 auto;
            margin-top: 20px; }
          .case .container .case_content ul li .case_content_item button {
            width: 140px;
            height: 50px;
            border: 1px solid #ffffff;
            display: none;
            color: #ffffff;
            background-color: rgba(255, 255, 255, 0);
            font-size: 18px;
            border-radius: 5px;
            margin-top: 50px;
            margin-bottom: 30px; }
          .case .container .case_content ul li .case_content_item p {
            padding: 0 20px;
            margin-top: 40px;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            color: #999999;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical; }
      .case .container .case_content ul .case_content_item:hover {
        background: #0075ff; }
        .case .container .case_content ul .case_content_item:hover h3 {
          color: #ffffff; }
        .case .container .case_content ul .case_content_item:hover div {
          background: #ffffff; }
        .case .container .case_content ul .case_content_item:hover button {
          display: inline-block; }
        .case .container .case_content ul .case_content_item:hover p {
          display: none; }
    .case .container .case_content .on {
      display: block; }

/*# sourceMappingURL=case.css.map */
