.case {
  width: 100%;
  padding-top: 30px; }
  .case .container {
    padding: 0; }
    .case .container .case_handle {
      margin-top: 100px;
      height: 140px;
      margin: 0; }
      .case .container .case_handle .case_nav {
        width: 99%;
        margin-left: 8px;
        background: #ffffff;
        box-shadow: 0px 0px 20px 0px rgba(9, 85, 249, 0.2);
        border-radius: 5px; }
        .case .container .case_handle .case_nav ul {
          padding: 0;
          margin-bottom: 0;
          width: 100%;
          margin-right: 10px;
          display: flex;
          border-radius: 5px; }
          .case .container .case_handle .case_nav ul li {
            padding: 20px 0;
            text-align: center;
            cursor: pointer; }
            .case .container .case_handle .case_nav ul li img {
              margin: 0 25.5px;
              width: 45px;
              height: auto; }
            .case .container .case_handle .case_nav ul li .select {
              display: none; }
            .case .container .case_handle .case_nav ul li .unchecked {
              display: inline-block; }
            .case .container .case_handle .case_nav ul li section {
              padding: 0;
              margin: 0;
              margin-top: 10px;
              font-size: 14px;
              font-weight: 400;
              color: #0075ff; }
          .case .container .case_handle .case_nav ul .active {
            background: #0075ff;
            color: #ffffff; }
            .case .container .case_handle .case_nav ul .active .select {
              display: inline-block; }
            .case .container .case_handle .case_nav ul .active .unchecked {
              display: none; }
            .case .container .case_handle .case_nav ul .active section {
              color: #ffffff; }
          .case .container .case_handle .case_nav ul li:first-child {
            border-radius: 5px 0px 0px 5px; }
          .case .container .case_handle .case_nav ul li:last-child {
            border-radius: 0px 5px 5px 0px; }
            .case .container .case_handle .case_nav ul li:last-child img {
              margin: 0 28.5px; }
    .case .container .case_content {
      width: inherit;
      margin: 0;
      padding: 0; }
      .case .container .case_content ul {
        margin: 0;
        padding: 0;
        width: inherit;
        display: none;
        border-radius: 5px; }
        .case .container .case_content ul li {
          padding: 0;
          margin: 0;
          text-align: center;
          margin-bottom: 20px; }
          .case .container .case_content ul li .case_content_item {
            width: 94%;
            margin-left: 3%;
            padding: 40px 0;
            background: #ffffff;
            border: 2px solid #d7e7ff;
            border-radius: 5px; }
            .case .container .case_content ul li .case_content_item img {
              width: 100px;
              height: auto;
              border-radius: 50%;
              border: 1px solid #ccc;
              background-color: #ffffff; }
            .case .container .case_content ul li .case_content_item h3 {
              font-size: 24px;
              font-weight: 700;
              text-align: center;
              color: #333333; }
            .case .container .case_content ul li .case_content_item div {
              width: 24px;
              height: 4px;
              background: #333333;
              margin: 0 auto;
              margin-top: 20px; }
            .case .container .case_content ul li .case_content_item .case_content_item_btn {
              display: none;
              width: 100%;
              height: 82px; }
              .case .container .case_content ul li .case_content_item .case_content_item_btn button {
                width: 140px;
                height: 50px;
                border: 1px solid #ffffff;
                color: #ffffff;
                background-color: rgba(255, 255, 255, 0);
                font-size: 18px;
                border-radius: 5px;
                margin-top: 20px; }
                .case .container .case_content ul li .case_content_item .case_content_item_btn button a {
                  color: #ffffff;
                  text-decoration: none; }
            .case .container .case_content ul li .case_content_item p {
              height: 82px;
              padding: 0 20px;
              margin: 0;
              margin-top: 20px;
              font-size: 14px;
              font-weight: 400;
              text-align: left;
              color: #999999;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical; }
        .case .container .case_content ul .case_content_item:hover {
          background: #0075ff; }
          .case .container .case_content ul .case_content_item:hover h3 {
            color: #ffffff; }
          .case .container .case_content ul .case_content_item:hover div {
            background: #ffffff; }
          .case .container .case_content ul .case_content_item:hover .case_content_item_btn {
            background: #0075ff;
            display: inline-block; }
          .case .container .case_content ul .case_content_item:hover p {
            display: none; }
      .case .container .case_content .on {
        display: block; }

@media (max-width: 1200px) {
  .case .container .case_handle .case_nav {
    margin: 0;
    width: 100%;
    padding-bottom: 14px;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    overflow: auto; }
    .case .container .case_handle .case_nav ul {
      white-space: nowrap;
      justify-content: space-between;
      flex: 1 0 auto; } }
@media (max-width: 992px) {
  .case .container .case_content {
    margin-top: 20px; }
    .case .container .case_content ul li .case_content_item img {
      width: 40%; }
    .case .container .case_content ul li .case_content_item h3 {
      font-size: 20px; }
    .case .container .case_content ul li .case_content_item .case_content_item_btn {
      height: 32px; }
      .case .container .case_content ul li .case_content_item .case_content_item_btn button {
        margin-top: 0;
        width: 90px;
        height: 30px;
        font-size: 14px;
        line-height: 12px; }
    .case .container .case_content ul li .case_content_item p {
      font-size: 12px;
      height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; } }
@media (max-width: 768px) {
  .case .container .case_handle {
    margin: 0 5%;
    overflow: hidden;
    height: 94px;
    box-shadow: 0px 0px 20px 0px rgba(9, 85, 249, 0.2); }
    .case .container .case_handle .case_nav ul li img {
      width: 28px; }
    .case .container .case_handle .case_nav ul li section {
      font-size: 12px; }
  .case .container .case_content {
    margin-top: 20px;
    padding: 0;
    padding: 0 6%; }
    .case .container .case_content ul {
      padding: 0; } }
@media (max-width: 450px) {
  .case .container .case_content ul {
    padding: 0; }
    .case .container .case_content ul li .case_content_item {
      padding: 20px 0; }
      .case .container .case_content ul li .case_content_item img {
        width: 50px; }
      .case .container .case_content ul li .case_content_item h3 {
        font-size: 16px; }
      .case .container .case_content ul li .case_content_item p {
        font-size: 12px; } }

/*# sourceMappingURL=case.css.map */
