.application {
  width: 100%;
  position: relative;
  padding-bottom: 70px; }
  .application .content_title h1 {
    color: #333333; }
  .application .content_title section {
    color: #666666; }
  .application .application_down {
    position: relative; }
    .application .application_down img {
      width: 1200px;
      height: auto;
      transform: translate(-15px, 0); }
    .application .application_down .application_down {
      position: absolute;
      top: 0;
      left: -15px;
      height: 500px;
      display: flex; }
      .application .application_down .application_down .application_down_left {
        width: 500px;
        height: 500px;
        position: relative; }
        .application .application_down .application_down .application_down_left li {
          width: 335px;
          height: 80px;
          border-radius: 50px;
          position: absolute;
          padding-top: 10px; }
          .application .application_down .application_down .application_down_left li .left_left_item {
            width: 220px;
            margin-left: 30px; }
            .application .application_down .application_down .application_down_left li .left_left_item h4 {
              color: #ffffff;
              font-size: 16px;
              padding: 0;
              margin: 0;
              text-align: right;
              font-weight: 400; }
            .application .application_down .application_down .application_down_left li .left_left_item section {
              text-align: right;
              color: #ffffff;
              font-size: 12px;
              padding: 0;
              margin: 0;
              margin-top: 5px; }
          .application .application_down .application_down .application_down_left li .left_right_item {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 60px;
            height: 60px;
            border-radius: 50%; }
            .application .application_down .application_down .application_down_left li .left_right_item img {
              width: 40px;
              height: 40px;
              transform: translate(10px, 8px); }
      .application .application_down .application_down .application_down_left li:nth-child(1) {
        top: 1px;
        left: 54px; }
      .application .application_down .application_down .application_down_left li:nth-child(2) {
        top: 118px;
        left: 5px; }
      .application .application_down .application_down .application_down_left li:nth-child(3) {
        top: 228px;
        left: 50px; }
      .application .application_down .application_down .application_down_left li:nth-child(4) {
        top: 338px;
        left: 134px; }
      .application .application_down .application_down .application_down_central {
        width: 200px;
        height: 200px;
        text-align: center;
        padding-top: 90px; }
        .application .application_down .application_down .application_down_central img {
          width: 100px;
          height: 100px;
          transform: translate(0, 0); }
        .application .application_down .application_down .application_down_central p {
          font-size: 18px;
          font-weight: 700;
          text-align: center;
          color: #ffffff;
          margin-top: 10px; }
      .application .application_down .application_down .application_down_right {
        position: relative;
        width: 500px;
        height: 500px; }
        .application .application_down .application_down .application_down_right li {
          width: 335px;
          height: 80px;
          border-radius: 50px;
          position: absolute;
          padding-top: 10px;
          display: flex; }
          .application .application_down .application_down .application_down_right li .right_left_item {
            width: 60px;
            height: 60px;
            border-radius: 50%; }
            .application .application_down .application_down .application_down_right li .right_left_item img {
              width: 38px;
              height: 38px;
              transform: translate(15px, 10px); }
          .application .application_down .application_down .application_down_right li .right_right_item {
            width: 220px;
            margin-left: 16px; }
            .application .application_down .application_down .application_down_right li .right_right_item h4 {
              color: #ffffff;
              font-size: 16px;
              padding: 0;
              margin: 0;
              text-align: left;
              font-weight: 400; }
            .application .application_down .application_down .application_down_right li .right_right_item section {
              text-align: left;
              color: #ffffff;
              font-size: 12px;
              padding: 0;
              margin: 0;
              margin-top: 5px; }
      .application .application_down .application_down .application_down_right li:nth-child(1) {
        top: 0px;
        left: 118px; }
      .application .application_down .application_down .application_down_right li:nth-child(2) {
        top: 114px;
        left: 166px; }
      .application .application_down .application_down .application_down_right li:nth-child(3) {
        top: 226px;
        left: 124px; }
      .application .application_down .application_down .application_down_right li:nth-child(4) {
        top: 336px;
        left: 38px; }
  .application .application_down_phone {
    display: none; }

@media (max-width: 1200px) {
  .application .application_down {
    display: none; }
  .application .application_down_phone {
    display: block; }
    .application .application_down_phone ul {
      padding: 0; }
      .application .application_down_phone ul li div {
        width: 100%;
        border-radius: 10px;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 20px; }
        .application .application_down_phone ul li div img {
          width: 66px;
          height: auto; }
        .application .application_down_phone ul li div section {
          margin-top: 10px;
          font-size: 20px;
          font-weight: 700;
          color: #ffffff; }
      .application .application_down_phone ul li:nth-child(1) div {
        background: linear-gradient(0deg, #22c7bf 0%, #78f7e2 100%); }
      .application .application_down_phone ul li:nth-child(2) div {
        background: linear-gradient(0deg, #4e81fd 0%, #7fa4ff 100%); }
      .application .application_down_phone ul li:nth-child(3) div {
        background: linear-gradient(0deg, #2673ff 0%, #71c5ff 100%); }
      .application .application_down_phone ul li:nth-child(4) div {
        background: linear-gradient(0deg, #6f69ee 0%, #afa9fd 100%); }
      .application .application_down_phone ul li:nth-child(5) div {
        background: linear-gradient(0deg, #6f69ee 0%, #afa9fd 100%); }
      .application .application_down_phone ul li:nth-child(6) div {
        background: linear-gradient(0deg, #2673ff 0%, #71c5ff 100%); }
      .application .application_down_phone ul li:nth-child(7) div {
        background: linear-gradient(0deg, #4e81fd 0%, #7fa4ff 100%); }
      .application .application_down_phone ul li:nth-child(8) div {
        background: linear-gradient(0deg, #22c7bf 0%, #78f7e2 100%); } }
@media (max-width: 700px) {
  .application {
    padding-bottom: 10px; }
    .application .application_down_phone ul li div img {
      width: 40%; }
    .application .application_down_phone ul li div section {
      font-size: 16px; } }
@media (max-width: 500px) {
  .application {
    padding-bottom: 10px; }
    .application .application_down_phone ul {
      padding: 0 2%; }
      .application .application_down_phone ul li {
        padding: 0 5px; }
        .application .application_down_phone ul li div section {
          font-size: 12px; } }

/*# sourceMappingURL=application.css.map */
