.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 100vw;
  height: 70px;
  padding-top: 10px; }
  .navbar-default .container {
    width: 1200px; }
    .navbar-default .container .navbar-header .navbar-brand {
      transform: translate(0, -7px); }
      .navbar-default .container .navbar-header .navbar-brand .nav_logo {
        width: 100px;
        height: 35px; }
    .navbar-default .container .navbar-nav {
      border: none; }
      .navbar-default .container .navbar-nav li a {
        color: #ffffff; }
      .navbar-default .container .navbar-nav li a:hover {
        color: #ffffff;
        font-weight: bold; }
      .navbar-default .container .navbar-nav .is_true_Underline {
        border-bottom: 2px solid #ffffff; }
    .navbar-default .container .navbar-text span {
      color: #ffffff;
      font-size: 20px; }
    .navbar-default .container .navbar-text .nav_right_ontrial {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #ffffff;
      padding: 5px 20px;
      margin-left: 20px;
      font-size: 10px;
      border-radius: 5px;
      transform: translate(0, -4px); }
      .navbar-default .container .navbar-text .nav_right_ontrial a {
        color: #ffffff;
        text-decoration: none; }
      .navbar-default .container .navbar-text .nav_right_ontrial a:hover {
        color: #ffffff; }

.nav_bg {
  background-color: #006eff; }

.navbar-default .navbar-nav li:first-child {
  border-bottom: 2px solid #ffffff; }

.swiper-container {
  width: 100vw;
  height: 700px; }
  .swiper-container .swiper-wrapper .swiper-slide {
    position: relative; }
    .swiper-container .swiper-wrapper .swiper-slide img {
      width: 100vw;
      height: 700px; }
    .swiper-container .swiper-wrapper .swiper-slide .swiper_btn {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #ffffff;
      padding: 15px 45px;
      margin-left: 20px;
      font-size: 18px;
      border-radius: 5px;
      position: absolute;
      bottom: 37%;
      left: 17.7%; }
  .swiper-container .swiper-pagination {
    transform: translate(0, -20px); }
    .swiper-container .swiper-pagination .swiper-pagination-bullet {
      width: 30px;
      background-color: #ffffff;
      opacity: 0.35;
      border-radius: 50px; }
    .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
      width: 57px;
      opacity: 1; }

.swiper-container {
  height: 900px; }
  .swiper-container .swiper-wrapper .swiper-slide img {
    height: 900px; }
  .swiper-container .swiper-wrapper .swiper-slide .swiper_btn {
    bottom: 40%; }

.application {
  width: 100vw;
  height: 700px;
  padding-top: 50px;
  position: relative; }
  .application .application_top {
    margin-bottom: 40px;
    width: 1200px; }
    .application .application_top .application_tit {
      text-align: center; }
      .application .application_top .application_tit h2 {
        font-size: 36px;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-weight: 700;
        text-align: center;
        color: #333333; }
      .application .application_top .application_tit section {
        height: 25px;
        font-size: 20px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400;
        text-align: center;
        color: #666666;
        margin-top: 20px; }
  .application .application_down {
    width: 1170px;
    position: relative; }
    .application .application_down img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: inherit;
      height: inherit; }
    .application .application_down .application_down {
      position: relative;
      height: 500px; }
      .application .application_down .application_down .application_down_left {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 500px; }
        .application .application_down .application_down .application_down_left li {
          width: 335px;
          height: 80px;
          border-radius: 50px;
          position: absolute;
          padding-top: 10px; }
          .application .application_down .application_down .application_down_left li .left_left_item {
            width: 220px;
            margin-left: 30px; }
            .application .application_down .application_down .application_down_left li .left_left_item h4 {
              color: #ffffff;
              font-size: 16px;
              padding: 0;
              margin: 0;
              text-align: right;
              font-weight: 400; }
            .application .application_down .application_down .application_down_left li .left_left_item section {
              text-align: right;
              color: #ffffff;
              font-size: 12px;
              padding: 0;
              margin: 0;
              margin-top: 5px; }
          .application .application_down .application_down .application_down_left li .left_right_item {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 60px;
            height: 60px;
            border-radius: 50%; }
            .application .application_down .application_down .application_down_left li .left_right_item img {
              width: 40px;
              height: 40px;
              transform: translate(10px, 8px); }
      .application .application_down .application_down .application_down_left li:nth-child(1) {
        top: 1px;
        left: 28px; }
      .application .application_down .application_down .application_down_left li:nth-child(2) {
        top: 114px;
        left: -17px; }
      .application .application_down .application_down .application_down_left li:nth-child(3) {
        top: 221px;
        left: 24px; }
      .application .application_down .application_down .application_down_left li:nth-child(4) {
        top: 328px;
        left: 108px; }
      .application .application_down .application_down .application_down_central {
        width: 120px;
        height: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .application .application_down .application_down .application_down_central img {
          width: 100px;
          height: 100px;
          margin-left: 10px;
          transform: translate(0, -8px); }
        .application .application_down .application_down .application_down_central p {
          font-size: 18px;
          font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
          font-weight: 700;
          text-align: center;
          color: #ffffff;
          margin-top: 100px; }
      .application .application_down .application_down .application_down_right {
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        height: 500px; }
        .application .application_down .application_down .application_down_right li {
          width: 335px;
          height: 80px;
          border-radius: 50px;
          position: absolute;
          padding-top: 10px; }
          .application .application_down .application_down .application_down_right li .right_left_item {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 60px;
            height: 60px;
            border-radius: 50%; }
            .application .application_down .application_down .application_down_right li .right_left_item img {
              width: 38px;
              height: 38px;
              transform: translate(12px, 10px); }
          .application .application_down .application_down .application_down_right li .right_right_item {
            width: 220px;
            position: absolute;
            top: 10px;
            right: 35px; }
            .application .application_down .application_down .application_down_right li .right_right_item h4 {
              color: #ffffff;
              font-size: 16px;
              padding: 0;
              margin: 0;
              text-align: left;
              font-weight: 400; }
            .application .application_down .application_down .application_down_right li .right_right_item section {
              text-align: left;
              color: #ffffff;
              font-size: 12px;
              padding: 0;
              margin: 0;
              margin-top: 5px; }
      .application .application_down .application_down .application_down_right li:nth-child(1) {
        top: 0px;
        left: 8px; }
      .application .application_down .application_down .application_down_right li:nth-child(2) {
        top: 112px;
        left: 52px; }
      .application .application_down .application_down .application_down_right li:nth-child(3) {
        top: 222px;
        left: 10px; }
      .application .application_down .application_down .application_down_right li:nth-child(4) {
        top: 328px;
        left: -72px; }

.marketing {
  background: #fafafa;
  padding-top: 50px;
  width: 100vw;
  height: 700px; }
  .marketing .marketing_tit h2 {
    font-size: 36px;
    font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
    font-weight: 700;
    text-align: center;
    color: #333333; }
  .marketing .marketing_tit section {
    height: 25px;
    font-size: 20px;
    font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin-top: 20px; }
  .marketing .marketing_down {
    width: 1170px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px; }
    .marketing .marketing_down .marketing_down_item {
      width: 460px;
      height: 190px;
      display: flex;
      margin-top: 20px;
      margin-left: 30px;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 0px 21px 15px rgba(56, 56, 56, 0.08);
      padding-left: 40px;
      padding-top: 10px; }
      .marketing .marketing_down .marketing_down_item .marketing_down_item_left {
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular; }
        .marketing .marketing_down .marketing_down_item .marketing_down_item_left h3 {
          font-weight: bold;
          font-size: 26px;
          color: #0754ff;
          letter-spacing: 4px; }
        .marketing .marketing_down .marketing_down_item .marketing_down_item_left p {
          margin-top: 15px;
          width: 192px;
          font-size: 16px;
          text-align: left;
          color: #333333;
          letter-spacing: 2px; }
      .marketing .marketing_down .marketing_down_item .marketing_down_item_right {
        margin-left: 60px;
        margin-top: 22px; }
        .marketing .marketing_down .marketing_down_item .marketing_down_item_right img {
          width: 110px;
          height: auto; }

.solution {
  width: 100vw;
  height: 800px; }
  .solution .solution-box {
    background: #262c50;
    opacity: 0.8;
    height: 800px; }
    .solution .solution-box .solution-bj .solution-header {
      max-width: 1210px;
      padding: 50px 15px;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .solution .solution-box .solution-bj .solution-header h2 {
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        color: #FAFBFE;
        font-weight: inherit; }
      .solution .solution-box .solution-bj .solution-header p {
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.6; }
    .solution .solution-box .solution-bj .solution-content {
      max-width: 1172px;
      margin: 0 auto;
      position: relative;
      top: -20px; }
      .solution .solution-box .solution-bj .solution-content .solution-list {
        width: 250px;
        float: left; }
        .solution .solution-box .solution-bj .solution-content .solution-list ul li {
          width: 100px;
          height: 40px; }
          .solution .solution-box .solution-bj .solution-content .solution-list ul li h2 {
            margin-top: 10px;
            font-size: 15px;
            color: #FFFFFF;
            font-weight: inherit;
            text-align: center;
            line-height: 40px; }
        .solution .solution-box .solution-bj .solution-content .solution-list ul .on {
          background: #0075ff;
          border-radius: 5px; }
      .solution .solution-box .solution-bj .solution-content .solution_content_establish {
        width: 5px;
        height: 500px;
        position: absolute;
        top: -15px;
        left: 140px;
        background: rgba(255, 255, 255, 0.15); }
      .solution .solution-box .solution-bj .solution-content .solution-item {
        margin-left: 200px;
        display: block;
        padding: 20px 10px 0 10px;
        overflow: hidden; }
        .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_bg {
          position: absolute;
          top: -40%;
          left: -32%;
          width: 100vw;
          height: 800px;
          z-index: -2; }
        .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_one {
          margin-top: 10px;
          display: flex;
          justify-content: space-between; }
          .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_one h2 {
            font-size: 22px;
            line-height: 28px;
            color: #FFFFFF;
            margin: 0 0 15px 0;
            font-weight: inherit; }
          .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_one button {
            color: #ffffff;
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid #ffffff;
            height: 30px;
            width: 90px;
            font-size: 10px;
            border-radius: 5px; }
        .solution .solution-box .solution-bj .solution-content .solution-item ul li p {
          margin-top: 20px;
          font-size: 14px;
          color: #ffffff;
          line-height: 22px;
          opacity: 1; }
        .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_small {
          display: flex;
          margin-top: 30px;
          padding-bottom: 10px;
          border-bottom: 1px dashed #ffffff; }
          .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_small li {
            padding-top: 20px;
            padding-bottom: 20px;
            margin-right: 40px; }
            .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_small li img {
              width: 44px;
              height: 44px;
              display: block;
              margin-bottom: 16px; }
            .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_small li span {
              width: 44px;
              font-size: 14px;
              color: #ffffff;
              text-align: center;
              display: inline-block; }
        .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_big {
          display: flex;
          margin-top: 20px; }
          .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_big li {
            margin-right: 40px;
            width: 160px;
            height: 160px;
            position: relative; }
            .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_big li img {
              width: 125px;
              height: 50px;
              margin-top: 40px;
              margin-left: 15px; }
            .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_big li .solution_item_big_up {
              width: 160px;
              height: 0px;
              transition: all 0.8s;
              background-color: #ffffff;
              position: absolute;
              bottom: 0;
              left: 0;
              overflow: hidden; }
              .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_big li .solution_item_big_up img {
                width: 160px;
                height: 160px;
                margin: 0; }
          .solution .solution-box .solution-bj .solution-content .solution-item ul li .solution_item_big li:hover .solution_item_big_up {
            height: 160px;
            transition: all 0.8s;
            background-color: #ffffff; }

.advantage {
  width: 100vw;
  height: 580px;
  padding-top: 50px; }
  .advantage .container {
    width: 1200px; }
    .advantage .container .advantage_tit h2 {
      font-size: 36px;
      font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
      font-weight: 700;
      text-align: center;
      color: #333333; }
    .advantage .container .advantage_tit section {
      height: 25px;
      font-size: 20px;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
      font-weight: 400;
      text-align: center;
      color: #666666;
      margin-top: 20px; }
    .advantage .container .advantage_down {
      height: 400px;
      position: relative; }
      .advantage .container .advantage_down img {
        width: 300px;
        height: auto;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .advantage .container .advantage_down .advantage_down_content {
        position: relative;
        top: 0;
        left: 0; }
        .advantage .container .advantage_down .advantage_down_content li {
          position: absolute;
          width: 340px;
          height: 180px; }
          .advantage .container .advantage_down .advantage_down_content li .item_one {
            position: relative;
            width: 300px;
            height: 40px;
            padding-top: 10px;
            padding-left: 20px; }
            .advantage .container .advantage_down .advantage_down_content li .item_one div {
              position: absolute;
              top: 0;
              left: 0;
              border: 2px solid #006EFF;
              background-color: #fff;
              width: 55px;
              height: 55px;
              border-radius: 50%;
              font-size: 20px;
              line-height: 55px;
              font-weight: bold;
              text-align: center;
              color: #006eff; }
            .advantage .container .advantage_down .advantage_down_content li .item_one section {
              width: 320px;
              height: 38px;
              text-align: center;
              padding-right: 20px;
              border: 2px solid #006EFF;
              font-size: 20px;
              font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
              font-weight: 400;
              color: #333333;
              line-height: 34px; }
              .advantage .container .advantage_down .advantage_down_content li .item_one section span {
                color: #006EFF;
                font-weight: 700;
                display: inline-block;
                margin-left: 5px; }
          .advantage .container .advantage_down .advantage_down_content li p {
            margin-top: 30px;
            margin-left: 20px;
            font-size: 14px;
            font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
            font-weight: 400;
            text-align: left;
            color: #666666;
            line-height: 24px;
            letter-spacing: 1px; }
        .advantage .container .advantage_down .advantage_down_content li:nth-child(1) {
          top: 0;
          left: 10px; }
        .advantage .container .advantage_down .advantage_down_content li:nth-child(2) {
          top: 0;
          right: 10px; }
        .advantage .container .advantage_down .advantage_down_content li:nth-child(3) {
          top: 200px;
          left: 10px; }
        .advantage .container .advantage_down .advantage_down_content li:nth-child(4) {
          top: 200px;
          right: 10px; }

.research {
  width: 100vw;
  height: 800px;
  padding-top: 50px;
  background: #262730; }
  .research .container {
    width: 1200px; }
    .research .container .research_tit {
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular; }
      .research .container .research_tit h2 {
        font-size: 36px;
        font-weight: 400;
        color: #ffffff;
        margin-top: 20px;
        text-align: center; }
      .research .container .research_tit section {
        font-size: 20px;
        font-weight: 400;
        color: #ffffff;
        margin-top: 30px;
        text-align: center; }
      .research .container .research_tit ul {
        display: flex;
        margin-top: 20px;
        padding-left: 80px; }
        .research .container .research_tit ul li {
          padding-left: 20px; }
          .research .container .research_tit ul li h1 {
            color: #ffffff;
            font-size: 26px;
            margin-right: 210px;
            position: relative; }
          .research .container .research_tit ul li h1::before {
            content: '';
            position: absolute;
            top: 0;
            left: -20px;
            width: 10px;
            height: 30px;
            background-color: #006EFF; }
          .research .container .research_tit ul li section {
            color: #999999;
            font-size: 14px;
            margin-top: 20px;
            text-align: left; }
    .research .container .research_bottom ul {
      margin-top: 20px; }
      .research .container .research_bottom ul li {
        margin-left: 80px;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 5px;
        width: 900px;
        height: 100px;
        padding: 10px 20px;
        margin-top: 20px; }
        .research .container .research_bottom ul li div {
          display: inline-block;
          width: 750px;
          margin-top: 10px; }
          .research .container .research_bottom ul li div h4 {
            padding: 0;
            margin: 0;
            width: 73px;
            height: 19px;
            font-size: 16px;
            font-weight: 400;
            text-align: left;
            color: #ffffff; }
          .research .container .research_bottom ul li div section {
            width: 854px;
            height: 17px;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            color: #ffffff;
            margin-top: 10px; }
        .research .container .research_bottom ul li img {
          width: 60px;
          height: 60px;
          transform: translate(15px, -17px); }

.region {
  width: 100vw;
  height: 800px;
  padding-top: 50px;
  background: #ffffff; }
  .region .container {
    width: 1200px; }
    .region .container .region_tit h2 {
      height: 35px;
      font-size: 36px;
      font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
      font-weight: 700;
      text-align: center;
      color: #333333; }
    .region .container .region_tit section {
      margin-top: 20px;
      height: 24px;
      font-size: 20px;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
      font-weight: 400;
      text-align: center;
      color: #666666; }
    .region .container .region_down {
      height: 500px;
      margin-top: 30px;
      padding-left: 80px; }
      .region .container .region_down ul {
        display: inline-block; }
        .region .container .region_down ul li {
          margin-top: 20px;
          border-top: 2px solid #999999;
          padding-top: 20px; }
          .region .container .region_down ul li h2 {
            font-size: 30px;
            font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
            font-weight: 700;
            text-align: left;
            color: #2589ff;
            margin: 0;
            padding: 0; }
          .region .container .region_down ul li section {
            font-size: 18px;
            font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
            font-weight: 400;
            text-align: left;
            color: #666666;
            margin: 0;
            margin-top: 6px;
            padding: 0; }
      .region .container .region_down div {
        display: inline-block;
        margin-left: 100px; }
        .region .container .region_down div img {
          width: 750px;
          height: auto; }

.service {
  width: 100vw;
  height: 350px;
  padding-top: 30px;
  position: relative; }
  .service img {
    z-index: -1;
    width: 100vw;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0; }
  .service .container {
    width: 1200px; }
    .service .container .service_tit h2 {
      font-size: 24px;
      text-align: center;
      font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
      font-weight: 700;
      color: #ffffff; }
    .service .container .service_tit section {
      font-size: 16px;
      text-align: center;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
      font-weight: 400;
      color: #ffffff;
      margin-top: 30px; }
    .service .container .service_down {
      display: flex;
      margin-top: 24px;
      justify-content: space-between;
      padding: 0 50px; }
      .service .container .service_down li h2 {
        font-size: 40px;
        text-align: center;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-weight: 700;
        color: #ffffff; }
      .service .container .service_down li section {
        font-size: 20px;
        text-align: center;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: 400;
        color: #ffffff; }

.cooperation {
  width: 100vw;
  height: 600px;
  padding-top: 50px;
  background: #ffffff; }
  .cooperation .container {
    width: 1200px; }
    .cooperation .container .cooperation_tit h2 {
      font-size: 36px;
      text-align: center;
      font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
      font-weight: 700;
      text-align: center;
      color: #333333; }
    .cooperation .container .cooperation_tit section {
      margin-top: 20px;
      font-size: 20px;
      font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
      font-weight: 400;
      text-align: center;
      color: #666666; }
    .cooperation .container .cooperation_down ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px 0; }
      .cooperation .container .cooperation_down ul li {
        border: 1px dashed #999999;
        margin-top: 20px;
        margin-right: 20px;
        width: 180px;
        height: 90px;
        cursor: pointer; }
        .cooperation .container .cooperation_down ul li img {
          width: 180px;
          height: 90px; }

.footer {
  background-color: #1c1e2b;
  width: 100vw;
  height: 450px;
  padding-top: 50px; }
  .footer .container {
    width: 1200px; }
    .footer .container .footer_tit {
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 20px; }
      .footer .container .footer_tit img {
        width: 150px;
        height: 50px; }
      .footer .container .footer_tit div {
        height: 40px;
        display: inline-block;
        font-size: 16px;
        font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
        font-weight: 700;
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        border-left: 1px solid #dfdfdf;
        margin-left: 20px;
        padding-left: 20px;
        transform: translate(0, 6px); }
    .footer .container .footer_contenr {
      height: 220px;
      margin-top: 10px;
      display: flex; }
      .footer .container .footer_contenr .footer_contenr_left {
        width: 200px;
        height: 200px; }
        .footer .container .footer_contenr .footer_contenr_left p {
          font-size: 14px;
          font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
          font-weight: 700;
          text-align: left;
          color: #ffffff; }
        .footer .container .footer_contenr .footer_contenr_left h3 {
          font-size: 20px;
          font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
          font-weight: 700;
          text-align: left;
          color: #ffffff; }
        .footer .container .footer_contenr .footer_contenr_left button {
          color: #ffffff;
          background-color: rgba(255, 255, 255, 0);
          border: 1px solid #ffffff;
          padding: 5px 20px;
          font-size: 10px;
          border-radius: 5px;
          margin-top: 10px; }
      .footer .container .footer_contenr .footer_contenr_center {
        margin-left: 50px; }
        .footer .container .footer_contenr .footer_contenr_center table {
          width: 600px; }
          .footer .container .footer_contenr .footer_contenr_center table thead tr th {
            width: 56px;
            height: 40px;
            font-size: 14px;
            font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
            font-weight: 700;
            text-align: left;
            color: #ffffff; }
          .footer .container .footer_contenr .footer_contenr_center table thead tr th:nth-child(2) {
            width: 24px; }
          .footer .container .footer_contenr .footer_contenr_center table thead tr th:hover {
            cursor: pointer; }
          .footer .container .footer_contenr .footer_contenr_center table tbody tr td {
            height: 24px; }
            .footer .container .footer_contenr .footer_contenr_center table tbody tr td a {
              color: #787b92;
              font-size: 12px;
              height: 24px; }
          .footer .container .footer_contenr .footer_contenr_center table tbody tr a:hover {
            color: #ffffff;
            cursor: pointer; }
      .footer .container .footer_contenr .footer_contenr_right {
        width: 200px;
        padding-top: 30px; }
        .footer .container .footer_contenr .footer_contenr_right img {
          width: 90px;
          height: 90px;
          margin-left: 50px; }
        .footer .container .footer_contenr .footer_contenr_right p {
          font-size: 12px;
          margin: 0;
          margin-top: 10px;
          font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
          font-weight: bold;
          text-align: center;
          color: #ffffff; }
    .footer .container .footer_laster {
      height: 90px;
      margin-top: 20px; }
      .footer .container .footer_laster section {
        margin-top: 10px;
        font-size: 12px;
        font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
        font-weight: bold;
        text-align: center;
        color: #999999; }

/*# sourceMappingURL=index.css.map */
