.research {
  width: 100%;
  background: #262730;
  padding-bottom: 70px; }
  .research .content_title {
    padding-bottom: 0; }
    .research .content_title h1 {
      color: #ffffff; }
    .research .content_title section {
      color: #ffffff; }
  .research .content_title_two ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; }
    .research .content_title_two ul li {
      padding: 0;
      margin: 0 auto; }
      .research .content_title_two ul li h1 {
        color: #ffffff;
        font-size: 26px;
        position: relative; }
      .research .content_title_two ul li h1::before {
        content: '';
        position: absolute;
        top: 0;
        left: -20px;
        width: 10px;
        height: 30px;
        background-color: #006EFF; }
      .research .content_title_two ul li section {
        color: #999999;
        font-size: 14px;
        margin-top: 20px;
        text-align: left; }
  .research .research_bottom ul li {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    padding: 20px 3%;
    display: flex; }
    .research .research_bottom ul li div {
      width: 94%; }
      .research .research_bottom ul li div h4 {
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        color: #ffffff; }
      .research .research_bottom ul li div section {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #ffffff;
        margin-top: 10px; }
    .research .research_bottom ul li .research_bottom_img {
      width: 6%;
      text-align: center; }
      .research .research_bottom ul li .research_bottom_img img {
        width: 100%;
        height: auto; }

@media (max-width: 1200px) {
  .research .research_bottom ul li div {
    width: 90%; }
    .research .research_bottom ul li div section {
      width: 95%; }
  .research .research_bottom ul li .research_bottom_img {
    width: 10%; } }
@media (max-width: 992px) {
  .research .content_title_two ul li {
    transform: translate(12px, 0); }
    .research .content_title_two ul li h1 {
      font-size: 22px; }
    .research .content_title_two ul li h1::before {
      width: 8px;
      top: 2px;
      height: 20px; }
    .research .content_title_two ul li section {
      margin-top: 10px;
      font-size: 12px; }
  .research .research_bottom ul li div {
    width: 90%; }
  .research .research_bottom ul li .research_bottom_img {
    padding-top: 10px; } }
@media (max-width: 768px) {
  .research .content_title_two ul li h1 {
    font-size: 18px; }
  .research .research_bottom ul li {
    width: 90%; } }
@media (max-width: 600px) {
  .research {
    padding-bottom: 30px; }
    .research .research_bottom ul li {
      width: 88%;
      padding: 20px 5%; }
      .research .research_bottom ul li div {
        width: 87%; }
      .research .research_bottom ul li .research_bottom_img {
        width: 13%;
        padding-top: 20px; } }
@media (max-width: 450px) {
  .research .content_title_two {
    display: none; }
  .research .research_bottom ul li div {
    width: 82%; }
  .research .research_bottom ul li .research_bottom_img {
    width: 18%;
    padding-top: 40px; } }

/*# sourceMappingURL=research.css.map */
