.research {
  width: 100vw;
  background: #262730;
  padding-bottom: 40px; }
  .research .content_title {
    padding-bottom: 0; }
    .research .content_title h2 {
      color: #ffffff; }
    .research .content_title section {
      color: #ffffff; }
    .research .content_title div ul {
      display: flex;
      justify-content: space-around;
      margin-top: 20px; }
      .research .content_title div ul li h1 {
        color: #ffffff;
        font-size: 26px;
        position: relative; }
      .research .content_title div ul li h1::before {
        content: '';
        position: absolute;
        top: 0;
        left: -20px;
        width: 10px;
        height: 30px;
        background-color: #006EFF; }
      .research .content_title div ul li section {
        color: #999999;
        font-size: 14px;
        margin-top: 20px;
        text-align: left; }
  .research .research_bottom ul li {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin-bottom: 20px; }
    .research .research_bottom ul li div {
      display: inline-block;
      width: 86%;
      margin-top: 20px; }
      .research .research_bottom ul li div h4 {
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        color: #ffffff; }
      .research .research_bottom ul li div section {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #ffffff;
        margin-top: 10px; }
    .research .research_bottom ul li img {
      width: 60px;
      height: auto;
      transform: translate(-15px, -20px); }

@media (max-width: 1200px) {
  .research .content_title h2 {
    color: #ffffff; }
  .research .content_title section {
    color: #ffffff; }
  .research .content_title div ul {
    margin-top: 0px; }
    .research .content_title div ul li h1 {
      font-size: 22px; }
    .research .content_title div ul li h1::before {
      width: 8px;
      top: 2px;
      height: 20px; }
    .research .content_title div ul li section {
      margin-top: 10px;
      font-size: 10px; }
  .research .research_bottom ul li img {
    width: 60px;
    height: auto;
    transform: translate(10px, -20px); } }
@media (max-width: 768px) {
  .research {
    padding-bottom: 20px; }
    .research .content_title div ul li {
      margin-left: 20px; }
      .research .content_title div ul li h1 {
        font-size: 18px; }
      .research .content_title div ul li h1::before {
        content: '';
        position: absolute;
        top: 0;
        left: -14px;
        width: 7px;
        height: 20px;
        background-color: #006EFF; }
      .research .content_title div ul li section {
        padding: 0;
        color: #999999;
        font-size: 12px;
        margin-top: 10px;
        text-align: left; }
    .research .research_bottom ul li {
      margin-left: 6%; }
      .research .research_bottom ul li div {
        width: 80%; }
      .research .research_bottom ul li img {
        width: 60px;
        height: auto;
        transform: translate(10px, -40px); } }
@media (max-width: 428px) {
  .research .research_bottom ul li {
    margin-left: 8%;
    padding-left: 20px; }
    .research .research_bottom ul li div {
      width: 76%; }
    .research .research_bottom ul li img {
      width: 60px;
      height: auto;
      transform: translate(10px, -40px); } }

/*# sourceMappingURL=research.css.map */
