// 平台优势
.advantage {
    width: 100%;
    padding-bottom: 40px;

    .content_title {
        h1 {
            color: #333333;
        }

        section {
            color: #666666;
        }
    }

    .advantage_down {
        position: relative;

        img {
            width: 300px;
            height: auto;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .advantage_down_content {
            ul {
                li {
                    // border: 1px solid red;
                    padding: 0;
                    padding-bottom: 30px;

                    .item_one {
                        position: relative;
                        // border: 1px solid red;
                        display: flex;
                        align-items: center;

                        div {
                            border: 2px solid #006EFF;
                            padding: 14px 16px;
                            background-color: #fff;
                            border-radius: 50%;
                            font-size: 20px;
                            font-weight: bold;
                            text-align: center;
                            color: #006eff;
                            z-index: 1;
                        }

                        section {
                            text-align: center;
                            border: 2px solid #006EFF;
                            transform: translate(-15px, 0);
                            border-radius: 5px;
                            width: 76%;
                            padding-top: 1px;
                            padding-bottom: 3px;
                            font-size: 20px;
                            font-weight: 400;
                            color: #333333;

                            span {
                                color: #006EFF;
                                font-weight: 700;
                                font-size: 24px;
                            }
                        }
                    }

                    p {
                        margin-top: 20px;
                        padding-left: 20px;
                        width: 80%;
                        font-size: 14px;
                        font-weight: 400;
                        color: #666666;
                        letter-spacing: 1px;
                    }
                }
            }

        }
    }
}



@media (max-width: 992px) {
    .advantage {
        .advantage_down {
            img {
                display: none;
            }

            .advantage_down_content {
                ul {
                    li {
                        padding-left: 6%;

                        .item_one {
                            div {
                                font-size: 16px;
                                padding: 8px 10px;
                            }

                            section {
                                padding-top: 5px;
                                font-size: 15px;

                                span {
                                    font-size: 17px;
                                }
                            }
                        }

                        p {}
                    }

                    li:nth-child(2) {
                        display: none;
                    }
                }

            }
        }
    }
}

@media (max-width: 768px) {
    .advantage {
        padding-bottom: 10px;

        .advantage_down {
            .advantage_down_content {
                ul {
                    padding-left: 10%;
                    li {
                        padding-left: 8%;
                        .item_one {
                            div {
                                background-color: #006EFF;
                                color: #ffffff;
                            }

                            section {
                                width: 80%;
                                background-color: #ffffff;

                                span {}
                            }
                        }

                        p {
                            width: 87%;
                        }
                    }
                }

            }
        }
    }
}