// 应用场景 
.application {
    width: 100vw;
    height: 700px;
    position: relative;
    padding: 0;
    .application_tit {
        margin-bottom: 50px;
        h2 {
            font-size: 34px;
            font-weight: 700;
            text-align: center;
            color: #333333;
        }

        section {
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            color: #666666;
            margin-top: 20px;
        }
    }

    .application_down {
        position: relative;
        img {
            width: 1200px;
            height: auto;
            transform: translate(-15px,0);
        }

        .application_down {
            position: absolute;
            top: 0;
            left: -15px;
            height: 500px;
            display: flex;

            // 左部
            .application_down_left {
                width: 500px;
                height: 500px;
                position: relative;

                li {
                    width: 335px;
                    height: 80px;
                    border-radius: 50px;
                    position: absolute;
                    padding-top: 10px;

                    .left_left_item {
                        width: 220px;
                        margin-left: 30px;

                        h4 {
                            color: #ffffff;
                            font-size: 16px;
                            padding: 0;
                            margin: 0;
                            text-align: right;
                            font-weight: 400;
                        }

                        section {
                            text-align: right;
                            color: #ffffff;
                            font-size: 12px;
                            padding: 0;
                            margin: 0;
                            margin-top: 5px;
                        }
                    }

                    .left_right_item {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;

                        img {
                            width: 40px;
                            height: 40px;
                            transform: translate(10px, 8px);
                        }
                    }
                }
            }

            .application_down_left li:nth-child(1) {
                top: 1px;
                left: 54px;
            }

            .application_down_left li:nth-child(2) {
                top: 118px;
                left: 5px;
            }

            .application_down_left li:nth-child(3) {
                top: 228px;
                left: 50px;
            }

            .application_down_left li:nth-child(4) {
                top: 338px;
                left: 134px;
            }

            // 中部
            .application_down_central {
                width: 200px;
                height: 200px;
                text-align: center;
                padding-top: 90px;

                img {
                    width: 100px;
                    height: 100px;
                    transform: translate(0, 0);
                }

                p {
                    font-size: 18px;
                    font-weight: 700;
                    text-align: center;
                    color: #ffffff;
                    margin-top: 10px;
                }

            }

            // 右部
            .application_down_right {
                position: relative;
                width: 500px;
                height: 500px;

                li {
                    width: 335px;
                    height: 80px;
                    border-radius: 50px;
                    position: absolute;
                    padding-top: 10px;
                    display: flex;

                    .right_left_item {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;

                        img {
                            width: 38px;
                            height: 38px;
                            transform: translate(15px, 10px);
                        }
                    }

                    .right_right_item {
                        width: 220px;
                        margin-left: 16px;
                        h4 {
                            color: #ffffff;
                            font-size: 16px;
                            padding: 0;
                            margin: 0;
                            text-align: left;
                            font-weight: 400;
                        }

                        section {
                            text-align: left;
                            color: #ffffff;
                            font-size: 12px;
                            padding: 0;
                            margin: 0;
                            margin-top: 5px;
                        }
                    }
                }
            }

            .application_down_right li:nth-child(1) {
                top: 0px;
                left: 118px;
            }

            .application_down_right li:nth-child(2) {
                top: 114px;
                left: 166px;
            }

            .application_down_right li:nth-child(3) {
                top: 226px;
                left: 124px;
            }

            .application_down_right li:nth-child(4) {
                top: 336px;
                left: 38px;
            }


        }
    }


}