// 合作
.cooperation {
    width: 100vw;
    height: 600px;
    padding-top: 50px;
    background: #ffffff;

    .container {
        width: 1200px;
        .cooperation_tit {
            h2 {
                font-size: 36px;
                text-align: center;
                font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
                font-weight: 700;
                text-align: center;
                color: #333333;
            }

            section {
                margin-top: 20px;
                font-size: 20px;
                font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
                font-weight: 400;
                text-align: center;
                color: #666666;
            }
        }

        .cooperation_down {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 30px 0;

                li {
                    border: 1px dashed #999999;
                    margin-top: 20px;
                    margin-right: 20px;
                    width: 180px;
                    height: 90px;
                    cursor: pointer;

                    img {
                        width: 180px;
                        height: 90px;
                    }
                }
            }
        }
    }


}