// 合作
.cooperation {
    width: 100vw;
    background: #ffffff;
    padding-bottom: 40px;

    .content_title {
        h2 {
            color: #333333;
        }

        section {
            color: #666666;
        }
    }

    .cooperation_down {
        ul {
            li {
                margin-left: 3%;
                padding: 0;
                text-align: center;

                img {
                    width: 205px;
                    height: auto;
                }
            }
        }
    }

}

@media (max-width: 992px) {
    .cooperation {
        width: 100vw;
        background: #ffffff;
        padding-bottom: 40px;

        .content_title {
            h2 {
                color: #333333;
            }

            section {
                color: #666666;
            }
        }

        .cooperation_down {
            ul {
                display: none;
                li {
                    margin-left: 5%;
                    margin-bottom: 20px;

                    img {
                        width: 205px;
                        height: auto;
                    }
                }
            }

            ul:first-child {
                display: block;
            }
        }

    }
}
@media (max-width: 768px) {
    .cooperation {
        padding-bottom: 20px;

        .content_title {
            h2 {
                color: #333333;
            }

            section {
                color: #666666;
            }
        }

        .cooperation_down {
            ul {
                display: none;

                li {
                    margin-left: 6%;
                    margin-bottom: 18px;

                    img {
                        width: 170px;
                        height: auto;
                    }
                }
            }

            ul:first-child {
                display: block;
            }
        }

    }
}