// 二维码营销平台 
.marketing {
    background: #fafafa;
    width: 100vw;
    padding-bottom: 40px;

    .content_title {
        h2 {
            color: #333333;
        }

        section {
            color: #666666;
        }

    }

    .marketing_down {
        .marketing_down_item {
            display: flex;
            padding: 30px 50px;
            box-shadow: 0px 0px 21px 8px rgba(56, 56, 0, 0.08);
            margin-left: 6%;
            margin-bottom: 50px;
            background: #ffffff;
            border-radius: 10px;

            .marketing_down_item_left {
                width: 76%;

                h3 {
                    font-weight: bold;
                    font-size: 26px;
                    color: #0754ff;
                    letter-spacing: 4px;
                    margin: 0;
                }

                p {
                    margin-top: 15px;
                    font-size: 16px;
                    text-align: left;
                    color: #333333;
                    letter-spacing: 2px;
                }
            }

            .marketing_down_item_right {
                img {
                    width: 110px;
                    height: auto;
                }
            }
        }
    }
}


@media (max-width: 992px) {
    .marketing {
        .marketing_down {
            .marketing_down_item {
                margin-bottom: 10px;
                padding: 16px 20px;
                margin-left: 8%;
                margin-bottom: 20px;

                .marketing_down_item_left {
                    h3 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

                .marketing_down_item_right {
                    img {
                        width: 80px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .marketing {
        .marketing_down {
            .marketing_down_item {
                margin-bottom: 10px;
                padding: 16px 20px;
                margin-left: 8%;

                .marketing_down_item_left {
                    h3 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

                .marketing_down_item_right {
                    img {
                        width: 80px;
                    }
                }
            }
        }
    }
}