// 区域
.region {
    width: 100%;
    background: #ffffff;
    padding-bottom: 40px;

    .content_title {
        h2 {
            color: #333333;
        }

        section {
            color: #666666;
        }
    }

    .region_down {
        padding-left: 80px;

        ul {
            display: inline-block;

            li {
                margin-top: 20px;
                border-top: 2px solid #999999;
                padding-top: 20px;

                h2 {
                    font-size: 30px;
                    font-weight: 700;
                    text-align: left;
                    color: #2589ff;
                    margin: 0;
                    padding: 0;
                }

                section {
                    font-size: 18px;
                    font-weight: 400;
                    text-align: left;
                    color: #666666;
                    margin: 0;
                    margin-top: 6px;
                    padding: 0;
                }
            }
        }

        div {
            display: block;
            // border: 1px dashed #999999;

            img {
                width: inherit;
                height: auto;
            }
        }
    }
}

@media (max-width: 768px) {
    .region {
        .region_down {
            padding-left: 12%;
            ul {
                display: none;
                li {
                    h2 {
                        font-size: 20px;
                    }

                    section {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}