// 研发
.research {
    width: 100%;
    background: #262730;
    padding-bottom: 70px;

    .content_title {
        padding-bottom: 0;

        h1 {
            color: #ffffff;
        }

        section {
            color: #ffffff;
        }


    }

    .content_title_two {
        ul {
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;

            li {
                padding: 0;
                margin: 0 auto;

                h1 {
                    color: #ffffff;
                    font-size: 26px;
                    position: relative;
                }

                h1::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -20px;
                    width: 10px;
                    height: 30px;
                    background-color: #006EFF;
                }

                section {
                    color: #999999;
                    font-size: 14px;
                    margin-top: 20px;
                    text-align: left;
                }
            }


        }
    }

    .research_bottom {
        ul {
            li {
                margin: 0 auto;
                margin-top: 20px;
                width: 80%;
                background-color: rgba(255, 255, 255, 0.15);
                border-radius: 5px;
                padding: 20px 3%;
                display: flex;

                div {
                    width: 94%;

                    h4 {
                        padding: 0;
                        margin: 0;
                        font-size: 18px;
                        font-weight: 400;
                        text-align: left;
                        color: #ffffff;
                    }

                    section {
                        font-size: 14px;
                        font-weight: 400;
                        text-align: left;
                        color: #ffffff;
                        margin-top: 10px;
                    }
                }

                .research_bottom_img {
                    width: 6%;
                    text-align: center;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

            }
        }
    }
}

@media (max-width: 1200px) {
    .research {
        .research_bottom {
            ul {
                li {
                    div {
                        width: 90%;

                        h4 {}

                        section {
                            width: 95%;
                        }
                    }

                    .research_bottom_img {
                        width: 10%;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .research {
        .content_title_two {
            ul {
                li {
                    transform: translate(12px, 0);

                    h1 {
                        font-size: 22px;
                    }

                    h1::before {
                        width: 8px;
                        top: 2px;
                        height: 20px;
                    }

                    section {
                        margin-top: 10px;
                        font-size: 12px;
                    }
                }
            }
        }

        .research_bottom {
            ul {
                li {
                    div {
                        width: 90%;

                        h4 {}

                        section {}
                    }

                    .research_bottom_img {
                        padding-top: 10px;

                        img {}
                    }

                }
            }
        }
    }
}

@media (max-width: 768px) {
    .research {
        .content_title_two {
            ul {
                li {
                    h1 {
                        font-size: 18px;
                    }

                    h1::before {}

                    section {}
                }
            }
        }

        .research_bottom {
            ul {
                li {
                    width: 90%;

                    div {
                        // width: 80%;

                        h4 {}

                        section {}
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .research {
        padding-bottom: 30px;
        .research_bottom {
            ul {
                li {
                    width: 88%;
                    padding: 20px 5%;

                    div {
                        width: 87%;

                        h4 {}

                        section {}
                    }

                    .research_bottom_img {
                        width: 13%;
                        padding-top: 20px;

                        img {}
                    }


                }
            }
        }
    }
}

@media (max-width: 450px) {
    .research {
        .content_title_two {
            display: none;
        }

        .research_bottom {

            ul {
                li {
                    div {
                        width: 82%;

                        h4 {}

                        section {}
                    }

                    .research_bottom_img {
                        width: 18%;
                        padding-top: 40px;

                        img {}
                    }
                }
            }
        }
    }
}