// 服务
.service {
    width: 100%;
    position: relative;
    padding-bottom: 60px;

    img {
        z-index: -1;
        width: inherit;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    .content_title {

        h1 {
            color: #ffffff;
        }

        section {
            color: #ffffff;
        }
    }

    .service_down {
        display: flex;
        justify-content: space-between;

        li {
            h2 {
                font-size: 40px;
                text-align: center;
                font-weight: 700;
                color: #ffffff;
                padding: 0;
                margin: 0;
            }

            section {
                padding-top: 10px;
                font-size: 24px;
                text-align: center;
                font-weight: 400;
                color: #ffffff;

            }
        }
    }
}

@media (max-width: 992px) {
    .service {
        img {
            height: 230px;
        }
    }
}

@media (max-width: 768px) {
    .service {
        padding-bottom: 20px;
        .service_down {
            margin-top: 10px;
            padding: 0 5%;
            justify-content: space-around;

            li {
                h2 {
                    font-size: 16px;
                }

                section {
                    padding-top: 5px;
                    font-size: 12px;
                }
            }
        }

    }
}