// 服务
.service {
    width: 100vw;
    height: 350px;
    position: relative;

    img {
        z-index: -1;
        width: 100vw;
        height: 350px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .service_tit {
        h2 {
            font-size: 34px;
            text-align: center;
            font-weight: 700;
            color: #ffffff;
        }

        section {
            font-size: 20px;
            text-align: center;
            font-weight: 400;
            color: #ffffff;
            margin-top: 20px;
        }
    }

    .service_down {
        display: flex;
        margin-top: 24px;
        justify-content: space-between;
        width: 1200px;
        transform: translate(-15px,0);

        li {
            h2 {
                font-size: 50px;
                text-align: center;
                font-weight: 700;
                color: #ffffff;
            }

            section {
                font-size: 24px;
                text-align: center;
                font-weight: 400;
                color: #ffffff;

            }
        }
    }
    
}