// 解决方案
.solution {
    width: 100vw;
    height: 850px;

    .solution_box {
        width: 100vw;
        height: 850px;
        position: relative;

        .box_down {
            width: 100vw;
            height: 850px;

            ul {
                li {
                    width: 100vw;
                    height: 850px;
                    display: none;

                    img {
                        width: 100vw;
                        height: 850px;
                    }
                }
            }
        }

        .box_up {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 850px;
            background: rgba(0, 0, 0, 0.7);

            .solution_tit {
                padding-top: 30px;

                h2 {
                    font-size: 34px;
                    text-align: center;
                    color: #FAFBFE;
                }

                p {
                    margin-top: 20px;
                    font-size: 20px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            .box_up_bottom {
                margin-top: 30px;
                display: flex;

                .box_up_bottom_left {
                    padding-left: 20px;
                    ul {
                        li {
                            width: 130px;
                            height: 46px;

                            h2 {
                                margin-top: 10px;
                                font-size: 18px;
                                color: #FFFFFF;
                                font-weight: inherit;
                                text-align: center;
                                line-height: 46px;
                            }
                        }

                        li:hover {
                            cursor: pointer;
                        }
                    }
                }

                .solution_content_establish {
                    width: 5px;
                    height: 500px;
                    // background: rgba(255, 255, 255, 0.8);
                    background-color: #FFFFFF;
                    transform: translate(50px,0);
                    
                }

                .box_up_bottom_right {
                    transform: translate(100px,0);
                    width: 920px;
                    height: 600px;

                    ul {
                        li {
                            width: 920px;
                            height: 600px;
                            display: none;
                            padding-right: 50px;
                            padding-top: 18px;

                            .solution_item_one {
                                margin-top: 10px;
                                display: flex;
                                justify-content: space-between;

                                h2 {
                                    font-size: 26px;
                                    color: #FFFFFF;
                                    margin: 0 0 15px 0;
                                    font-weight: inherit;
                                }

                                button {
                                    color: #ffffff;
                                    background-color: rgba(255, 255, 255, 0);
                                    border: 1px solid #ffffff;
                                    height: 34px;
                                    line-height: 14px;
                                    width: 90px;
                                    font-size: 14px;
                                    border-radius: 5px;
                                }

                                button:hover{
                                    background-color: #ffffff;
                                    color: #0075ff;
                                    border: 1px solid #0075ff;
                                }
                            }

                            p {
                                margin-top: 20px;
                                font-size: 16px;
                                color: #ffffff;
                                line-height: 22px;
                                opacity: 1;
                            }

                            .solution_item_small {
                                display: flex;
                                justify-content: left;
                                margin-top: 20px;
                                padding-bottom: 10px;
                                border-bottom: 1px dashed #ffffff;
                                .solution_item_small_item {
                                    padding-top: 10px;
                                    height: 100px;
                                    width: 100px;
                                    display: inline-block;
                                    text-align: center;

                                    img {
                                        width: 44px;
                                        height: 44px;
                                        display: block;
                                        margin-left: 26px;
                                        margin-bottom: 16px;
                                    }

                                    span {
                                        display: inline-block;
                                        width: 100px;
                                        font-size: 14px;
                                        color: #ffffff;
                                        text-align: center;
                                    }
                                }
                            }

                            .solution_item_big {
                                display: flex;
                                margin-top: 20px;

                                .solution_item_big_item {
                                    display: inline-block;
                                    margin-right: 40px;
                                    width: 160px;
                                    height: 160px;
                                    position: relative;

                                    img {
                                        width: 125px;
                                        height: 50px;
                                        margin-top: 40px;
                                        margin-left: 15px;
                                    }

                                    .solution_item_big_up {
                                        width: 160px;
                                        height: 0px;
                                        transition: all 0.8s;
                                        background-color: #ffffff;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        overflow: hidden;

                                        img {
                                            width: 160px;
                                            height: 160px;
                                            margin: 0;
                                        }
                                    }
                                }

                                .solution_item_big_item:hover {
                                    .solution_item_big_up {
                                        height: 160px;
                                        transition: all 0.8s;
                                        background-color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .select {
        background: #0075ff;
        border-radius: 5px;
    }

    .on {
        display: block !important;
    }
}