// 解决方案
.solution {
    width: 100%;

    .solution_box {
        width: inherit;
        position: relative;

        .box_down {
            width: inherit;

            ul {
                li {
                    display: none;

                    img {
                        width: 100%;
                        height: 700px;
                    }

                    .box_down_pc {}

                    .box_down_phone {
                        display: none;
                    }
                }
            }
        }

        .box_up {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 700px;
            background: rgba(0, 0, 0, 0.7);

            .content_title {
                h1 {
                    color: #FAFBFE;
                }

                section {
                    color: #FFFFFF;
                }
            }

            .box_up_bottom {
                .box_up_bottom_left {
                    padding: 0;
                    border-right: 4px solid #ffffff;

                    ul {
                        li {
                            margin-left: 13%;
                            width: 70%;
                            padding: 10px 0;
                            margin-top: 8px;

                            h2 {
                                margin: 0;
                                padding: 0;
                                font-size: 18px;
                                color: #FFFFFF;
                                text-align: center;
                            }
                        }

                        li:hover {
                            cursor: pointer;
                        }
                    }
                }

                .box_up_bottom_right {
                    padding-left: 5%;

                    ul {
                        li {
                            display: none;

                            .solution_item_one {
                                margin-top: 10px;
                                display: flex;
                                justify-content: space-between;

                                h2 {
                                    font-size: 26px;
                                    color: #FFFFFF;
                                    margin: 0 0 15px 0;
                                    font-weight: inherit;
                                }

                                button {
                                    color: #ffffff;
                                    background-color: rgba(255, 255, 255, 0);
                                    border: 1px solid #ffffff;
                                    height: 34px;
                                    line-height: 14px;
                                    width: 90px;
                                    font-size: 14px;
                                    border-radius: 5px;
                                }

                                button:hover {
                                    background-color: #ffffff;
                                    color: #0075ff;
                                    border: 1px solid #0075ff;
                                }
                            }

                            p {
                                margin-top: 20px;
                                font-size: 16px;
                                color: #ffffff;
                            }

                            .solution_handle_small {
                                .solution_item_small {
                                    display: flex;
                                    justify-content: left;
                                    margin-top: 40px;
                                    padding-bottom: 40px;
                                    border-bottom: 1px dashed #ffffff;

                                    .solution_item_small_item {
                                        margin: 0 20px;
                                        padding-top: 16px;
                                        text-align: center;

                                        img {
                                            width: 55px;
                                            height: auto;
                                            display: block;
                                            margin: 0 auto;
                                        }

                                        span {
                                            display: inline-block;
                                            margin-top: 14px;
                                            font-size: 14px;
                                            color: #ffffff;
                                            text-align: center;
                                        }
                                    }
                                }
                            }

                            .solution_handle_big {
                                .solution_item_big {
                                    display: flex;
                                    margin-top: 40px;

                                    .solution_item_big_item {
                                        margin: 0 20px;
                                        width: 200px;
                                        height: 100px;
                                        position: relative;

                                        img {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 190px;
                                            height: auto;
                                            // border: 1px dashed #ffffff;
                                        }

                                        .solution_item_big_up {
                                            width: 160px;
                                            height: 0px;
                                            transition: all 0.8s;
                                            background-color: #ffffff;
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            overflow: hidden;

                                            img {
                                                width: 160px;
                                                height: 160px;
                                                margin: 0;
                                            }
                                        }
                                    }

                                    .solution_item_big_item:hover {
                                        img {
                                            top: -5px;
                                            left: -7px;
                                            width: 210px;
                                            height: auto;
                                            transition: all 1s;
                                        }

                                        transition: all 1s;
                                        cursor: pointer;
                                    }

                                    .solution_item_big_item:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .select {
        background: #0075ff;
        border-radius: 5px;
    }

    .on {
        display: block !important;
    }
}

@media (max-width: 992px) {
    .solution {

        .solution_box {
            .box_down {
                ul {
                    li {
                        display: none;

                        img {
                            width: 100%;
                            height: 700px;
                        }
                    }
                }
            }

            .box_up {
                .box_up_bottom {
                    .box_up_bottom_left {
                        border: none;
                        padding: 0;
                        display: flex;
                        white-space: nowrap;
                        justify-content: space-between;
                        overflow: auto;
                        margin-top: 10px;
                        margin-bottom: 24px;

                        ul {
                            display: flex;
                            white-space: nowrap;
                            justify-content: space-between;
                            flex: 1 0 auto;
                            padding-right: 4%;

                            li {
                                margin-left: 10px;
                                width: 120px;
                                padding: 8px 0;

                                h2 {}
                            }

                            li:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .box_up_bottom_right {
                        padding-left: 5%;
                        padding-bottom: 60px;

                        ul {
                            li {
                                display: none;

                                .solution_item_one {
                                    h2 {}

                                    button {}

                                    button:hover {}
                                }

                                p {
                                    margin-top: 10px;
                                    font-size: 14px;
                                }

                                .solution_handle_small {
                                    height: 110px;
                                    overflow: hidden;
                                    border-bottom: 1px dashed #ffffff;
                                    .solution_item_small {
                                        margin-top: 10px;
                                        padding-bottom: 20px;
                                        display: flex;
                                        border: none;
                                        white-space: nowrap;
                                        justify-content: space-between;
                                        overflow: auto;

                                        .solution_item_small_item {
                                            flex: 1 0 auto;

                                            img {
                                                width: 44px;
                                            }

                                            span {}
                                        }
                                    }
                                }

                                .solution_handle_big {
                                    height: 99px;
                                    overflow: hidden;
                                    .solution_item_big {
                                        display: flex;
                                        white-space: nowrap;
                                        justify-content: space-between;
                                        overflow: auto;

                                        .solution_item_big_item {
                                            flex: 1 0 auto;
                                            width: 160px;
                                            height: 60px;
                                            // border: 1px solid red;

                                            img {
                                                width: 130px;
                                            }
                                        }

                                        .solution_item_big_item:hover {
                                            width: 160px;
                                            height: 60px;
                                            // border: 1px solid red;

                                            img {
                                                width: 130px;
                                            }
                                        }

                                        .solution_item_big_item:last-child {
                                            margin-right: 0;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

        .select {
            background: #0075ff;
            border-radius: 5px;
        }

        .on {
            display: block !important;
        }
    }
}

@media (max-width: 768px) {
    .solution {
        .solution_box {
            .box_down {
                ul {
                    li {
                        display: none;

                        img {
                            width: 100%;
                            height: 600px;
                        }

                        .box_down_pc {
                            display: none;
                        }

                        .box_down_phone {
                            display: block;
                        }
                    }
                }
            }

            .box_up {
                height: 600px;

                .box_up_bottom {
                    .box_up_bottom_left {
                        margin-left: 5%;
                        // border: none;
                        padding: 0;
                        display: flex;
                        white-space: nowrap;
                        justify-content: space-between;
                        overflow: auto;

                        ul {
                            display: flex;
                            white-space: nowrap;
                            flex: 1 0 auto;

                            li {
                                margin-left: 10px;
                                width: 100px;
                                padding: 8px 0;
                                // margin-top: 8px;

                                h2 {}
                            }

                            li:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    .box_up_bottom_left::-webkit-scrollbar-thumb{
                        background-color: rgba(255, 255, 255,0.4);
                    }

                    .box_up_bottom_right {
                        padding-left: 5%;
                        padding-right: 5%;

                        ul {
                            li {
                                display: none;

                                .solution_item_one {
                                    h2 {}

                                    button {}

                                    button:hover {}
                                }

                                p {}

                                .solution_handle_small {
                                    .solution_item_small {
                                        .solution_item_small_item {
                                            img {
                                                width: 40px;
                                            }

                                            span {}
                                        }
                                    }
                                }

                                .solution_handle_big {
                                    .solution_item_big {
                                        .solution_item_big_item {
                                            width: 140px;
                                            height: 60px;

                                            img {
                                                width: 100px;
                                            }
                                        }

                                        .solution_item_big_item:hover {
                                            width: 140px;
                                            height: 60px;

                                            img {
                                                top: 0;
                                                left: 0;
                                                width: 100px;
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}