// 亮点
.highlights {
    width: 100%;
    position: relative;
    padding-bottom: 70px;

    .highlights_bg {
        z-index: -1;
        width: inherit;
        height: 410px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container {
        .content_title {
            h1 {
                color: #ffffff;
            }

            section {
                color: #ffffff;
            }
        }

        .highlights_down {
            padding: 0;

            li {
                padding: 0;
                text-align: center;

                img {
                    width: 50%;
                    height: auto;
                    padding: 15px;
                    height: auto;
                    background: #006eff;
                    border-radius: 10px;
                }

                section {
                    margin-top: 10px;
                    font-size: 18px;
                    // text-align: center;
                    font-weight: 400;
                    color: #ffffff;

                }
            }

            // li:nth-child(1){
            //     text-align: left;
            // }
            // li:nth-child(6){
            //     text-align: right;
            // }

        }
    }
}

// @media (max-width: 1200px) {
//     .highlights {
//         padding-bottom: 60px;
//         .highlights_bg {
//             height: 400px;
//         }
//         .container {
//             .highlights_down {
//                 li {
//                     img {
//                         width: 100px;
//                     }
//                     section {}
//                 }
//             }
//         }
//     }
// }

@media (max-width: 992px) {
    .highlights {
        padding-bottom: 40px;

        .highlights_bg {
            height: 360px;
        }

        .container {
            .highlights_down {
                li {
                    img {
                        // width: 80px;
                        // padding: 10px;
                    }

                    section {
                        // width: 80px;
                        font-size: 14px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .highlights {
        padding-bottom: 40px;

        .highlights_bg {}

        .container {
            .content_title {
                padding-bottom: 0;
            }

            .highlights_down {
                li {
                    margin-top: 20px;

                    img {
                        width: 30%;
                        // padding: 10px;
                    }

                    section {}
                }
            }
        }
    }
}

@media (max-width: 620px) {
    .highlights {
        padding-bottom: 20px;

        .highlights_bg {}

        .container {
            .highlights_down {
                li {
                    img {
                        width: 40%;

                    }

                    section {}
                }
            }
        }
    }
}

@media (max-width: 460px) {
    .highlights {
        padding-bottom: 20px;

        .highlights_bg {}

        .container {
            .highlights_down {
                li {
                    img {
                        width: 50%;

                    }

                    section {}
                }
            }
        }
    }
}