// 亮点
.highlights {
    width: 100%;
    position: relative;
    padding-bottom: 40px;
    ;

    .highlights_bg {
        z-index: -1;
        width: inherit;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container {
        padding: 0;

        .content_title {
            h2 {
                color: #ffffff;
            }

            section {
                color: #ffffff;
            }
        }

        .highlights_down {
            display: flex;
            justify-content: space-around;

            li {
                text-align: center;

                img {
                    width: 125px;
                    padding: 15px;
                    height: auto;
                    background: #006eff;
                    border-radius: 10px;
                }

                section {
                    margin-top: 10px;
                    font-size: 18px;
                    text-align: center;
                    font-weight: 400;
                    color: #ffffff;

                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .highlights {
        padding-bottom: 60px;
        .highlights_bg {
            height: 400px;
        }
        .container {
            .highlights_down {
                li {
                    img {
                        width: 100px;
                    }
                    section {}
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .highlights {
        padding-bottom: 40px;
        .highlights_bg {}
        .container {
            .highlights_down {
                li {
                    img {
                        width: 80px;
                        padding: 10px;
                    }
                    section {
                        width: 80px;
                        font-size: 14px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .highlights {
        padding-bottom: 40px;

        .highlights_bg {}

        .container {
            .highlights_down {
                margin-left: 4%;

                li {
                    img {
                        width: 60px;
                        padding: 10px;
                    }

                    section {
                        width: 60px;
                        font-size: 12px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .highlights {
        padding-bottom: 20px;

        .highlights_bg {
            height: 360px;
        }

        .container {
            .highlights_down {
                li {
                    img {
                        width: 50px;
                        padding: 6px;
                    }

                    section {
                        width: 50px;
                        font-size: 8px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}