// 介绍
.introduce {
    width: 100vw;
    height: 760px;
    position: relative;

    .introduce_tit {
        h2 {
            font-size: 34px;
            text-align: center;
            font-weight: 700;
            color: #333333;
        }

        section {
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            color: #666666;
            margin-top: 20px;
        }
    }

    .introduce_down {
        display: flex;
        height: 500px;

        .introduce_left {
            div {
                width: 175px;
                height: 10px;
                background: #006eff;
                margin-top: 60px;
            }

            h2 {
                font-size: 34px;;
                font-weight: 700;
                text-align: left;
                color: #333333;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            p {
                margin-top: 16px;
                width: 466px;
                font-size: 20px;
                font-weight: 400;
                text-align: left;
                color: #333333;
            }

            ul {
                display: flex;
                margin-top: 30px;

                li {
                    width: 100px;
                    height: 100px;
                    background: #ffffff;
                    border: NaNpx solid #d7e7ff;
                    box-shadow: 5px 5px 18px 0px rgba(0, 110, 255, 0.3);
                    margin-right: 20px;
                    padding-top: 18px;

                    img {
                        width: 44px;
                        height: 44px;
                        display: block;
                        margin-left: 28px;
                    }

                    span {
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: center;
                        color: #666666;
                        margin-left: 10px;
                        margin-top: 5px;
                    }
                }
            }
        }

        .introduce_right {
            padding-left: 80px;
            padding-top: 90px;

            img {
                width: 500px;
                height: auto;
            }
        }
    }
}