// 营销
.marketing {
    width: 100vw;
    position: relative;
    padding-bottom: 40px;

    .content_title {
        h2 {
            color: #333333;
        }

        section {
            color: #666666;
        }

    }

    .container {
        position: relative;

        .marketing_bg {
            width: 100%;
            height: auto;
            margin-left: 5%;
        }
    }
}