// 营销
.marketing {
    width: 100vw;
    height: 850px;
    padding-top: 20px;
    position: relative;

    .marketing_tit {
        margin-bottom: 30px;
        h2 {
            font-size: 36px;
            text-align: center;
            font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
            font-weight: 700;
            text-align: center;
            color: #333333;
        }

        section {
            margin-top: 30px;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            color: #666666;
        }
        
    }

    .container {
        width: 1200px;
        position: relative;

        .marketing_bg {
            width: 600px;
            height: auto;
            margin: 0 auto;
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: -1;
        }

        .marketing_down {
            
            li {
                position: absolute;
                width: 180px;
                height: 50px;
                background: #ffffff;
                border: NaNpx solid #d7e7ff;
                border-radius: 18px 18px 18px 18px;
                box-shadow: 5px 5px 18px 0px rgba(0, 110, 255, 0.3);

                div {
                    font-size: 20px;
                    line-height: 50px;
                    font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
                    font-weight: 400;
                    color: #006eff;
                    text-align: center;
                }
            }

            li:nth-child(1) {
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }

            li:nth-child(2) {
                top: 100px;
                left: 230px;
            }

            li:nth-child(3) {
                top: 300px;
                left: 170px;
            }

            li:nth-child(4) {
                top: 500px;
                left: 220px;
            }

            li:nth-child(5) {
                top: 500px;
                left: 750px;
            }

            li:nth-child(6) {
                top: 300px;
                left: 800px;
            }

            li:nth-child(7) {
                top: 100px;
                left: 760px;
            }

        }
    }




}