// 模式
.pattern_one {
    width: 100%;
    position: relative;
    background: #f2f3fa;
    padding-bottom: 40px;

    .pad {
        padding-top: 80px;

        .pattern_one_left {
            padding-top: 60px;
            padding-left: 40px;
            // border: 1px solid red;

            h1 {
                margin: 0;
                padding: 0;
                font-size: 32px;
                font-weight: 700;
                text-align: left;
                color: #0754ff;
            }

            p {
                margin-top: 20px;
                width: 70%;
                font-size: 20px;
                font-weight: 400;
                text-align: left;
                color: #333333;
                line-height: 32px;
            }
        }

        .pattern_one_right {
            // border: 1px solid red;
            padding-left: 10px;

            img {
                width: 500px;
                height: auto;
            }
        }
    }
}

@media (max-width: 992px) {
    .pattern_one {
        .pad {
            .pattern_one_left {
                padding-left: 10%;
                padding-top: 10px;
                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 16px;
                }
            }
            .pattern_one_right {
                text-align: center;
                img {
                    width: 300px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .pattern_one {
        .pad {
            .pattern_one_left {
                // transform: translate(0,290px);
                h1 {
                    font-size: 22px;
                }

                p {
                    width: 80%;
                    font-size: 14px;
                }
            }
            .pattern_one_right {
                // transform: translate(0,-230px);
                text-align: center;
                img {
                    
                }
            }
        }
    }
}