// 宣传
.propaganda {
    width: 100%;
    position: relative;
    background: #f8f8f8;
    padding-bottom: 40px;

    .content_title {
        h2 {
            color: #333333;
        }

        section {
            color: #666666;
        }
    }

    img {
        width: 1200px;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .propaganda {
        padding-bottom: 40px;    
        img {
            width: 1000px;
            height: auto;
        }
    }
}

@media (max-width: 992px) {
    .propaganda {
        padding-bottom: 40px;    
        img {
            margin-left: 5%;
            width: 100%;
            height: auto;
        }
    }
}
